.spr-sprite, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate:hover :before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate.user-voted-wrapper :before, body.node-type-webform div.radio span, body.node-type-webform div.radio span.checked, body.node-type-webform div.radio span.radio.focus.active span, body.node-type-webform div.radio.hover.active span, body.node-type-webform div.radio.focus.active span, .uuid-554962ee-2ff8-40a5-a7ec-d0159f1cec66 .field-name-body .field-items:before, .uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker span, .uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker span.checked, .uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker.hover.active span, .uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker.focus.active span { background: url('images/spr.png') no-repeat; }

/* External Fonts */
/* font vars */
/* font sizes. based on 14px/87.5% default font size */
/* color vars */
/* backgrounds/borders */
/* fonts */
/* box sizing */
/* @file global.styles  Styles you add here will load for all device sizes, they are "global", as opposed to "responsive" styles, which only load for a given breakpoint (media query) that you set in theme settings. See the README for more details.   How to use this file: --------------------  There are many empty selectors and some basic styles to act as a guide. Nothing is set in stone and you can change anything - even delete all of it and start with your own clean slate.  See global.base also which includes normalize.css and some additional helper classes and base styles. */
/* ============================================================================= Base ========================================================================== */
/* To preserve theme settings never apply font properties to the HTML element. This is critically important if you are using the Responsive JavaScript feature as this relies on being able to set a pseudo font family on the HTML element. If you need to set default font properties of any kind use the BODY element as these can be overridden using font theme settings. */
html { background: #fff; }

body { font-family: "Neo Sans W10", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 87.5%; }

html.lt-ie9 ul.menu li { margin: 0 !important; }
html.lt-ie9 .block-content li { padding: 0 !important; }

/* ============================================================================= HTML Elements ========================================================================== */
pre, code, tt, samp, kbd, var { font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif; }

/* ============================================================================= Wrappers ========================================================================== */
/* Page wrapper, includes the .container class which sets the overall page or section width Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it! */
#page { z-index: 100; }

body #page > div { padding: 0 46px; }
body.front #page > div, body.node-type-expert #page > div, body.page-meet-the-ra-experts #page > div, body.node-type-webform #page > div { padding: 0; }

/* Wraps all header elements - branding and .region-header */
#header { padding-top: .8em; }
#header #block-panels-mini-header-menus { position: relative; margin-bottom: 8px; }

/* Wraps the sidebars the content column */
/* Main content column wrapper */
/* Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column */
/* Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style */
.field-content ul:not([class]):not([id]), .field-content ol:not([class]):not([id]) { padding-left: 10px; margin-left: 20px; }

/* Footer wrapper */
/* Panels may need additional margin wrangling when in the $content region */
/* Full Width Wrappers These are used in the optional page--full-width-wrappers.tpl.php template. All have internal .container classes. In the full width wrapper template the .container classes set the width or max-width of the contained element - you can style this but never add any width/margin/padding/borders etc to .container */
/* Wraps #page */
/* Wraps the leaderboard */
/* Wraps the header */
#header-wrapper { /* Debug styles, is this working */ background: rgba(255, 192, 203, 0.5); }

/* Wraps the nav elements */
/* Wraps breadcrumb */
/* Wraps messages and help */
/* Wraps the secondary content/preface region */
/* Wraps the main content column */
/* Wraps the tertiary content/postfix region */
/* Footer wrapper */
#footer-wrapper { /* Debug styles, is this working? */ background: rgba(255, 192, 203, 0.5); }

/* ============================================================================= Branding ========================================================================== */
/* Wraps all the branding elements, logo, name and slogan */
/* Logo */
#logo a { display: block; width: 270px; height: 35px; padding: .2em; background: url(../images/ra-logo-sprite.svg) 0 3px no-repeat; }
#logo a:hover { background-position: 0 -37px; }

#logo img, #site-name { display: none; }

html.lt-ie9 #logo a { display: block; width: 2.5em; height: auto; padding: .2em; background: none; }
html.lt-ie9 #site-name { display: block; }
html.lt-ie9 #logo img { display: block; width: 35px; height: 35px; }

/* Wrapper for the site name and slogan (hgroup) */
div.pane-page-slogan { font-size: 0.857em; color: #4d4d4f; margin-left: 15px; }

/* Site name (h1) */
#site-name, #site-name h1, #site-name .block-inner, #logo .block-inner { margin: 0; }

#site-name h1 { font-size: 100%; }

#site-name a, #site-name a:link, #site-name a:visited, #site-name a:hover, #site-name a:focus { text-decoration: none; color: #008da9; cursor: pointer; padding: .1em; line-height: 2; font-family: "Neo Sans W10", sans-serif; font-size: 1.5em; font-weight: normal; }

#site-name a span { font-family: "Neo Sans W10 Light", sans-serif; }

/* Site slogan (h2) */
#site-slogan { margin: 0; }

/* ============================================================================= Page content header ========================================================================== */
/* Main content header wraps the page title, tabs and actions links */
#main-content-header #page-title { display: none; }

/* The main page title (h1) */
#page-title { margin: 0; }

/* ============================================================================= Misc Global Styles ========================================================================== */
/* Feed icons */
/* Aggregator feed source */
#aggregator .feed-source .feed-icon { display: inline; float: none; margin-right: 10px; }

.feed-details dt, .feed-details dd { display: inline; margin: 0; }

/* Generic styles for the more link */
/* Generic styles for links. See the ul.links declaration in node and comment stylesheets */
ul.links { margin: 0; padding: 0; }

ul.links.inline { display: block; }

ul.links li { display: inline; list-style: none; padding: 0 10px 0 0; }

/* Search results are an ordered list so reset the margin */
.search-results { margin: 0; }

/* ============================================================================= Regions ========================================================================== */
/* Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc */
/* Regions have an inner div - perfect for adding margin, padding or borders */
/* Regions can be nested, such as when using Panels */
/* Header region, embedded in the #header */
/* Generally used to output Drupals help block, if the help module is enabled */
/* Secondary content */
/* Sits above the main content header, like a content-top region */
/* Sits below the main content, like a content-bottom region */
/* Sidebars - targets both */
/* First sidebar */
/* Second sidebar */
/* Tertiary content */
/* Footer region */
/* ============================================================================= Links ========================================================================== */
a { text-decoration: none; }

a:hover, a:focus { text-decoration: underline; }

/* ============================================================================= Primary, Secondary and Menu Bar region menus ========================================================================== */
/* Use one of the following id's for granular control: - #menu-bar (menu bar region) - #primary-menu (main menu) - #secondary-menu (secondary/user menu) You can target all of these with .nav or div[id$="menu-bar"] */
.nav { clear: both; margin: 10px 0; }

#menu-bar.nav { margin: 0; }

.nav ul, ul.menu, .nav ul.menu { margin: 0; padding: 0; }

.nav li, .nav ul.menu li { display: inline; float: left; list-style: none; margin: 0; padding: 0; }

.nav li a, .nav ul.menu li a { display: block; white-space: nowrap; padding: 0 10px; }

.nav .block { margin-bottom: 0; }

.lt-ie9 div.pane-menu-menu-header-links ul.menu li a:before, .lt-ie9 div.pane-menu-menu-header-links ul.menu li span:before { font-size: 1.57em; }

div.pane-menu-menu-header-links li a:hover:before, div.pane-menu-menu-header-links li a:hover:after, div.pane-menu-menu-header-links li span:hover:before, div.pane-menu-menu-header-links li span:hover:after { color: #48abbe !important; }

div.pane-menu-menu-header-links li.menu-item-2346 a:before, div.pane-menu-menu-header-links li.menu-item-2511 a:before { content: '\e00d'; /* meet the experts */ font-family: "icomoon" !important; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li.menu-item-1857 { display: none; }

div.pane-menu-menu-header-links li.menu-item-1230 a:before { content: '\e007'; /* RA 101 */ font-family: "icomoon" !important; }

div.pane-menu-menu-header-links li.menu-item-1231 a:before, div.pane-menu-menu-header-links li.menu-item-3739 a:before { content: '\e003'; /* sign up */ font-family: "icomoon" !important; }

div.pane-menu-menu-header-links li.menu-item-1232 span:before { font-family: 'MagnifyGlass' !important; content: '\e600'; /* search */ }

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input:-moz-placeholder { color: #999999; font-family: "Neo Sans W10"; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:hover:after { color: #48abbe; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:after { text-indent: 0; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.first a:after { font-family: "iconsmore"; content: "\e604"; /* facebook icon */ }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.menu-item-1227 a:after { font-family: "iconsmore" !important; content: "\e605"; /* twitter icon */ }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.last a:after { font-family: "iconsmore" !important; content: "\e608"; /*youtube icon */ }

html.lt-ie9 #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links ul { height: 70px; }

/* ============================================================================= Superfish ========================================================================== */
ul.sf-menu { margin-bottom: 0; }

ul.sf-menu a { border-left: 0; border-top: 0; padding: 0 10px; text-decoration: none; height: 2.5em; line-height: 2.5em; }

ul.sf-menu li:hover, ul.sf-menu li.sfHover { outline: 0; }

ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active { outline: 0; }

/* Superfish blocks */
.block-superfish ul { margin: 0 !important; padding: 0 !important; }

.block-superfish li { margin: 0 !important; padding: 0 !important; }

/* Vertical style */
.sf-vertical { width: 100%; }

.sf-vertical li { width: 100%; }

.sf-vertical li:hover ul, .sf-vertical li.sfHover ul { left: 100%; top: 0; margin: 0; padding: 0; }

.sf-vertical li a { padding: 0 10px; }

/* Navbar style */
.sf-navbar { padding-bottom: 0 !important; }

/* Sensible padding for the default style */
.sf-menu.sf-style-default a { padding: 0 10px; }

/* ============================================================================= Menus, usually blocks ========================================================================== */
ul.menu { padding-left: 0; }

ul.menu ul { padding-left: 0; }

ul.menu li { margin: 0; }

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content { padding: 0; }

/* ============================================================================= Book navigation menu ========================================================================== */
.book-navigation .page-up { /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */ min-width: 2em; white-space: nowrap; }

.book-navigation .menu { margin-left: 0; }

/* ============================================================================= Breadcrumbs ========================================================================== */
#breadcrumb { margin: 10px 0; }

.breadcrumb { color: #474747; }
.breadcrumb a { color: #474747; }
.breadcrumb span.first { width: 21px; display: inline-block; height: 23px; line-height: 22px; vertical-align: bottom; overflow: hidden; }
.breadcrumb span.first a, .breadcrumb span.first a:hover, .breadcrumb span.first a:focus { text-decoration: none; }
.breadcrumb span.first a:before { position: relative; z-index: 90; display: block; font-family: "iconsmore"; content: "\e603"; color: #9e9e9e; font-size: 0.929em; }

/* If the label is set to show in theme settings the label class is added */
#breadcrumb .breadcrumb-label { font-size: 1em; display: inline; padding-right: 10px; }

#breadcrumb .breadcrumb-label:after { content: ":"; }

#breadcrumb ol { margin: 0; padding: 0; }

#breadcrumb .with-breadcrumb-label ol { display: inline; }

#breadcrumb li { list-style: none; display: inline; }

/* ============================================================================= Pagers ========================================================================== */
ul.pager { clear: both; margin: 0; text-align: center; }

.item-list ul.pager li { margin: 0; }

ul.pager li { background-image: none; display: inline; list-style-type: none; padding: .5em; }

ul.pager li.pager-current { font-weight: 700; }

.block ul.pager li { margin: 0; }

.page_navigation { text-align: right; }
.page_navigation a { display: inline-block; padding: 0 5px; color: #48abbe; font-weight: bold; }
.page_navigation a.previous_link { margin-right: 5px; }
.page_navigation a.next_link { margin-left: 5px; }
.page_navigation a.no_more, .page_navigation a.ellipse { display: none; }
.page_navigation a.previous_link, .page_navigation a.next_link { border: 2px solid #48abbe; }
.page_navigation a.previous_link:after, .page_navigation a.next_link:after { content: " Page"; }
.page_navigation a.previous_link:hover, .page_navigation a.next_link:hover { text-decoration: none; color: white; background-color: #48abbe; }
.page_navigation a.page_link { border-right: 2px solid #48abbe; line-height: normal; }
.page_navigation a.page_link.last { border: none; }
.page_navigation a.page_link.active_page { color: #999999; cursor: default; text-decoration: none; }

/* Theme the various states of pager links */
/* ============================================================================= Skip Navigation ========================================================================== */
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0; padding: 0 0.5em; position: absolute; width: 12em; z-index: 50; }

#skip-link a { background: #444; background: rgba(0, 0, 0, 0.6); color: #fff; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }

#skip-link a:link, #skip-link a:visited { background: #444; background: rgba(0, 0, 0, 0.6); color: #fff; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }

#skip-link a:hover, #skip-link a:focus, #skip-link a:active { outline: 0; }

/* ============================================================================= Tabs (local tasks) ========================================================================== */
#tasks { margin-bottom: 15px; }

ul.primary { border-bottom-color: #ccc; margin: 20px 0; padding: 0 0 0 5px; }

ul.primary li { display: block; float: left; margin: 0 1px -1px; }

ul.primary li a { background-color: #f5f5f5; border-color: #ccc; margin-right: 1px; padding: 0 10px; display: block; float: left; height: 1.5em; line-height: 1.5em; }

ul.primary li a:hover, ul.primary li a:focus { background-color: #eee; border-color: #ccc; }

ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus { background-color: #fff; border-bottom-color: #fff; }

ul.secondary { border-bottom: 1px solid #ccc; margin: 1em 0 0; padding: 0 .3em 1em; }

ul.secondary li { border-right: 0; list-style: none; padding: 0 10px 0 0; }

ul.secondary li a:hover, ul.secondary li a.active { border-bottom: none; text-decoration: underline; }

/* ============================================================================= Action links ========================================================================== */
ul.action-links { margin: 20px 0 0; list-style: none; }

.node-type-article .info_text { display: none; }

/* ============================================================================= Field Styling ========================================================================== */
/* Wrapper for any field */
/* Above and inline classes are on the field wrapper */
/* When labels are set to inline in field display settings the clearfix class is automatically added */
/* Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues */
.field-label { font-size: 1em; font-weight: 700; font-family: inherit; line-height: inherit; margin-bottom: 0; }

/* Field types (Core) */
/* Image fields use the <figure> and <figcaption> elements from HTML5 */
/* Taxonomy */
.field-type-taxonomy-term-reference { /* The same bottom margin as p, blockquote, ul, ol and dl */ margin-bottom: 1.5em; }

.field-type-taxonomy-term-reference.field-label-inline .field-items { margin: 0; padding: 0; }

.field-type-taxonomy-term-reference.field-label-inline .field-item { display: inline; list-style: none; padding: 0 10px 0 0; }

/* Text */
/* Long text */
/* Text with summary */
/* File */
/* Number/Integer */
/* Decimal */
/* Number float */
/* List */
/* List boolean */
/* List integer */
/* List float */
/* Field types (Contrib) */
/* Named fields */
/* Underscores in field name are replaced with dashes */
/* Image Alignment Theme Settings - included here so you can easily override */
/* Float none setting */
/* Float left setting */
.ia-l .field-type-image figure, .iat-l .field-type-image figure { margin: 5px 20px 15px 0; }

/* Centered setting */
.ia-c .field-type-image figure, .iat-c .field-type-image figure { margin: 5px auto 15px; }

/* Float right setting */
.ia-r .field-type-image figure, .iat-r .field-type-image figure { margin: 5px 0 15px 20px; }

/* ============================================================================= Block Styling ========================================================================== */
/* Main wrapper for most blocks, block_system_main does not have it */
.block { margin-bottom: 20px; }

/* Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it */
/* The first block in the region */
/* The last block in the region */
/* Zebra striping for each block in the region */
/* Zebra striping for each block in the region */
/* Block title */
.block-title { margin: 0; }

/* Block content wrapper */
/* Match item list and block menu margin and padding */
.block-content ul, .block-content ol { padding: 0; }

.block-content li { margin: 0; padding: 0; }

.block-content ul.menu li { list-style: none; }

/* Block for the latest news items in the first category */
/* Block for the latest news items in the first feed */
/* First block created with "Add block" link */
/* "Recent blog posts" block */
/* "Book navigation" block for the current book's table of contents */
/* "Recent comments" block */
/* "Active forum topics" block */
/* "New forum topics" block */
/* Language switcher block */
/* Custom menu block */
/* "Recent content" block */
/* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
/* "Most recent poll" block */
/* "Author information" block for the profile of the page's author */
/* "Search form" block */
#mini-panel-header_menus .view-articles .views-row { min-height: 1%; }

/* "Shortcuts" block */
/* "Popular content" block */
/* "Main menu" block */
/* "Management" block for Drupal management menu */
/* "Navigation" block for Drupal navigation menu */
/* "User menu" block for Drupal user menu */
/* "System help" block */
/* "Main page content" block */
#block-system-main .region-conditional-stack { position: relative; z-index: 10; }
#block-system-main .pane-menu-menu-recipe-menu { position: relative; float: left; width: 688px; z-index: 99; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu { list-style: none; margin: 0; padding: 0; background: none; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu ul { margin: 0; padding: 0; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li { list-style: none; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 { position: relative; float: left; width: 170px; margin-right: 2px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > a, #block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > span.nolink { position: relative; display: block; line-height: 38px; color: white; background-color: #8dc63f; text-align: center; z-index: 1; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > a:hover, #block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > a.hover, #block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > span.nolink:hover, #block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > span.nolink.hover { background-color: #ffc425; cursor: pointer; text-decoration: none; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1.expanded > a:after, #block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1.expanded > span.nolink:after { content: ''; display: inline-block; width: 0; height: 0; border-width: 8px 4px 0 4px; border-color: white transparent transparent transparent; border-style: solid; margin-left: 5px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul { display: none; position: absolute; width: 164px; top: 38px; left: 0; background-color: white; padding: 3px 3px 0; -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.33); -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.33); box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.33); -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li { position: relative; margin-bottom: 3px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field { display: table; width: 100%; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field span.field-content { display: table-cell; vertical-align: middle; height: 30px; background-color: #81c5d2; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field span.field-content:hover { background-color: #48abbe; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li a { display: block; color: white; font-size: 12px; line-height: normal; padding: 5px 24px 5px 32px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li a:hover { background-color: #48abbe; text-decoration: none; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li.views-row-last { -webkit-border-radius: 0 0 7px 7px; -moz-border-radius: 0 0 7px 7px; -ms-border-radius: 0 0 7px 7px; -o-border-radius: 0 0 7px 7px; border-radius: 0 0 7px 7px; overflow: hidden; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field-field-icon { position: absolute; display: block; top: 0; right: 3px; width: auto; height: 100%; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field-field-icon .field-content { display: table; height: 100%; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field-field-icon .field-content .vertical-box { display: table-cell; height: 100%; vertical-align: middle; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li .views-field-field-icon .field-content .vertical-box img { display: inline; vertical-align: middle; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1 > ul li.menu-item-1592 .views-field-field-icon { right: 12px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1.menu-item-1590 > ul li a { padding-left: 10px; }
#block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1.notouch:hover > ul, #block-system-main .pane-menu-menu-recipe-menu ul.menu li.menu-depth-1.hover > ul { display: block; }
#block-system-main .pane-views-exp-recipes-recipes-page { float: right; width: 220px; }
#block-system-main .pane-views-exp-recipes-recipes-page label, #block-system-main .pane-views-exp-recipes-recipes-page .views-exposed-widget { display: none; }
#block-system-main .pane-views-exp-recipes-recipes-page .views-exposed-widget.views-widget-filter-field_search_value, #block-system-main .pane-views-exp-recipes-recipes-page .views-exposed-widget.views-submit-button { padding: 0; display: block; float: left; }
#block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield { width: 150px; -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.26); -moz-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.26); box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.26); background-color: #a5da5d; padding: 0 16px; }
#block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield input[type="text"] { width: 100%; height: 38px; padding: 0; border: none; font-size: 0.857em; line-height: normal; color: white; background: transparent; }
#block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield input::-webkit-input-placeholder { /* WebKit browsers */ color: white; }
#block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: white; }
#block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: white; }
#block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield input:-ms-input-placeholder { /* Internet Explorer 10+ */ color: white; }
#block-system-main .pane-views-exp-recipes-recipes-page .views-submit-button { position: relative; }
#block-system-main .pane-views-exp-recipes-recipes-page input[type="submit"] { width: 38px; height: 38px; margin: 0; border: none; float: left; text-indent: -9999px; padding: 0; background: #8dc63f url("../images/search-ico.gif") 50% 50% no-repeat; overflow: hidden; }
#block-system-main .landing-breadcrumb { clear: both; }
#block-system-main .pane-ra-alters-ra-alters-social-links { margin-top: -20px; overflow: hidden; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content { position: relative; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item { position: relative; display: block; float: left; width: 91px; height: 35px; margin-right: 3px; line-height: 35px; color: white; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item:hover { text-decoration: none; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a [name="fb_share"], #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average [name="fb_share"], #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item [name="fb_share"] { background-color: #546ca7; text-indent: 10px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a [name="fb_share"]:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average [name="fb_share"]:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item [name="fb_share"]:hover { background-color: #769ae2; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a [name="fb_share"]:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average [name="fb_share"]:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item [name="fb_share"]:after { content: "\e604"; font-family: "iconsmore"; font-size: 20px; position: absolute; top: 0; right: 15px; height: 100%; line-height: 34px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.twitter-share-button, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.twitter-share-button, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.twitter-share-button { background-color: #7edefe; text-indent: 10px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.twitter-share-button:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.twitter-share-button:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.twitter-share-button:hover { background-color: #c8f1fc; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.twitter-share-button:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.twitter-share-button:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.twitter-share-button:after { content: "\e605"; font-family: "iconsmore"; font-size: 20px; position: absolute; top: 0; right: 10px; height: 100%; line-height: 34px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.pinit, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.pinit, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.pinit { background-color: #c9232d; text-indent: 10px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.pinit:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.pinit:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.pinit:hover { background-color: #ef4b5f; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.pinit:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.pinit:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.pinit:after { content: "\e606"; font-family: "iconsmore"; font-size: 20px; position: absolute; top: 0; right: 15px; height: 100%; line-height: 34px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.print, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.print, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.print { color: #80b735; float: right; width: auto; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.print:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.print:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.print:hover { color: #a5da5d; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.print:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.print:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.print:before { content: "\e607"; font-size: 20px; font-family: "iconsmore"; margin-right: 10px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.init-modal-forms-contact-processed, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.init-modal-forms-contact-processed, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.init-modal-forms-contact-processed { background-color: #aaaaa9; text-indent: 10px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.init-modal-forms-contact-processed:before { content: ""; display: block; position: absolute; background-position: -58px -91px; height: 17px; width: 23px; left: 90%; top: 50%; margin-left: -20.7px; margin-top: -8.5px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.init-modal-forms-contact-processed:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.init-modal-forms-contact-processed:hover, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.init-modal-forms-contact-processed:hover { background-color: #cccccc; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average { margin-right: 0; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average div { display: inline-block; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average div a { width: auto; float: none; color: white; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate { width: 100%; background-color: #8dc63f; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate:before { content: ""; display: block; position: absolute; background-position: 0 -91px; height: 14px; width: 18px; left: 90%; top: 50%; margin-left: -16.2px; margin-top: -7px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate .rate-wrapper a { margin-right: 0; position: absolute; left: 0; top: 0; text-indent: 30px; width: 100%; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate:hover :before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate.user-voted-wrapper :before { content: ""; display: block; position: absolute; background-position: -18px -91px; height: 14px; width: 18px; left: 90%; top: 50%; margin-left: -16.2px; margin-top: -7px; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate:hover { background-color: #a5da5d; }
#block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average .rate .rate-count { padding-left: 10px; }

.print { color: #80b735; float: right; width: auto; vertical-align: middle; text-decoration: none; }
.print:before { content: "\e607"; font-size: 20px; font-family: "iconsmore"; margin-right: 10px; }
.print:hover { color: #a5da5d; text-decoration: none; }

body.topic-landing .pane-4.topic-meet-experts { display: none; }

body.node-type-page .green-block, body.node-type-page .blue-block { width: 49%; padding: 0; padding-bottom: 3%; overflow: hidden; margin: 1em 0; }
body.node-type-page .green-block h1, body.node-type-page .blue-block h1 { margin: 0; padding: 2% 5%; color: white; font-size: 1.429em; }
body.node-type-page .green-block ul li, body.node-type-page .blue-block ul li { color: #333333; font-size: 1.429em; line-height: 1.1em; margin-bottom: 0.7em; }
body.node-type-page .green-block a.learn-more, body.node-type-page .blue-block a.learn-more { display: block; width: 98px; height: 34px; margin: 2em auto 0 auto; text-align: center; line-height: 34px; background: url("../images/learn-more-button-bg.gif") 0 100% no-repeat; }
body.node-type-page .green-block a.learn-more:hover, body.node-type-page .blue-block a.learn-more:hover { background-position: 0 0; }
body.node-type-page .green-block { float: left; border: 1px solid #8dc63f; }
body.node-type-page .green-block h1 { background-color: #8dc63f; }
body.node-type-page .green-block a.learn-more { color: #7fab28; }
body.node-type-page .blue-block { float: right; border: 1px solid #48abbe; }
body.node-type-page .blue-block h1 { background-color: #48abbe; }
body.node-type-page .blue-block a.learn-more { color: #48abbe; }
body.node-type-page .container-wrapper { clear: both; padding-top: 20px; }
body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .green-block, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .blue-block { padding-top: 36%; }
body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .green-block a.learn-more, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .blue-block a.learn-more { margin-top: 1em; }
body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .green-block { background: url("../images/green-block-bg.png") 0 0 no-repeat; }
body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .blue-block { background: url("../images/blue-block-bg.png") 0 0 no-repeat; }

body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020, body.uuid-02aee8da-a9be-4e68-a344-a448903c273b, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 { background-image: none; }
body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 #main-content-header #page-title, body.uuid-02aee8da-a9be-4e68-a344-a448903c273b #main-content-header #page-title, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 #main-content-header #page-title { display: inline; color: #8dc63f; }
body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .subheading, body.uuid-02aee8da-a9be-4e68-a344-a448903c273b .subheading, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .subheading { margin-top: 0; }
body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .underline, body.uuid-02aee8da-a9be-4e68-a344-a448903c273b .underline, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .underline { text-decoration: underline; }
body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .node-content + nav, body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .rate-widget-custom, body.uuid-02aee8da-a9be-4e68-a344-a448903c273b .node-content + nav, body.uuid-02aee8da-a9be-4e68-a344-a448903c273b .rate-widget-custom, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .node-content + nav, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .rate-widget-custom { display: none; }

body.node-type-webform #page > div.breadcrumb { padding: 0 46px; }
body.node-type-webform .webform-client-form span.form-required { display: none; }
body.node-type-webform .webform-client-form div.webform-component.form-error.webform-component-radios > label { color: #c00 !important; }
body.node-type-webform .webform-client-form div.webform-component.form-error.webform-component-select div.selector { border: 1px solid #c00 !important; }
body.node-type-webform .field-name-body p { margin-bottom: 5px; }
body.node-type-webform .field-name-body p strong { color: #8dc63f; font-size: 1.875em; font-weight: normal; }
body.node-type-webform .field-name-body p small { color: #666666; font: 15px "Neo Sans W10"; width: 79%; display: block; line-height: 16px; }
body.node-type-webform .field-name-body .field-items { color: #666666; font: 1.286em "Neo Sans W10 Medium"; line-height: 31px; }
body.node-type-webform .field-name-body .field-items em { font-family: "Neo Sans W10"; }
body.node-type-webform .field-name-field-webform-extra { color: #666666; font-size: 1.286em; font-family: "Neo Sans W10 Light"; line-height: 1; margin-top: 40px; }
body.node-type-webform .field-name-field-webform-extra p strong { font-family: "Neo Sans W10 Bold"; }
body.node-type-webform .field-name-field-webform-extra a { color: #3399cc; text-decoration: underline; }
body.node-type-webform .field-name-field-webform-extra a:hover { text-decoration: none; }
body.node-type-webform fieldset legend span { font-weight: bold; }
body.node-type-webform fieldset#webform-component-content-information { padding: 0; margin-bottom: 35px; }
body.node-type-webform fieldset#webform-component-content-information > legend { display: block; width: 100%; color: white; }
body.node-type-webform fieldset#webform-component-content-information > legend span { display: block; margin: 0 -1px; padding: 0 36px; font-size: 1.857em; line-height: 52px; font-weight: bold; }
body.node-type-webform fieldset#webform-component-content-information .form-radios, body.node-type-webform fieldset#webform-component-content-information .description { margin-left: 22px; }
body.node-type-webform fieldset#webform-component-content-information input.add_more, body.node-type-webform fieldset#webform-component-content-information input.remove_one { background: #fff; border: 0 none; color: #666666; text-decoration: underline; }
body.node-type-webform fieldset#webform-component-content-information input.add_more:hover, body.node-type-webform fieldset#webform-component-content-information input.remove_one:hover { text-decoration: none; }
body.node-type-webform #webform-component-content-information { border: 0 none; margin-bottom: 0px; }
body.node-type-webform #webform-component-content-information label { display: none; }
body.node-type-webform #webform-component-content-information legend { background-color: #ffc425; }
body.node-type-webform #webform-component-content-information legend span { background-color: #ffc425; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper { padding-top: 15px; }
body.node-type-webform #webform-component-content-information .webform-component { margin: 10px 0px; }
body.node-type-webform #webform-component-content-information #webform-component-content-information--year-of-birth label { position: absolute; top: 2px; right: 130px; display: block; line-height: 30px; font-weight: normal; color: #666666; }
body.node-type-webform #webform-component-conditional-information { border: 0 none; border-bottom: 0; margin-bottom: 0; }
body.node-type-webform #webform-component-conditional-information > legend { display: none; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component { font-size: 1.571em; color: #666666; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label:not([class]) { color: #48abbe; margin-left: 20px; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label:not([class]):before { margin-left: -20px; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label[for="edit-submitted-conditional-information-relationship"]:before { content: "1. "; color: #8dc63f; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label[for="edit-submitted-conditional-information-diadnose-type"]:before { content: "2. "; color: #8dc63f; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label[for="edit-submitted-conditional-information-ever-taken"]:before { content: "3. "; color: #8dc63f; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label[for="edit-submitted-conditional-information-ever-taken-medicines"]:before { content: "4. "; color: #8dc63f; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label[for="edit-submitted-conditional-information-receive-your-medication"]:before { content: "6. "; color: #8dc63f; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component label[for="edit-submitted-conditional-information-is-being-well-controlled"]:before { content: "7. "; color: #8dc63f; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component div .form-item { display: inline-block; padding-right: 30px; color: #666666; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component div .form-item label { font-weight: normal; }
body.node-type-webform #webform-component-conditional-information .fieldset-wrapper .webform-component #edit-submitted-conditional-information-more-info .form-item { display: block; padding: 0; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--receive-your-medication .form-item { display: block; overflow: hidden; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--receive-your-medication .form-item div.radio { float: left; margin-top: 0.5%; margin-right: 1%; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--receive-your-medication .form-item label { float: left; width: 94%; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--about-your-privacy { font-size: 1.286em; line-height: normal; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--about-your-privacy p strong { font-family: "Neo Sans W10 Bold"; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--about-your-privacy a { color: #48abbe; text-decoration: underline; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--about-your-privacy a:hover { text-decoration: none; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--current-treatment .description { width: 275px; margin-left: 7px; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset { border: 0 none; margin: 0; padding: 0; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset legend span { color: #48abbe; display: block; font-size: 1.571em; padding: 0px; margin-left: 20px; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset legend span:before { content: "5. "; color: #8dc63f; margin-left: -20px; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset label { display: none; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset .webform-component-textfield { width: 400px; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset .webform-component-textfield .form-text { padding: 4px; font-size: 18px; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset .fieldset-wrapper > span { color: #48abbe; font-size: 1.143em; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset input.form-submit { background: none; border: none; color: #48abbe; font-size: 1.143em; text-decoration: underline; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset input.form-submit:hover { text-decoration: none; }
body.node-type-webform #edit-actions { border-top: 0; padding: 0 36px 36px; margin: 0 2px; overflow: hidden; }
body.node-type-webform #edit-actions #uniform-edit-submit { background: url("../images/form-submit-but.gif") 0 0 no-repeat; height: 48px; }
body.node-type-webform #edit-actions #uniform-edit-submit:hover { background-position: 0 -48px; }
body.node-type-webform #edit-actions #uniform-edit-submit span { display: block; width: 158px; height: 48px; line-height: 48px; padding: 0; margin: 0; text-align: center; background: none; font-weight: normal; font-size: 1.571em; color: #666666; font-family: "Neo Sans W10"; }
body.node-type-webform div.checker { margin-top: -5px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { body.node-type-webform div.checker { margin-top: -15px; } }
body.node-type-webform div.radio, body.node-type-webform div.radio span, body.node-type-webform div.radio input { width: 22px; height: 26px; }
body.node-type-webform div.radio span { width: 22px; height: 22px; background-position: -69px -23px; }
body.node-type-webform div.radio span.checked, body.node-type-webform div.radio span.radio.focus.active span { background-position: -69px 0; }
body.node-type-webform div.radio.hover.active span, body.node-type-webform div.radio.focus.active span { background-position: -69px 0; }
body.node-type-webform table, body.node-type-webform tbody, body.node-type-webform th, body.node-type-webform td, body.node-type-webform tr.even, body.node-type-webform tr.odd { border: 0; border-color: transparent; }
body.node-type-webform table thead, body.node-type-webform tbody thead, body.node-type-webform th thead, body.node-type-webform td thead, body.node-type-webform tr.even thead, body.node-type-webform tr.odd thead { background: transparent; border-color: transparent; }
body.node-type-webform table thead tr, body.node-type-webform tbody thead tr, body.node-type-webform th thead tr, body.node-type-webform td thead tr, body.node-type-webform tr.even thead tr, body.node-type-webform tr.odd thead tr { background: transparent; }
body.node-type-webform table tr.odd, body.node-type-webform tbody tr.odd, body.node-type-webform th tr.odd, body.node-type-webform td tr.odd, body.node-type-webform tr.even tr.odd, body.node-type-webform tr.odd tr.odd { background-color: #e1f0f7; }
body.node-type-webform table tr.even, body.node-type-webform tbody tr.even, body.node-type-webform th tr.even, body.node-type-webform td tr.even, body.node-type-webform tr.even tr.even, body.node-type-webform tr.odd tr.even { background-color: transparent; }
body.node-type-webform .fieldset-wrapper { padding: 0 36px 16px; overflow: hidden; }
body.node-type-webform .fieldset-wrapper input[type="text"], body.node-type-webform .fieldset-wrapper input[type="number"], body.node-type-webform .fieldset-wrapper input[type="email"] { width: 97%; padding: 1%; font-size: 1.286em; }
body.node-type-webform .fieldset-wrapper input.uniform-input, body.node-type-webform .fieldset-wrapper select.uniform-multiselect, body.node-type-webform .fieldset-wrapper textarea.uniform { box-shadow: none; border-radius: 0; background: none; border-color: #3399cc; color: #48abbe; font-family: "Neo Sans W10"; }
body.node-type-webform .fieldset-wrapper input.uniform-input::-webkit-input-placeholder, body.node-type-webform .fieldset-wrapper select.uniform-multiselect::-webkit-input-placeholder, body.node-type-webform .fieldset-wrapper textarea.uniform::-webkit-input-placeholder { color: #777777; }
body.node-type-webform .fieldset-wrapper input.uniform-input:-moz-placeholder, body.node-type-webform .fieldset-wrapper select.uniform-multiselect:-moz-placeholder, body.node-type-webform .fieldset-wrapper textarea.uniform:-moz-placeholder { /* Firefox 18- */ color: #777777; }
body.node-type-webform .fieldset-wrapper input.uniform-input::-moz-placeholder, body.node-type-webform .fieldset-wrapper select.uniform-multiselect::-moz-placeholder, body.node-type-webform .fieldset-wrapper textarea.uniform::-moz-placeholder { /* Firefox 19+ */ color: #777777; }
body.node-type-webform .fieldset-wrapper input.uniform-input:-ms-input-placeholder, body.node-type-webform .fieldset-wrapper select.uniform-multiselect:-ms-input-placeholder, body.node-type-webform .fieldset-wrapper textarea.uniform:-ms-input-placeholder { color: #777777; }
body.node-type-webform .fieldset-wrapper div.selector, body.node-type-webform .fieldset-wrapper div.selector span { background: none; }
body.node-type-webform .fieldset-wrapper div.selector { position: relative; border: 1px solid #3399cc; font-size: 1.143em; height: 31px; }
body.node-type-webform .fieldset-wrapper div.selector span { height: 31px; line-height: 30px; }
body.node-type-webform .fieldset-wrapper div.selector span:after { position: absolute; top: 50%; right: 10px; content: ""; width: 0; height: 0; border-width: 8px 5px 5px; border-color: #3399cc transparent transparent; border-style: solid; margin-top: -4px; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth { margin-bottom: 60px; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth { position: relative; float: left; width: 46%; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name #uniform-edit-submitted-content-information-year-of-birth, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name #uniform-edit-submitted-content-information-year-of-birth, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth #uniform-edit-submitted-content-information-year-of-birth { float: right; width: 100px !important; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name #uniform-edit-submitted-content-information-year-of-birth span, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name #uniform-edit-submitted-content-information-year-of-birth span, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth #uniform-edit-submitted-content-information-year-of-birth span { width: 70px !important; color: #48abbe; font-size: 1em; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name .description, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name .description, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth .description { color: #666666; font-family: "Neo Sans W10 Italic"; font-style: italic; clear: both; text-align: right; padding-top: 20px; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--street-address-1, body.node-type-webform .fieldset-wrapper #webform-component-content-information--street-address-2, body.node-type-webform .fieldset-wrapper #webform-component-content-information--zip, body.node-type-webform .fieldset-wrapper #webform-component-content-information--email, body.node-type-webform .fieldset-wrapper #webform-component-content-information--mobile-phone { float: right; width: 46%; }

body.node-type-webform #webform-component-conditional-information--medicine-fieldset .webform-component-textfield .form-text { padding: 1%; }

.uuid-554962ee-2ff8-40a5-a7ec-d0159f1cec66 .field-name-body .field-items { margin: 0 36px 36px; min-height: 202px; position: relative; }
.uuid-554962ee-2ff8-40a5-a7ec-d0159f1cec66 .field-name-body .field-items:before { content: ""; display: block; position: absolute; background-position: 0 -689px; height: 202px; width: 157px; right: 0; bottom: 0; }

.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .breadcrumb { display: none; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content { margin: 36px 36px 0 36px; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email label { display: none; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email input { box-shadow: none; border-radius: 0; background: none; border-color: #3399cc; color: #48abbe; font-family: "Neo Sans W10"; font-size: 1.286em; padding: 1%; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email input::-webkit-input-placeholder { color: #777777; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email input:-moz-placeholder { /* Firefox 18- */ color: #777777; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email input::-moz-placeholder { /* Firefox 19+ */ color: #777777; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email input:-ms-input-placeholder { color: #777777; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-unsubscribe-choice { margin-top: 2em; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-unsubscribe-choice > label { color: #48abbe; font: 1.571em "Neo Sans W10 Medium", Arial, sans-serif; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-unsubscribe-choice.form-error > label { color: #cc0000; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-unsubscribe-choice #edit-submitted-unsubscribe-choice { margin-left: 2.7%; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-unsubscribe-choice #edit-submitted-unsubscribe-choice label { font-size: 1.429em; font-weight: normal; color: #666666; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker { margin-top: -12px; margin-right: 15px; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker span { background-position: -194px -23px; height: 23px; width: 27px; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker span.checked { background-position: -194px 0; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker.hover.active span, .uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content div.checker.focus.active span { background-position: -194px 0; }
.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #edit-actions { padding-left: 0; padding-bottom: 20px; }

/* "Powered by Drupal" block */
/* "User login form" block */
/* "Who's new" block for a list of the newest users */
/* "Who's online" block for a list of the online users */
/* ============================================================================= Node Styling ========================================================================== */
.node { margin-bottom: 20px; }

.node .node-title { margin: 0; }

/* All nodes are given a node-FOO class that describes the type of content that it is. If you create a new content type called "my-custom-type", it will receive a "node-my-custom-type" class. */
.node-type-expert .title-video-exp-wrapp { float: right; }
.node-type-expert .title-video-exp-wrapp .pane-node-title { display: none; }
.node-type-expert .view-articles .view-content { width: 105%; }
.node-type-expert .view-articles .views-row { margin-right: 10px; }

/* ============================================================================= Comment Styling - Comments, comment wrapper, comment form ========================================================================== */
/* Wrapper for the list of comments and its titles */
#comments { margin: 1.5em 0; }

#comments h2.comment-title { margin: 0; }

#comments h2.comment-form { margin: 0; }

/* Wrapper for a single comment */
.comment { margin-bottom: 20px; }

/* Comment title */
.comment-title { margin: 0; }

/* Comment states */
/* Preview of the comment before submitting new or updated comment */
/* "New" marker for comments that are new for the current user */
.new { color: #c00; }

/* Nested comments are indented */
.indented { margin-left: 40px; }

/* ============================================================================= Forms ========================================================================== */
/* Wrapper for a form element (or group of form elements) and its label */
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #c00 !important; }

.form-item label { font-weight: 700; }

/* Highlight marks and form required mark */
.marker, .form-required { color: #c00; }

.form-item .description { font-size: 0.85em; }

/* The submit button */
.container-inline div, .container-inline label { display: inline; }

/* Define consistent borders */
fieldset { border: 1px solid #ccc; }

/* Tips for Drupal's input formats */
/* Buttons used by contrib modules like Media */
a.button { -webkit-appearance: button; -moz-appearance: button; appearance: button; }

/* Password confirmation */
.password-parent, .confirm-parent { margin: 0; }

/* ============================================================================= Tables ========================================================================== */
table { margin: 10px 0; padding: 0; width: 100%; }

table.sticky-header { z-index: 10; }

table, thead, tbody, tr, th, td { border-color: #ccc; }

table, td, th { vertical-align: middle; }

caption, th, td { text-align: left; }

thead tr { font-weight: 700; background-color: #e5e5e5; }

td, th { border-bottom: 0; margin: 0; padding: 5px 7px; }

tbody tr { border-top: 1px solid #ccc; }

tr.odd { background: #fff; }

tr.info, tr.even, tr:nth-child(2n+2) { border-bottom: 0; background-color: #f5f5f5; }

tr.odd td.active { background-color: #eee; }

tr.even td.active { background-color: #ebebeb; }

/* Forum tables Core sets white-space to nowrap, which makes no sense */
#forum td .created, #forum td .posts, #forum td .topics, #forum td .last-reply, #forum td .replies, #forum td .pager { white-space: normal; }

/* ============================================================================= Messages ========================================================================== */
/* Left and right margin are set by the global gutter width */
div.messages { margin-bottom: 10px; margin-top: 10px; }

div.messages ul { margin-top: 0; margin-bottom: 0; }

/* Unpublished nodes */
.node-unpublished p.unpublished, .comment-unpublished p.unpublished { color: pink; color: rgba(239, 170, 170, 0.4); font-family: Impact,"Arial Narrow",Helvetica,sans-serif; font-size: 75px; font-weight: bold; height: 0; line-height: 1.2; margin: 0; padding: 0; overflow: visible; text-align: center; text-transform: uppercase; word-wrap: break-word; }

/* Otherwise these elements will appear below the "Unpublished" text */
.lt-ie8 .node-unpublished > *, .lt-ie8 .comment-unpublished > * { position: relative; }

/* ============================================================================= Maintenance pages ========================================================================== */
.maintenance-page .container { padding: 40px 0; }

.maintenance-page #site-name, .maintenance-page #page-title { margin: 0; }

.db-offline .container { margin: 0 auto; padding: 40px 0; width: 100%; max-width: 960px; }

.db-offline div.messages { margin: 20px 0 0; }

.db-offline #content { padding: 20px 0; }

/* ============================================================================= Misc overrides for contrib modules ========================================================================== */
/* Admin menu overrides */
#admin-menu { margin: 0; padding: 0; }

/* Devel Module */
.dev-query { background: #eee; padding: 30px; }

/* Styleguide module tweaks */
#styleguide-header { padding: 0 10px; }

#styleguide-header .item-list { font-family: inherit; margin: 0 20px 20px 0; min-height: 260px; width: auto; }

/* =============================================================================
*   Misc overrides for contrib modules
* ========================================================================== */
div#mini-panel-header_menus div.pane-views.pane-articles { display: none; }

.poll .bar { background-color: #DDDDDD; height: 1em; margin: 1px 0; }

.poll .bar .foreground { background-color: #000000; float: left; height: 1em; }

.poll .links { text-align: center; }

.poll .percent { text-align: right; }

.poll .total { text-align: center; }

.poll .vote-form { text-align: center; }

.poll .vote-form .choices { display: table; margin: 0 auto; text-align: left; }

.node-form .poll-form fieldset { display: block; }

.pollfield-form fieldset legend + .form-item { width: 70%; }

.pollfield-form fieldset .form-item { float: left; width: 25%; }

#pollfield { display: table; max-width: 800px; }

.pollfield-row { display: table-row; margin: 10px 0; overflow: visible; padding: 0; width: 100%; }

.pollfield-row .text { display: table-cell; min-width: 4em; overflow: visible; padding: 0.2em 3px 0.2em 0; text-align: right; vertical-align: middle; }

.barcell { display: table-cell; vertical-align: middle; width: 240px; }

.barcell .bar { background: url("../images/bg-bar-white.png") repeat-x scroll 0 0 white; border: 1px solid #F0F0F0; height: 1em; width: 240px; }

.barcell .bar .pollfield-foreground { background: url("../images/bg-bar.png") repeat-x scroll 0 100% #71a7cc; height: 1em; }

.pollfield-percent { display: table-cell; min-width: 20em; overflow: visible; padding: 0.2em; vertical-align: middle; }

.pollfield-chosen { font-style: italic; font-weight: bold; }

#views-exposed-form-articles-search-articles input { border: none !important; }
