.spr-sprite { background: url('images/spr.png') no-repeat; }

/* External Fonts */
/* font vars */
/* font sizes. based on 14px/87.5% default font size */
/* color vars */
/* backgrounds/borders */
/* fonts */
/* box sizing */
/* @file Print Styles This probably needs work, but it's a good starting point. */
.print-layout { background-image: url("images/yellow_border.png"); background-position: 0 65px; background-repeat: repeat-x; }
.print-layout > div { max-width: 908px; margin: 0 auto; }
.print-layout .print-header { padding-top: 0.8em; }
.print-layout .print-header #logo, .print-layout .print-header #site-name, .print-layout .print-header .pane-page-slogan { float: left; margin-bottom: 0; }
.print-layout .print-header .pane-page-slogan { line-height: 4; }
.print-layout .print-breadcrumb { color: #474747; margin-bottom: 0.6em; }
.print-layout .print-breadcrumb a, .print-layout .print-breadcrumb a:hover, .print-layout .print-breadcrumb a:focus { text-decoration: none; }
.print-layout .print-breadcrumb a { width: 21px; display: inline-block; height: 23px; line-height: 22px; vertical-align: bottom; overflow: hidden; }
.print-layout .print-breadcrumb a:before { position: relative; z-index: 90; display: block; content: "\f015"; color: #9e9e9e; font-family: "FontAwesome"; font-size: 22px; }
.print-layout .related-articles, .print-layout .pane-ra-alters-ra-alters-social-links, .print-layout .pane-virtual-cookbook, .print-layout .pane-menu-menu-recipe-menu, .print-layout .pane-views-exp-recipes-recipes-page, .print-layout .landing-breadcrumb, .print-layout .region-two-50-first .pane-node-field-image-original, .print-layout .similar-recipes, .print-layout .pane-ra-alters-ra-alters-print-link, .print-layout .callout-rx { display: none; }
.print-layout.node-type-article .pane-node-field-article-body { float: none; width: auto; }
.print-layout.node-type-article .article-joints .views-field-field-article-body { padding-right: 0; overflow: visible; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider { max-height: none; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider .slides > li { border-bottom: 8px solid #f3f3f3; display: block; overflow: hidden; padding-right: 50px; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider .slides > li.last { border: none; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider .slides > li h2 { font-family: "Neo Sans W10 Medium", Arial, sans-serif; font-size: 26px; font-weight: normal; display: block; margin: -10px 0 15px; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider .slides > li ul { margin-bottom: 0; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider .slides > li p { margin-top: 0; }
.print-layout.node-type-article .article-joints .views-field-field-article-body .flexslider .slides > li img { margin-top: -10px; }
.print-layout.node-type-article .article-joints .views-field-nothing { display: none; }
.print-layout.node-type-recipe .print-breadcrumb { display: none; }
.print-layout.node-type-recipe .print-content { margin-top: 56px; }
.print-layout.node-type-recipe .region-two-50-first { float: left; }
.print-layout.node-type-recipe .pane-node-field-recipe-ingredients .nano, .print-layout.node-type-recipe .pane-node-field-recipe-directions .nano { height: auto; }
.print-layout.node-type-recipe .pane-node-field-recipe-ingredients .nano .content, .print-layout.node-type-recipe .pane-node-field-recipe-directions .nano .content { position: relative; }
.print-layout.node-type-recipe .pane-node-field-recipe-ingredients .nano .pane, .print-layout.node-type-recipe .pane-node-field-recipe-directions .nano .pane { display: none !important; }
.print-layout.node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients { height: auto; }
.print-layout.node-type-video #video-wrapper .pane-videos { display: none; }
.print-layout.node-type-video #video-wrapper .pane-node-field-video-video, .print-layout.node-type-video #video-wrapper #default-coming-soon { float: none; margin: 0 auto; }
.print-layout.node-type-video .view-display-id-video_contributors .views-row .views-field-body { display: none; }
.print-layout.node-type-video .view-display-id-video_contributors .views-row .views-field-body-2 { display: block; float: right; margin-top: 7px; width: 83%; }
.print-layout.node-type-video .view-display-id-video_contributors .views-row .views-field-body-2 a { color: #48abbe; font-weight: bold; text-decoration: underline; }
.print-layout.node-type-video .view-display-id-video_contributors .views-row .views-field-body-2 a:hover { text-decoration: none; }
