.spr-sprite { background: url('images/spr.png') no-repeat; }

/* External Fonts */
/* font vars */
/* font sizes. based on 14px/87.5% default font size */
/* color vars */
/* backgrounds/borders */
/* fonts */
/* box sizing */
/* Important Information about this CSS File  - Do not delete or rename this file, if you do not use it leave it blank (delete everything) and the file will be skipped when you enable Production Mode in the Global theme settings.  - Read the _README file in this directory, it contains useful help and other information. */
@media screen and (max-width: 980px) { body #page > div { padding: 0; }
  #footer #mini-panel-footer_menus { display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; box-orient: vertical; -webkit-box-align: stretch; -moz-box-align: stretch; -ms-box-align: stretch; box-align: stretch; -webkit-box-direction: reverse; -moz-box-direction: reverse; -ms-box-direction: reverse; box-direction: reverse; width: 100%; }
  #footer #mini-panel-footer_menus.at-panel .region { position: relative; width: 100%; padding: 0; }
  #footer #mini-panel-footer_menus[class~="-first"] .region-inner { padding-left: 136px; }
  #footer .view-experts .views-row.views-row-0 img { display: none; }
  #footer .region-inner { width: 100%; }
  #footer #mini-panel-footer_menus .region-two-66-33-first { max-height: none; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .region-inner { padding: 20px 0; overflow: hidden; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu { margin-left: 5%; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-footer-menu { width: 20%; margin-left: 5%; margin-right: 0; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu { width: 74%; }
  #footer #mini-panel-footer_menus .pane-menu-menu-topics-menu li { width: 33%; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu li { border: none; width: 48%; line-height: 1; margin-left: 2%; padding-bottom: 2px; }
  #block-system-main .pane-views-exp-recipes-recipes-page .views-exposed-widget.views-widget-filter-field_search_value { width: 100%; } }
@media screen and (max-width: 480px) { body.node-type-article .pane-sign-up .signup-block.article-banner { display: block; min-height: 160px; background-position: -22px 100% !important; background-size: auto 70%; padding: 25px 0 20px; border-radius: 0; margin: -10px -10px 0; }
  body.node-type-article .pane-sign-up .signup-block.article-banner > div { float: right; width: 64%; padding: 0; font-size: 92% !important; font-family: "Neo Sans W10 Medium", Arial, sans-serif !important; }
  body.node-type-article .pane-sign-up .signup-block.article-banner .signup-title { font: 1.286em "Neo Sans W10 Medium", Arial, sans-serif !important; }
  body.node-type-article .pane-sign-up .signup-block.article-banner .item-list ul li { display: list-item; list-style: outside disc; margin: 0 0 0 15px; }
  body.node-type-article .pane-sign-up .signup-block.article-banner .signup-button a { right: 24px; }
  #footer #mini-panel-footer_menus .region-two-66-33-second { min-height: 170px; background: #8dc63f url(../images/footer-signup.png) 0 0 no-repeat; background-position: 0 100%; background-size: auto; }
  #footer #mini-panel-footer_menus .region-two-66-33-second:before { background: none; }
  #footer #mini-panel-footer_menus .region-two-66-33-second .panel-pane.sign-up-info > div { float: right; width: 60%; padding-bottom: 50px; font-size: 92%; } }
@media screen and (max-width: 320px) { #footer #mini-panel-footer_menus .region-two-66-33-second .panel-pane.sign-up-info > div { width: 60%; font-size: 88%; } }
@media only screen and (min-width: 641px) and (max-width: 1000px) { div#mini-panel-header_menus div.pane-menu-menu-social-links { min-width: auto !important; width: auto !important; }
  div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu { margin-right: 8px; }
  div#mini-panel-header_menus div.pane-views.pane-articles { margin: 0; padding: 0; }
  div#mini-panel-header_menus div.pane-views.pane-articles .view-articles { margin-top: 1%; margin-left: -1%; }
  div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row { width: 32%; margin: 1% 0 0 1%; }
  div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row .views-field-field-image img { width: 100%; }
  div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row .overlay .views-field-title { font-size: 120%; }
  #block-system-main .pane-sign-up .signup-title { font-size: 2em; }
  #block-system-main .pane-sign-up .signup-description { font-size: 1.286em; }
  #block-system-main .pane-sign-up .signup-button a { width: auto; -webkit-box-shadow: white 0 1px 0 0 inset, #fede86 0 -1px 0 0 inset, #fede86 1px 0 0 0 inset, #fede86 -1px 0 0 0 inset, #7fb239 0 1px 0 0; -moz-box-shadow: white 0 1px 0 0 inset, #fede86 0 -1px 0 0 inset, #fede86 1px 0 0 0 inset, #fede86 -1px 0 0 0 inset, #7fb239 0 1px 0 0; box-shadow: white 0 1px 0 0 inset, #fede86 0 -1px 0 0 inset, #fede86 1px 0 0 0 inset, #fede86 -1px 0 0 0 inset, #7fb239 0 1px 0 0; background-color: #fed870; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFED870', endColorstr='#FFFFC425'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDg3MCIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZjNDI1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fed870), color-stop(30%, #ffc425)); background-image: -webkit-linear-gradient(top, #fed870 0%, #ffc425 30%); background-image: -moz-linear-gradient(top, #fed870 0%, #ffc425 30%); background-image: -o-linear-gradient(top, #fed870 0%, #ffc425 30%); background-image: linear-gradient(top, #fed870 0%, #ffc425 30%); -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; border: 1px solid #5f9c32; border-bottom: 1px solid #577a26; display: block; color: white; font-family: "Neo Sans W10"; font-size: 1.786em; padding: 5px 15px; text-decoration: none; text-shadow: #d2ad46 0px 1px 0px; bottom: -60px; }
  #block-system-main .pane-sign-up .signup-button a:hover { background-color: #ffc52b; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFC52B', endColorstr='#FFFEDC81'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzUyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZGM4MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc52b), color-stop(100%, #fedc81)); background-image: -webkit-linear-gradient(top, #ffc52b 0%, #fedc81 100%); background-image: -moz-linear-gradient(top, #ffc52b 0%, #fedc81 100%); background-image: -o-linear-gradient(top, #ffc52b 0%, #fedc81 100%); background-image: linear-gradient(top, #ffc52b 0%, #fedc81 100%); background-position: 0; }
  div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links { width: 100%; margin: 14px 0 0 0; }
  div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu { margin-left: -0.28%; width: 101%; }
  div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu li { width: 24.72%; line-height: 38px; margin-left: 0.28% !important; margin-bottom: 3px !important; background-color: #707070; vertical-align: middle; }
  div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu li a:before, div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu li span:before { display: inline; color: white; vertical-align: middle; padding-right: 10px; }
  div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu li a, div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu li a:hover, div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links ul.menu li *:hover { color: white; text-decoration: none; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu { width: 45%; }
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu li { float: left; width: 33%; }
  #footer #mini-panel-footer_menus .region-two-66-33-first #copyright { left: 2%; }
  body.page-taxonomy-term-5 #page > div { padding: 0; }
  body.page-taxonomy-term-5 #page > div .panel-pane.topic-articles { width: auto; }
  body.front .pane-1.home-page-blocks-wrap { height: 750px; margin: 0; overflow: hidden; }
  body.front .pane-1.home-page-blocks-wrap .pane-custom.pane-2 { display: none; }
  body.front .pane-welcome { width: 49.5%; height: 32%; margin-bottom: 1%; }
  body.front .pane-welcome .welcome-block { padding: 5px 14px; }
  body.front .pane-welcome .welcome-block .welcome-date { font-size: 1.571em; margin-bottom: 5px; text-align: center; }
  body.front .pane-welcome .welcome-block .welcome-title { font-size: 2em; line-height: 1.1; }
  body.front .pane-welcome .welcome-block .welcome-description { font-size: 1.286em; line-height: normal; }
  body.front .pane-sign-up { width: 49.5%; height: 49%; margin-bottom: 1%; float: right; }
  body.front .pane-sign-up div { height: 100%; }
  body.front .pane-sign-up div .signup-block { padding-left: 5%; }
  body.front .pane-sign-up div.signup-block div { height: auto; }
  body.front .pane-sign-up .home { width: auto; height: 100%; }
  body.front .pane-inspirations, body.front .hp-ra101 { float: left; width: 49.5%; height: 32%; margin-right: 0; margin-bottom: 1%; overflow: hidden; }
  body.front .social-wrapper { width: 100%; margin-left: 1px; }
  body.front .pane-inspirations { position: relative; overflow: visible; z-index: 90; }
  body.front .pane-inspirations img { margin: 0 auto; }
  body.front .pane-inspirations .view-footer .social-wrapper .social-item, body.front .pane-inspirations .view-footer a.twitter-share-button, body.front .pane-inspirations .view-footer a.pinit { width: 33.1%; }
  body.front .pane-inspirations .view-footer .social-wrapper .social-item a { width: 100%; }
  body.front .hp-ra101 .block-inner, body.front .hp-ra101 .block-content, body.front .hp-ra101 .view-articles, body.front .hp-ra101 .view-content, body.front .hp-ra101 .views-row { height: 100%; float: none; }
  body.front .hp-ra101 img.image-style-article-home-ra101 { position: absolute; top: 0; left: 0; width: 100%; }
  body.front .pane-inspirations div { height: 100%; }
  body.front .pane-inspirations div .view-content { background: #ffc425; }
  body.front .pane-inspirations div .view-footer { height: 28px; margin-top: -28px; border-top: 1px solid white; }
  body.front .pane-inspirations div .view-footer .insp-share-all { position: absolute; top: 0; right: 34px; }
  body.front .pane-inspirations div .view-footer .rate-widget { position: absolute; top: 0; right: 68px; }
  body.front .featured-slider { float: right; width: 49.5%; height: 48.5%; }
  body.front .featured-slider .block-inner, body.front .featured-slider .block-content, body.front .featured-slider .view-content, body.front .featured-slider .flexslider, body.front .featured-slider .flex-viewport, body.front .featured-slider ul.slides, body.front .featured-slider ul.slides li { height: 100%; }
  body.front .featured-slider ul.slides li { position: relative; }
  body.front .featured-slider ul.slides li img { max-width: none; }
  body.front .featured-slider .view-articles { height: 93.5%; }
  body.front .featured-slider .view-articles .flex-control-nav { margin-bottom: 4px; }
  body.front .hp-last-articles { float: none; }
  body.front .hp-last-articles .view-articles { margin-left: -1%; width: 101.2%; }
  body.front .hp-last-articles .view-articles .views-row { width: 32.32%; margin-right: 0; margin-left: 1%; overflow: hidden; }
  body.front .hp-last-articles .view-articles .views-row img.image-style-article-home { width: 100%; height: auto; }
  body.front .hp-meet-experts { float: none; width: auto; padding: 10px 0; }
  body.front .hp-meet-experts a { font-size: 300%; line-height: normal; }
  body.front .hp-meet-experts a:before { display: inline-block; }
  body.front .poll-pledge-wrap { display: table; width: 100%; height: 150px; float: none; padding-bottom: 20px; overflow: hidden; }
  body.front .poll-pledge-wrap h2.pane-title.block-title { font-size: 1.875em; line-height: normal; padding-bottom: 10px; background: none; }
  body.front .poll-pledge-wrap .pane-polls { display: table-cell; height: 100%; padding: 0; width: 49%; }
  body.front .poll-pledge-wrap .pane-polls input.form-checkbox, body.front .poll-pledge-wrap .pane-polls input.form-radio { vertical-align: baseline; }
  body.front .poll-pledge-wrap .pane-polls .block-inner { position: relative; padding: 3px 20px 2px; }
  body.front .poll-pledge-wrap .pane-polls .block-inner h2.pane-title.block-title { padding-bottom: 5px; }
  body.front .poll-pledge-wrap .pane-polls .block-inner h2.pane-title.block-title:after { content: "\e00b"; font-family: "icomoon"; vertical-align: middle; font-size: 1.2em; margin-left: 30%; }
  body.front .poll-pledge-wrap .pane-polls .block-inner .pollfield-title { font-size: 1.714em; line-height: normal; }
  body.front .poll-pledge-wrap .pane-polls .block-inner .pollfield-row .text { font-size: 1.571em; line-height: normal; }
  body.front .poll-pledge-wrap .pane-polls .block-inner .form-submit { font-size: 1.571em; }
  body.front .poll-pledge-wrap .pane-polls .block-inner .form-submit.back-poll { font-size: 1.571em; margin-top: 20px; }
  body.front .poll-pledge-wrap .pane-polls .form-item label { font-size: 1.571em; }
  body.front .poll-pledge-wrap .pane-pledges { display: table-cell; height: 100%; width: 49%; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner { position: relative; padding: 20px 25px; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner h2.pane-title.block-title { padding-right: 60%; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner h2.pane-title.block-title:after { content: "\e00c"; font-family: "icomoon"; position: absolute; top: 0px; right: 20px; font-size: 3em; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner .rate-count { font-size: 22px; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner .rate-count .pledge-count { font-size: 42px; line-height: normal; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner .rate-count .pledge-count div { font-size: 64px; line-height: 60px; }
  body.front .poll-pledge-wrap .pane-pledges .block-inner .rate-button { display: block; font-size: 1.571em; margin-top: 20px; }
  body.front .pane-topic-articles { width: auto; float: none; margin-left: -1%; margin-right: 0; width: 101.2%; }
  body.front .pane-topic-articles .views-row { margin-left: 1%; margin-bottom: 1%; width: 49.1%; overflow: hidden; }
  body.front .pane-topic-articles .views-row img { width: 100%; height: auto; }
  body.front .pane-topic-articles .views-row.views-row-three-first { width: 32.5%; }
  body.front .pane-topic-articles .views-row.views-row-4 { margin-left: 1%; }
  body.front .pane-topic-articles .views-row .views-row { width: auto; float: none; margin: 0; min-height: auto; }
  body.front .pane-topic-articles .views-row.views-row-three-after .views-row { margin: 0; width: auto; }
  body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { position: relative; left: auto; margin: 0; max-width: none; }
  .view-articles .views-row .blue-corner .views-field-name { font-size: 0.571em; }
  body.node-type-recipe .two-50 .region-two-50-first, body.node-type-recipe .two-50 .region-two-50-second { width: auto; float: none; }
  body.node-type-recipe .similar-recipes { width: auto; }
  body.node-type-recipe .region-two-50-first .pane-node-field-image-original { display: block; }
  body.node-type-recipe .region-two-50-first .pane-node-field-image-original img { margin: 0 auto; }
  body.node-type-recipe .region-two-50-second .pane-node-field-image-original { display: none; }
  body.node-type-article .pane-node-field-article-body { width: auto; float: none; padding: 0 5%; }
  body.node-type-article .related-articles, body.node-type-article .view-display-id-related_articles { width: auto; float: none; }
  body.node-type-article .related-articles .views-row, body.node-type-article .view-display-id-related_articles .views-row { float: left; width: 32%; margin-left: 1%; margin-right: 0; }
  body.node-type-article .related-articles .views-row img, body.node-type-article .view-display-id-related_articles .views-row img { width: 100%; }
  body.topic-landing .pane-4.topic-meet-experts { display: block; }
  body.topic-landing .pane-2.topic-meet-experts { display: none; }
  body.topic-landing .article-poll-expert-wrapper { position: relative; width: 100%; overflow: hidden; clear: both; }
  body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article { position: absolute; top: 0; left: 0; width: 49.5%; height: 100%; max-height: none; }
  body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .block-inner, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .block-content, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .view-articles, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .view-content, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .views-row, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .views-field-field-image, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .field-content { height: 100%; overflow: hidden; }
  body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .block-inner img.image-style-article-featured, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .block-content img.image-style-article-featured, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .view-articles img.image-style-article-featured, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .view-content img.image-style-article-featured, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .views-row img.image-style-article-featured, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .views-field-field-image img.image-style-article-featured, body.topic-landing .article-poll-expert-wrapper .pane-articles.featured-article .field-content img.image-style-article-featured { width: auto !important; height: 100%; }
  body.topic-landing .article-poll-expert-wrapper .pane-polls { width: 46.4%; float: right; }
  body.topic-landing .article-poll-expert-wrapper .view-articles .views-row { float: none; position: static; }
  body.topic-landing .topic-meet-experts { float: none; width: 100%; padding: 10px 0; clear: both; margin: 10px 0; }
  body.topic-landing .topic-meet-experts a { font-size: 300%; line-height: normal; }
  body.topic-landing .topic-meet-experts a:before { display: inline-block; }
  .pane-polls h2.pane-title.block-title { font-size: 1.875em; line-height: normal; padding-bottom: 10px; background: none; }
  .pane-polls input.form-checkbox, .pane-polls input.form-radio { vertical-align: baseline; }
  .pane-polls .block-inner { position: relative; padding: 3px 20px 2px; }
  .pane-polls .block-inner h2.pane-title.block-title { padding-bottom: 5px; }
  .pane-polls .block-inner h2.pane-title.block-title:after { content: "\e00b"; font-family: "icomoon"; vertical-align: middle; font-size: 1.2em; margin-left: 30%; }
  .pane-polls .block-inner .pollfield-title { font-size: 1.714em; line-height: normal; }
  .pane-polls .block-inner .pollfield-row .text { font-size: 1.571em; line-height: normal; }
  .pane-polls .block-inner .form-submit { font-size: 1.571em; }
  .pane-polls .block-inner .form-submit.back-poll { font-size: 1.571em; margin-top: 20px; }
  .pane-polls .form-item label { font-size: 1.571em; } }
body.node-type-inspiration .pane-topic-articles, .panels-flexible-region-three_rows-bottom { width: auto; }

body.node-type-inspiration .view-topic-articles { width: auto; float: none; margin-left: -1%; margin-right: 0; }
body.node-type-inspiration .view-topic-articles .views-row { margin-left: 1%; margin-bottom: 1%; width: 49%; overflow: hidden; }
body.node-type-inspiration .view-topic-articles .views-row img { width: 100%; height: auto; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-1, body.node-type-inspiration .view-topic-articles .views-row.views-row-2, body.node-type-inspiration .view-topic-articles .views-row.views-row-3 { width: 32.3%; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-4 { margin-left: 1%; }
body.node-type-inspiration .view-topic-articles .views-row .views-row { width: auto; float: none; margin: 0; min-height: auto; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-three-after .views-row { margin: 0; width: auto; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { position: relative; left: auto; margin: 0; max-width: none; }

@media only screen and (max-width: 768px) { body.node-type-inspiration .panels-flexible-row-three_rows-main-row, body.node-type-inspiration .pane-ra-alters-ra-alters-social-links { width: auto; } }
@media only screen and (min-width: 641px) and (max-width: 768px) { .view-experts .views-row.views-row-0 { font-size: 38px; }
  body.node-type-webform .field-name-body .field-items { background: none; } }
@media only screen and (max-width: 480px) { body.front .hp-ra101 .views-row .views-field-field-image, body.front .hp-last-articles .view-articles .views-row .views-field-field-image, body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image { display: none; }
  body.front .hp-ra101 .views-row .views-field-field-image-mobile, body.front .hp-last-articles .view-articles .views-row .views-field-field-image-mobile, body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image-mobile { display: block; }
  body.front .hp-ra101 .views-row .views-field-field-image-mobile img, body.front .hp-last-articles .view-articles .views-row .views-field-field-image-mobile img, body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image-mobile img { display: block; width: 100%; }
  .view-articles .views-row .overlay .views-field-title { font-size: 10px; }
  .views-field-field-image img { max-width: none; }
  body.front .hp-ra101 img.image-style-article-home-ra101 { width: auto; height: 100%; }
  body.front .featured-slider ul.slides li { min-height: 1%; }
  body.front .featured-slider ul.slides li img { width: 100%; max-width: none; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content a, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item { width: 19%; margin: 0 0 0 1%; text-indent: -9999px !important; background-position: 50% 50% !important; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content a:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average:after, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item:after { text-indent: 0 !important; width: 100%; right: 0 !important; text-align: center; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content a.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average.init-modal-forms-contact-processed:before, #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item.init-modal-forms-contact-processed:before { left: 50%; margin-left: -11.5px; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .social-item a { width: 100%; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-widget { background-position: 90% 50% !important; text-indent: 0 !important; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-widget .rate-wrapper { display: block; }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-widget .rate-wrapper a { position: absolute; top: 0; left: 0; width: 100%; }
  #modalContent .view-footer { position: relative; left: auto; margin-left: 0; width: 98.8%; }
  #modalContent .view-footer a, #modalContent .view-footer .rate-average, #modalContent .view-footer .social-item { width: 19%; margin: 0 0 0 1%; text-indent: -9999px !important; background-position: 50% 50% !important; }
  #modalContent .view-footer a:after, #modalContent .view-footer .rate-average:after, #modalContent .view-footer .social-item:after { text-indent: 0 !important; width: 100%; right: 0 !important; text-align: center; }
  #modalContent .view-footer .social-item a { width: 100%; }
  #modalContent .view-footer .rate-widget { background-position: 90% 50% !important; text-indent: 0 !important; }
  #modalContent .view-footer .rate-widget .rate-wrapper { display: none; }
  .modal-forms-modal-content .popups-container .popups-close { position: absolute; top: 10px; right: 10px; }
  .ctools-modal-content.send-email .modal-content #ra-alters-send-email { padding: 0; }
  .ctools-modal-content.send-email .modal-content .form-type-textfield input { width: 98%; padding: 10px 0; text-indent: 20px; }
  div.ctools-modal-content .modal-content, .ctools-modal-content.interstitial .modal-content { padding-bottom: 1em; }
  .ctools-modal-content.interstitial .modal-content .modal-content-inner { padding: 0; }
  .ctools-modal-content.interstitial .modal-content .interstitial-buttons { width: 98%; }
  .ctools-modal-content.interstitial .modal-content .interstitial-buttons a { width: 49%; }
  .view-experts .views-row.views-row-0 { font-size: 24px; font-family: inherit; padding: 0 0 0 20%; }
  #site-name { font-size: 70%; }
  .pane-page-slogan { font-size: 90%; }
  #footer #mini-panel-footer_menus .region-two-66-33-first #copyright { left: 5%; }
  #footer #mini-panel-footer_menus .region-two-66-33-second { min-height: 170px; height: auto; background-position: 0px 100%; background-size: auto 70%; overflow: hidden; }
  #footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info { overflow: hidden; }
  #footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info > div { float: right; width: 60%; padding-bottom: 50px; }
  body.node-type-article #block-system-main .pane-node-field-image-original img { width: 100%; }
  body.node-type-article #block-system-main .region-one-main > .region-inner { display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; box-orient: vertical; position: relative; width: 100%; }
  body.node-type-article #block-system-main .pane-ra-alters-ra-alters-social-links { overflow: visible; -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-box-ordinal-group: 1; box-ordinal-group: 1; }
  body.node-type-article #block-system-main .related-articles { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-box-ordinal-group: 2; box-ordinal-group: 2; }
  .view-display-id-related_articles { width: auto; float: none; }
  .view-display-id-related_articles .views-row { float: none; width: 100%; margin: 0 0 1.5%; }
  .view-display-id-related_articles .views-row img { width: 100%; } }
body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .green-block, body.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .blue-block, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .green-block, body.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .blue-block { width: 100%; float: none; }

@media screen and (max-width: 320px) { #site-name { font-size: 60%; }
  #footer #mini-panel-footer_menus .region-two-66-33-second { background-position: 0% 100%; background-size: auto 80%; } }
@media screen and (min-width: 321px) { #mobile-menu { display: none; } }
@media screen and (orientation: portrait) { #webform-component-conditional-information--current-treatment { width: 249px; overflow-x: scroll; } }
@media screen and (max-width: 361px) { body.front .hp-ra101 .views-row .views-field-field-image, body.front .hp-last-articles .view-articles .views-row .views-field-field-image, body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image { display: none; }
  body.front .hp-ra101 .views-row .views-field-field-image-mobile, body.front .hp-last-articles .view-articles .views-row .views-field-field-image-mobile, body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image-mobile { display: block; }
  body.front .hp-ra101 .views-row .views-field-field-image-mobile img, body.front .hp-last-articles .view-articles .views-row .views-field-field-image-mobile img, body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image-mobile img { display: block; width: 100%; }
  .page-taxonomy-term .topic-articles .views-row .views-field-field-image { display: none; }
  .page-taxonomy-term .topic-articles .views-row .views-field-field-image-mobile { display: block; }
  .page-taxonomy-term .topic-articles .views-row .views-field-field-image-mobile img { display: block; width: 100%; } }
