/* External Fonts */
/* font vars */
/* font sizes. based on 14px/87.5% default font size */
/* color vars */
/* backgrounds/borders */
/* fonts */
/* box sizing */
/* Important Information about this CSS File  - Do not delete or rename this file, if you do not use it leave it blank (delete everything) and the file will be skipped when you enable Production Mode in the Global theme settings.  - Read the _README file in this directory, it contains useful help and other information. */
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li { height: 62px; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li:hover:before, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.active:before, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.active-trail:before, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li *.active, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li *:hover { cursor: pointer; text-decoration: none; color: #48abbe; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active { background-color: #ffc425; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active:before, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active * { color: gray; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active:hover:before, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active:hover * { color: #48abbe; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li * { text-decoration: none; display: block; font-size: 0.786em; position: relative; color: #4d4d4f; }

div.pane-menu-menu-header-links ul.menu li a:before, div.pane-menu-menu-header-links ul.menu li span:before { display: block; color: gray; font-size: 2em; text-align: center; margin-top: 4px; }

body { background-image: url("images/yellow_border.png"); background-repeat: repeat-x; background-position: 0 70px; }

 /* =============================================================================
*   Menus
* ========================================================================== */
div#mini-panel-header_menus div.panel-pane { float: left; margin-bottom: 0; }

/* 'Expanding Your RA World' */
div#mini-panel-header_menus div.pane-page-slogan { line-height: 4; min-width: 14em; width: 15%; margin-bottom: 0; }

/* facebook, twitter, youtube */
div#mini-panel-header_menus div.pane-menu-menu-social-links { height: 3em; width: 17%; margin: 0%; }

/* meet the experts, ra101, signup, search */
.block-content ul.menu { padding: 0; margin-bottom: 0.7em; }

.view-experts .views-row.views-row-0 img { display: none; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu { padding: 0; margin: .4em; height: 2em; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li { padding: 0 .5em; position: relative; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a { z-index: 10; overflow: hidden; text-indent: -9999px; display: block; width: 2.1em; height: 2.5em; position: relative; text-decoration: none; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:after { display: block; font-size: 2em; position: absolute; top: 0; left: 0; width: 100%; color: #9b9b9c; text-align: center; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:hover:after { color: #48abbe; }

div#mini-panel-header_menus div.pane-menu-menu-header-links { float: right; margin-right: 3%; width: 34%; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu, div#mini-panel-header_menus div.pane-menu-menu-header-links div.block-inner { margin: 0; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li { width: 25%; text-align: center; }

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li a { white-space: nowrap; }

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li, div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li { float: left; display: block; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu { width: 100%; float: none; clear: both; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu { padding: 0; margin: 0; overflow: hidden; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu:hover { background-color: transparent; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li { display: block; float: left; width: 14.2%; background-color: #48abbe; -webkit-transition: background-color 0.5s; -moz-transition: background-color 0.5s; -o-transition: background-color 0.5s; transition: background-color 0.5s; text-align: center; height: 3em; border-right: 1px solid white; font-size: 0.929em; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li.last { border-right: none; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li.active-trail, div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li:hover, div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li a.active-trail { background-color: #ffc425; }

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li a, div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li a:hover { display: table-cell; color: white; line-height: 1; text-decoration: none; font-family: "Neo Sans W10 Bold", sans-serif; text-align: center; vertical-align: middle; width: 161px; /* yes, pixels, not ems. */ height: 42px; }

div.pane-menu-menu-topics-menu div.block-inner { margin-right: 0; margin-left: 0; }

#toggle-menu-wrapper { display: none; }

/* Search */
div#mini-panel-header_menus div.pane-views.pane-articles { width: 100%; }

body.node-type-recipe .region-two-50-first .pane-node-field-image-original { display: none; }
body.node-type-recipe .region-two-50-second .pane-node-field-image-original { display: block; }
