.spr-sprite, .node-type-article .pane-node-field-article-body .callout-rx:before, .node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content a.active:before, .node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content > .video-thumb-link.active:before, .node-type-video #block-system-main #video-wrapper .pane-videos .views-row .video-play-button:before { background: url('images/spr.png') no-repeat; }

/* External Fonts */
/* font vars */
/* font sizes. based on 14px/87.5% default font size */
/* color vars */
/* backgrounds/borders */
/* fonts */
/* box sizing */
/* Important Information about this CSS File  - Do not delete or rename this file, if you do not use it leave it blank (delete everything) and the file will be skipped when you enable Production Mode in the Global theme settings.  - Read the _README file in this directory, it contains useful help and other information. */
/* Increase the default font size on small devices */
html { font-size: 112.5% !important; max-width: 100%; overflow-x: hidden; }

body { max-width: 100%; overflow: hidden; }
body #page > div { padding: 0; }

#logo a { display: block; width: 220px; height: 29px; padding: .2em; background: url(../images/ra-logo-sprite-sm.svg) 0 3px no-repeat; }
#logo a:hover { background-position: 0 -29px; }

#logo img, #site-name { display: none; }

html.lt-ie9 #logo a { display: block; width: 2.5em; height: auto; padding: .2em; background: none; }
html.lt-ie9 #site-name { display: block; }
html.lt-ie9 #logo img { display: block; }

.pane-page-logo { cursor: pointer; }

.pane-page-logo .block-inner { float: left; }

/* open menu "hamburger" icon */
#toggle-menu { width: 4em; margin-top: 10px; }

#toggle-menu-wrapper { position: absolute; top: 14px; left: 14px; width: 3em; height: 1.5em; float: left; display: block; }
#toggle-menu-wrapper input { display: none; }
#toggle-menu-wrapper p { display: block; }

#toggle-menu-wrapper label { text-indent: -9999px; overflow: hidden; }

#toggle-menu-wrapper label:before { content: '\e609'; font-size: 1.5em; height: 1.5em; line-height: 1.5; font-family: "iconsmore"; display: block; cursor: pointer; width: 2em; background-color: #48abbe; text-indent: 0; text-align: center; color: white; border-radius: 2px; float: left; }

div.pane-menu-menu-social-links { display: none; }

/* when the mobile menu slides open, it displaces the rest of the page */
body #page { margin-left: 0; width: 100%; background-color: #fff; }

body.menu-open #page { -webkit-transform: translate3D(80%, 0, 0); -moz-transform: translate3D(80%, 0, 0); -ms-transform: translate3D(80%, 0, 0); -o-transform: translate3D(80%, 0, 0); transform: translate3D(80%, 0, 0); -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; position: fixed; top: 0; left: 0; }

/* positi#on and color the mobile menu */
#header { padding: 14px; border-bottom: 3px solid #ffc425; -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2); overflow: hidden; }
#header .region-header { float: right; overflow: hidden; }
#header .block { margin: 0; }
#header .panel-separator { display: none; }
#header #logo, #header #site-name { float: left; line-height: normal; }
#header .pane-page-slogan { margin-left: 34px; }

#header #block-panels-mini-header-menus { position: static; margin: 0; }

#header div.pane-menu-menu-header-links, #header div.pane-menu-menu-topics-menu { position: absolute; z-index: 1; background-color: #48abbe; width: 0px; overflow: hidden; left: -9999px; top: 0; }

#mobile-menu { display: none; position: relative; top: 0; left: -80%; width: 80%; }

body.menu-open #mobile-menu { left: 0; display: block; }

#header .pane-menu-menu-topics-menu, #header .pane-menu-menu-header-links, #header .pane-views.pane-articles { display: none; }

#mobile-menu .pane-menu-menu-topics-menu { background-color: #48abbe; margin-bottom: 0; }

#header div.pane-menu-menu-topics-menu { margin-top: 60px; }

.block, .front .hp-meet-experts, .view-articles .views-row { margin-bottom: 1%; }
.block .views-row, .front .hp-meet-experts .views-row, .view-articles .views-row .views-row { margin-bottom: 0; }

/*Mobile search results page */
body.parameter-field-search-value .pane-ra-alters-ra-alters-mobile-search { display: none; }
body.parameter-field-search-value .view-display-id-search_articles .view-empty { display: block !important; }
body.parameter-field-search-value .view-display-id-search_articles .view-empty p { margin: 0; }
body.parameter-field-search-value #header { padding-left: 0; padding-right: 0; }
body.parameter-field-search-value #header .pane-views.pane-articles { display: block; }
body.parameter-field-search-value #header div.pane-menu-menu-topics-menu { margin-top: 0; }
body.parameter-field-search-value #header .pane-page-slogan { float: right; width: 207px; }
body.parameter-field-search-value #header .pane-page-slogan + .panel-separator { display: block; clear: both; }
body.parameter-field-search-value #header .blue-corner .views-field-field-icon .field-content { float: right; max-width: 30%; }
body.parameter-field-search-value #header .blue-corner .views-field-name { font-size: 0.6em; }
body.parameter-field-search-value #header #logo { margin-right: 15px; float: right; }
body.parameter-field-search-value #header div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .view-content { margin-left: 0; }
body.parameter-field-search-value #header div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row.views-row { width: 47%; }
body.parameter-field-search-value #header div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row.views-row.views-row-odd { margin-right: 5%; }
body.parameter-field-search-value #header div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row.views-row.views-row-even { margin-right: 0; }
body.parameter-field-search-value #header .region-header { float: none; }

#header #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper .form-type-textfield.form-type-textfield.form-type-textfield.form-type-textfield { margin-top: 6px; }

#header div.pane-menu-menu-header-links, #mobile-menu div.pane-menu-menu-header-links { background-color: #949494; }

#mobile-menu div.pane-menu-menu-header-links ul.menu li.last { display: none; }

body.menu-open #header div.pane-menu-menu-header-links, body.menu-open #header div.pane-menu-menu-topics-menu { width: 80%; left: 0; }

body.menu-processed #header div.pane-menu-menu-header-links, body.menu-processed #header div.pane-menu-menu-topics-menu, body.menu-processed #header div#mini-panel-header_menus div.pane-views.pane-articles { left: -80%; transition: all 0; }

body #header div.pane-menu-menu-header-links { margin-top: 343px; }

body.parameter-field-search-value #header div.pane-menu-menu-header-links { margin-top: 283px; }

div.pane-menu-menu-header-links ul.menu li:before, div.pane-menu-menu-header-links ul.menu li *, div.pane-menu-menu-topics-menu ul.menu li:before, div.pane-menu-menu-topics-menu ul.menu li * { color: white; }

div.pane-menu-menu-header-links ul.menu li, div.pane-menu-menu-topics-menu ul.menu li { border-bottom: 1px solid white; }

/* mobile menu icons */
#header div.pane-menu-menu-header-links ul.menu li, #header div.pane-menu-menu-topics-menu ul.menu li, #mobile-menu div.pane-menu-menu-header-links ul.menu li, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li { /*treatment, doctor discussions*/ /*joint care */ /*diet & excercise */ /* doctor discussions*/ /*around the home*/ /*relationship & support*/ /*something extra*/ }
#header div.pane-menu-menu-header-links ul.menu li:before, #header div.pane-menu-menu-topics-menu ul.menu li:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li:before { font-size: 1.2em; margin-top: 6px; float: left; line-height: 1.5; padding: 0 0.2em; font-family: "icomoon"; margin-left: 0.5em; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1857.menu-item-1857, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1857.menu-item-1857, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1857.menu-item-1857, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1857.menu-item-1857 { display: block; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1857:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1857:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1857:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1857:before { content: '\e023'; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1233:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1233:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1233:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1233:before { content: '\e001'; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1234:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1234:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1234:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1234:before { content: '\e00E'; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1235:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1235:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1235:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1235:before { content: '\e01A'; font-size: 1em; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1236:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1236:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1236:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1236:before { content: '\e001'; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1237:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1237:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1237:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1237:before { content: '\e023'; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1238:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1238:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1238:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1238:before { content: '\e006'; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-1239:before, #header div.pane-menu-menu-topics-menu ul.menu li.menu-item-1239:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-1239:before, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li.menu-item-1239:before { content: '\e002'; }
#header div.pane-menu-menu-header-links ul.menu li a, #header div.pane-menu-menu-header-links ul.menu li a:hover, #header div.pane-menu-menu-topics-menu ul.menu li a, #header div.pane-menu-menu-topics-menu ul.menu li a:hover, #mobile-menu div.pane-menu-menu-header-links ul.menu li a, #mobile-menu div.pane-menu-menu-header-links ul.menu li a:hover, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li a, #mobile-menu div.pane-menu-menu-topics-menu ul.menu li a:hover { padding-top: 3px; font-family: "Neo Sans W10 Medium"; position: absolute; left: 4em; text-decoration: none; font-size: .8em; }
#header div.pane-menu-menu-header-links ul.menu li, #mobile-menu div.pane-menu-menu-header-links ul.menu li { /*meet the experts*/ /*ra 101*/ /*Sign up*/ }
#header div.pane-menu-menu-header-links ul.menu li.leaf a:before, #header div.pane-menu-menu-header-links ul.menu li.leaf a:hover:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.leaf a:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.leaf a:hover:before { color: #5a5a5a !important; display: block; position: absolute; left: -2.8em; width: 2em; font-size: 1.3em; top: -0.1em; text-align: center; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-2346:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-2346:before { display: none; }
#header div.pane-menu-menu-header-links ul.menu li.menu-item-3739:before, #mobile-menu div.pane-menu-menu-header-links ul.menu li.menu-item-3739:before { top: 6px; left: 7px; }

/* identical height for each item in the mobile menu */
#header ul.menu li, #mobile-menu ul.menu li { height: 2.5em; line-height: 2.5; }

div#mini-panel-header_menus div.pane-views.pane-articles { width: 0px; margin: 0; padding: 0; overflow: hidden; top: 0; left: 0; height: 60px; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-header { display: none; }
div#mini-panel-header_menus div.pane-views.pane-articles form { margin-top: 0 !important; }

/* Search form */
div#mini-panel-header_menus div.pane-views.pane-articles * { max-width: 100%; max-height: 100%; }

.pane-ra-alters-ra-alters-mobile-search { margin-bottom: 1px; }

div#mini-panel-header_menus div.pane-views.pane-articles .block-inner, #mobile-menu .pane-ra-alters-ra-alters-mobile-search .block-inner { padding: 10px; background: #ffc425; border: 2px solid orange; border-radius: 0; }

body.menu-open #header div.pane-articles { width: 80%; }

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles, #mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form { background-color: transparent; border: 1px solid #ccc; }

#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form { background-color: #fff; height: 38px; }
#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form .form-type-textfield { margin: 0; padding: 0; }
#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form input.form-text { border: none; padding: 0; line-height: 36px; width: 100%; text-indent: 36px; }
#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form .form-type-textfield:before { font-family: 'MagnifyGlass'; content: '\e600'; /* search */ color: #828285; position: absolute; font-size: 1.5em; padding: 1px 5px; }
#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form #edit-submit { display: none; }

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper:before { font-family: 'MagnifyGlass'; content: '\e600'; /* search */ color: #828285; position: absolute; font-size: 1.5em; padding: 1px 5px; }

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper input[type="text"] { background-color: white; background-image: none; color: #a8a8a8; font-size: 1em; line-height: 1.8em; }

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper { width: 100%; background-image: none; background-color: white; }

::-webkit-input-placeholder { color: #a8a8a8; }

::-moz-placeholder { color: #a8a8a8; }

/* firefox 19+ */
:-ms-input-placeholder { color: #a8a8a8; }

/* ie */
input:-moz-placeholder { color: #a8a8a8; }

/* hide the search toggel button */
#header ul.menu li.menu-item-1232, div#mini-panel-header_menus div.pane-views.pane-articles .views-submit-button { display: none; }

/* When returning a non-ajax search result */
body.parameter-field-search-value div#mini-panel-header_menus div.pane-views.pane-articles { width: 100%; position: static; height: auto; margin-top: 10px; }

body.parameter-field-search-value #header { padding-bottom: 0; }
body.parameter-field-search-value #header #logo { margin-left: 38%; }
body.parameter-field-search-value #header a#logo { margin: 0; }

div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row.views-row { width: 44%; margin-bottom: 0; }

.breadcrumb { margin: 5%; }

#block-system-main { margin-bottom: 1%; }
#block-system-main .pane-sign-up { width: 100%; height: auto; margin-bottom: 1%; float: none; }
#block-system-main .pane-sign-up div { height: 100%; }
#block-system-main .pane-sign-up div .signup-block { min-height: 140px; padding-left: 35%; padding-bottom: 30px; background-position: -20px 100%; background-size: auto 70%; }
#block-system-main .pane-sign-up div .signup-block.topic { background-position: 0 100% !important; background-image: url("../images/footer-signup.png"); }
#block-system-main .pane-sign-up div .signup-block .signup-title { font-size: 1.286em; margin-top: 7px; }
#block-system-main .pane-sign-up div .signup-block .signup-description { font-size: 1em; line-height: normal; position: relative; }
#block-system-main .pane-sign-up div.signup-block div { height: auto; font-size: 90%; }
#block-system-main .pane-sign-up .home { width: auto; height: auto; }

body.front .pane-1.home-page-blocks-wrap { height: auto; margin: 0; overflow: visible; }
body.front .pane-1.home-page-blocks-wrap .pane-custom.pane-2 { display: none; }
body.front .pane-welcome, body.front .pane-sign-up { width: 100%; height: auto; margin-bottom: 1%; float: none; }
body.front .pane-welcome div, body.front .pane-sign-up div { height: 100%; }
body.front .pane-welcome div .signup-block, body.front .pane-sign-up div .signup-block { min-height: 180px; padding-left: 35%; padding-bottom: 40px; }
body.front .pane-welcome div.signup-block div, body.front .pane-sign-up div.signup-block div { height: auto; font-size: 90%; }
body.front .pane-welcome .home, body.front .pane-sign-up .home { width: auto; height: auto; }
body.front .pane-welcome { width: 95%; margin: 3% auto; }
body.front .pane-inspirations img { margin: 0 auto; }
body.front .pane-inspirations, body.front .hp-ra101 { float: none; width: 100%; height: auto; margin-right: 0; margin-bottom: 1%; overflow: hidden; }
body.front .hp-ra101 { float: left; width: 49%; margin-left: 1%; }
body.front .hp-ra101 .block-inner, body.front .hp-ra101 .block-content, body.front .hp-ra101 .view-articles, body.front .hp-ra101 .view-content, body.front .hp-ra101 .views-row { height: 100%; float: none; }
body.front .hp-ra101 .views-row { min-height: 1%; }
body.front .hp-ra101 .views-row img.image-style-article-mobile { display: block; max-width: none; width: 100%; }
body.front .pane-inspirations { overflow: visible; }
body.front .pane-inspirations div { height: 100%; z-index: 100; }
body.front .pane-inspirations div .view-content { background: #ffc425; }
body.front .pane-inspirations div .view-content .views-field-field-image { display: none; }
body.front .pane-inspirations div .view-content .views-field-field-image-original { display: block; }
body.front .pane-inspirations div .view-footer { height: 28px; border-top: 1px solid white; }
body.front .pane-inspirations div .view-footer .insp-share-all { position: absolute; top: 0; right: 34px; }
body.front .pane-inspirations div .view-footer .rate-widget { position: absolute; top: 0; right: 68px; }
body.front .featured-slider { float: none; width: auto; height: auto; }
body.front .featured-slider ul.slides li { position: relative; }
body.front .featured-slider ul.slides li img { width: 100%; }
body.front .featured-slider .view-articles { height: auto; }
body.front .featured-slider .view-articles .flex-control-nav { margin-bottom: 15px; }
body.front .hp-last-articles { float: none; margin-bottom: 0; }
body.front .hp-last-articles .view-articles .views-row { width: 49%; min-height: 1%; margin: 0 0 1% 1%; overflow: hidden; }
body.front .hp-meet-experts { float: none; width: auto; padding: 10px 0; }
body.front .hp-meet-experts a { font-size: 150%; line-height: normal; }
body.front .hp-meet-experts a:before { display: inline-block; }
body.front .poll-pledge-wrap { display: table; width: 100%; float: none; padding-bottom: 1%; overflow: hidden; }
body.front .poll-pledge-wrap .pane-polls { display: table-cell; height: 100%; padding: 0; width: 48.5%; }
body.front .poll-pledge-wrap .pane-polls .block-inner { padding: 3px 10px 10px; }
body.front .poll-pledge-wrap .pane-polls .block-inner .pollfield-percent { display: none; }
body.front .poll-pledge-wrap .pane-polls .block-inner .poll-view-results { display: block; }
body.front .poll-pledge-wrap .pane-polls .pollfield-row .barcell, body.front .poll-pledge-wrap .pane-polls .pollfield-row .barcell .bar { width: 100%; }
body.front .poll-pledge-wrap .pane-pledges { display: table-cell; height: 100%; width: 48.5%; }
body.front .pane-topic-articles { width: auto; float: none; margin-left: -1%; margin-bottom: 0; }
body.front .pane-topic-articles .views-row { margin-left: 1%; margin-bottom: 1%; width: 49%; overflow: hidden; }
body.front .pane-topic-articles .views-row img { width: 100%; max-width: none; }
body.front .pane-topic-articles .views-row.views-row-1 { overflow: visible; margin-top: 35px; }
body.front .pane-topic-articles .views-row.views-row-1 .popular-label { display: block; top: -35px; font-size: 1.875em; }
body.front .pane-topic-articles .views-row.views-row-1, body.front .pane-topic-articles .views-row.views-row-2, body.front .pane-topic-articles .views-row.views-row-3 { width: 100%; margin-left: 0; }
body.front .pane-topic-articles .views-row.views-row-1 .view-articles .overlay .views-field-title a, body.front .pane-topic-articles .views-row.views-row-2 .view-articles .overlay .views-field-title a, body.front .pane-topic-articles .views-row.views-row-3 .view-articles .overlay .views-field-title a { font-size: 2em; }
body.front .pane-topic-articles .views-row.views-row-4 { margin-left: 1%; }
body.front .pane-topic-articles .views-row .views-row { width: auto; float: none; margin: 0; min-height: 1%; }
body.front .pane-topic-articles .views-row.views-row-three-after .popular-label { display: none; }
body.front .pane-topic-articles .views-row.views-row-three-after .views-row { margin: 0; width: auto; }
body.front .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { position: relative; left: auto; margin: 0; max-width: none; }

body.node-type-inspiration .pane-ra-prev-next-counter + .panel-separator { width: 100%; clear: both; }

body.node-type-inspiration .view-topic-articles { width: auto; float: none; margin-left: -1%; margin-bottom: 0; }
body.node-type-inspiration .view-topic-articles .views-row { margin-left: 1%; margin-bottom: 1%; width: 49%; overflow: hidden; }
body.node-type-inspiration .view-topic-articles .views-row img { width: 100%; max-width: none; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-1 { overflow: visible; margin-top: 35px; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-1 .popular-label { display: block; top: -35px; font-size: 1.875em; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-1, body.node-type-inspiration .view-topic-articles .views-row.views-row-2, body.node-type-inspiration .view-topic-articles .views-row.views-row-3 { width: 100%; margin-left: 0; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-4 { margin-left: 1%; }
body.node-type-inspiration .view-topic-articles .views-row .views-row { width: auto; float: none; margin: 0; min-height: 1%; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-three-after .popular-label { display: none; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-three-after .views-row { margin: 0; width: auto; }
body.node-type-inspiration .view-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { position: relative; left: auto; margin: 0; max-width: none; }

.node-type-expert .pane-experts .nano, .node-type-recipe .pane-node-field-recipe-ingredients .nano, .node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients, .node-type-recipe .pane-node-field-recipe-directions .nano { height: auto; }
.node-type-expert .pane-experts .nano .content, .node-type-recipe .pane-node-field-recipe-ingredients .nano .content, .node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients .content, .node-type-recipe .pane-node-field-recipe-directions .nano .content { position: relative; }
.node-type-expert .pane-experts .nano .view-display-id-expert_detailed, .node-type-recipe .pane-node-field-recipe-ingredients .nano .view-display-id-expert_detailed, .node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients .view-display-id-expert_detailed, .node-type-recipe .pane-node-field-recipe-directions .nano .view-display-id-expert_detailed { padding-right: 0; }
.node-type-expert .pane-experts .nano .view-content, .node-type-recipe .pane-node-field-recipe-ingredients .nano .view-content, .node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients .view-content, .node-type-recipe .pane-node-field-recipe-directions .nano .view-content { width: auto; }

.page-meet-the-ra-experts .view-experts { width: auto; }
.page-meet-the-ra-experts .view-experts .views-row { background-color: #d4d5d2; float: none; width: auto; height: auto; margin-right: 0; margin-bottom: 2.7%; }
.page-meet-the-ra-experts .view-experts .views-row.views-row-0 { display: block; background-image: none; padding: 0px; height: auto; width: auto; font-size: 150%; text-transform: uppercase; }
.page-meet-the-ra-experts .view-experts .views-row.views-row-0 .experts-placeholder { display: inline-block; }
.page-meet-the-ra-experts .view-experts .views-row.views-row-0:before { content: '\e00d'; /* meet the experts */ font-family: "icomoon"; display: inline-block; padding: 8px; text-align: center; }
.page-meet-the-ra-experts .view-experts .views-row .views-field-nothing { background-color: transparent; border-right: 7px solid #fff; margin-right: 30%; padding: 0; position: relative; width: auto; }
.page-meet-the-ra-experts .view-experts .views-row .views-field-field-image { display: none; }
.page-meet-the-ra-experts .view-experts .views-row .views-field-field-image-1 { display: block; position: relative; float: right; width: 30%; }
.page-meet-the-ra-experts .view-experts .views-row .views-field-field-image-1 img { width: 100%; height: auto; }
.page-meet-the-ra-experts .view-experts .views-row .expert-overlay { position: relative; background: #8dc63f; background-image: none; width: auto; padding: 0; overflow: hidden; }
.page-meet-the-ra-experts .view-experts .views-row .expert-overlay:hover, .page-meet-the-ra-experts .view-experts .views-row .expert-overlay.notouch:hover, .page-meet-the-ra-experts .view-experts .views-row .expert-overlay.hover { background-image: none; }
.page-meet-the-ra-experts .view-experts .views-row .expert-overlay .views-field-title { text-align: left; background-color: #7fb239; margin-top: 0; padding: 5px 10px; max-width: none; }
.page-meet-the-ra-experts .view-experts .views-row .expert-overlay .expert-collapsed { display: none; }
.page-meet-the-ra-experts .view-experts .views-row .expert-overlay .expert-expanded { display: block; padding: 0; }
.page-meet-the-ra-experts .view-experts .views-row .expert-overlay .expert-expanded .expert-full-bio { background-color: transparent; border-top: 1px solid white; }

.node-type-expert .landing-breadcrumb { padding: 5% 0; }
.node-type-expert #block-system-main .region-inner { display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; box-orient: vertical; -webkit-box-align: stretch; -moz-box-align: stretch; -ms-box-align: stretch; box-align: stretch; width: 98%; padding: 0 1%; }
.node-type-expert #block-system-main .region-inner .pane-experts { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-box-ordinal-group: 2; box-ordinal-group: 2; float: none; width: auto; margin-bottom: 1%; }
.node-type-expert #block-system-main .region-inner .pane-experts .views-field-title { display: none; }
.node-type-expert #block-system-main .region-inner .pane-articles { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; -ms-box-ordinal-group: 3; box-ordinal-group: 3; }
.node-type-expert #block-system-main .region-inner .title-video-exp-wrapp { float: none; }
.node-type-expert #block-system-main .region-inner .pane-node-title { position: relative; display: block; background-color: #8dc63f; padding: 2% 5%; font: 2.571em "Neo Sans W10 Bold", Arial, sans-serif; color: white; text-align: center; text-transform: uppercase; }
.node-type-expert #block-system-main .region-inner .pane-node-field-expert-video { float: none; }
.node-type-expert #block-system-main .region-inner .pane-node-field-expert-video.block, .node-type-expert #block-system-main .region-inner .pane-node-field-expert-video .block { margin-bottom: 0; }
.node-type-expert #block-system-main .region-inner .pane-node-field-expert-video iframe { width: 100%; }
.node-type-expert #block-system-main .region-inner .pane-custom.pane-3 { display: none; }
.node-type-expert #block-system-main .region-inner .view-display-id-expert_detailed { float: none; width: auto; height: auto; }
.node-type-expert .pane-articles .view-articles .view-content { width: auto; }
.node-type-expert .pane-articles .view-articles .views-row { float: none; margin-bottom: 1%; margin-right: 0; min-height: auto; height: auto; width: 100%; }
.node-type-expert .pane-articles .view-articles .views-row .overlay .views-field-title a { font-size: 2em; }
.node-type-expert .pane-articles .view-articles .views-row .views-field-field-image img { width: 100%; height: auto; }

.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-virtual-cookbook, .node-type-recipe #block-system-main .pane-virtual-cookbook { padding: 10px 5% 10px 45px; font-size: 80%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu, .page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-views-exp-recipes-recipes-page, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu, .node-type-recipe #block-system-main .pane-views-exp-recipes-recipes-page { float: none; width: auto; margin-bottom: 0px; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .region-two-50-first .pane-node-field-image-original, .node-type-recipe #block-system-main .region-two-50-first .pane-node-field-image-original { display: block; text-align: center; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .region-two-50-first .pane-node-field-image-original img, .node-type-recipe #block-system-main .region-two-50-first .pane-node-field-image-original img { display: inline-block; margin: 0 auto; max-width: 98.8%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu { margin-left: -0.2%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 { position: relative; width: 49.8%; margin: 0 0 0 .2%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 > a, .page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 > span.nolink, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 > a, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 > span.nolink { font-size: 80%; border-left: 1px solid white; border-bottom: 1px solid white; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 ul, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 ul { width: 98.8%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 ul ul, .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1 ul ul { width: 100%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1:nth-child(2), .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1:nth-child(2) { z-index: 99; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1:nth-child(3), .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1:nth-child(3) { z-index: 98; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1:nth-child(4), .node-type-recipe #block-system-main .pane-menu-menu-recipe-menu ul.menu > li.menu-depth-1:nth-child(4) { z-index: 97; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-views-exp-recipes-recipes-page, .node-type-recipe #block-system-main .pane-views-exp-recipes-recipes-page { margin-left: 1px; position: relative; width: 99.3%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-views-exp-recipes-recipes-page #edit-field-search-value-wrapper, .node-type-recipe #block-system-main .pane-views-exp-recipes-recipes-page #edit-field-search-value-wrapper { float: none; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield, .node-type-recipe #block-system-main .pane-views-exp-recipes-recipes-page .form-type-textfield { width: auto; padding: 0 50px 0 16px; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .pane-views-exp-recipes-recipes-page .views-submit-button, .node-type-recipe #block-system-main .pane-views-exp-recipes-recipes-page .views-submit-button { position: absolute; top: 0; right: 0; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes, .node-type-recipe #block-system-main .view-recipes { width: 100%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .attachment, .node-type-recipe #block-system-main .view-recipes .attachment { margin: 15px 0 20px 2%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .view-content, .node-type-recipe #block-system-main .view-recipes .view-content { margin-left: -0.5%; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .views-row, .node-type-recipe #block-system-main .view-recipes .views-row { width: 49%; height: auto; margin: 0 0 1% 1%; padding: 0; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .views-row.views-row-0 img, .node-type-recipe #block-system-main .view-recipes .views-row.views-row-0 img { display: block; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .views-row img, .node-type-recipe #block-system-main .view-recipes .views-row img { display: block; width: 100%; height: auto; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .views-row .views-field-title, .node-type-recipe #block-system-main .view-recipes .views-row .views-field-title { width: 100%; padding: 0; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .views-row .views-field-title span, .node-type-recipe #block-system-main .view-recipes .views-row .views-field-title span { display: block; padding: 10px; line-height: 0.5; }
.page-diet-and-exercise-ra-friendly-recipes #block-system-main .view-recipes .views-row .views-field-title span a, .node-type-recipe #block-system-main .view-recipes .views-row .views-field-title span a { font-size: 0.714em; line-height: normal; }

.page-taxonomy-term .topic-info, .page-taxonomy-term .panel-pane.pane-sign-up { width: 100%; float: none; margin-bottom: 8px; }
.page-taxonomy-term .topic-info .topic, .page-taxonomy-term .panel-pane.pane-sign-up .topic { width: auto; min-height: 200px; }
.page-taxonomy-term .panel-pane.panel-pane.featured-article { width: 100%; max-height: none; margin: 0; float: none; }
.page-taxonomy-term .panel-pane.panel-pane.featured-article .overlay .views-field-title a { font-size: 2em; }
.page-taxonomy-term .panel-pane.panel-pane.featured-article .block-inner .views-row { float: none; margin: 0 0 1%; }
.page-taxonomy-term .panel-pane.panel-pane.featured-article .block-inner .views-row .views-field-field-image img { max-width: none; width: 100%; }
.page-taxonomy-term .pane-experts { width: 100%; max-height: none; float: none; }
.page-taxonomy-term .pane-experts .view-experts { width: auto; }
.page-taxonomy-term .pane-experts .views-row, .page-taxonomy-term .pane-experts .views-field-field-image { width: 100%; float: none; }
.page-taxonomy-term .pane-experts .views-row img, .page-taxonomy-term .pane-experts .views-field-field-image img { width: 100%; max-height: none; }
.page-taxonomy-term .pane-polls { width: auto; float: none; padding-bottom: 8px; }
.page-taxonomy-term .topic-articles { width: auto; margin-left: -1%; padding-top: 0; }
.page-taxonomy-term .topic-articles .views-row { width: 49%; height: auto; margin-left: 1%; margin-bottom: 1%; margin-right: 0; min-height: 1%; }
.page-taxonomy-term .topic-articles .views-row img { width: 100%; }
.page-taxonomy-term .reprinted-permission p { margin: 10px 0; }

body.topic-landing .topic-info .view-display-id-topic_info { height: auto; }
body.topic-landing .topic-info .view-display-id-topic_info .views-field-description { padding: 25px 17px; }
body.topic-landing .pane-sign-up { display: none; }
body.topic-landing .pane-4.topic-meet-experts { display: block; }
body.topic-landing .pane-2.topic-meet-experts { display: none; }
body.topic-landing .topic-meet-experts { float: none; width: 100%; padding: 10px 0; clear: both; margin: 10px 0; }
body.topic-landing .topic-meet-experts a { font-size: 150%; line-height: normal; }
body.topic-landing .topic-meet-experts a:before { display: inline-block; }
body.topic-landing .pane-polls { height: auto; }
body.topic-landing .pane-polls .pollfield-row .text { width: 100%; }
body.topic-landing .pane-polls .pollfield-row .barcell { width: 115%; }
body.topic-landing .pane-polls .pollfield-row .barcell .bar { width: 100%; }
body.topic-landing .pane-polls .pollfield-row .pollfield-percent { width: 14%; min-width: 1%; }

body.node-type-article .article-joints { padding: 10px; }
body.node-type-article .article-joints .views-field-field-article-teaser, body.node-type-article .article-joints .views-field-field-article-bottom-teaser, body.node-type-article .article-joints .views-field-field-article-body { font-size: 0.889em; margin: 0 -10px; }
body.node-type-article .article-joints .views-field-field-article-teaser { margin: 0 0 10px; }
body.node-type-article .article-joints .views-field-field-article-bottom-teaser { padding: 10px; margin: 0px; }
body.node-type-article .article-joints .views-field-nothing { margin-left: -10px; margin-right: -10px; }
body.node-type-article .article-joints .views-field-nothing .slide-title { font-size: 1.651em; }
body.node-type-article .article-joints .views-field-field-article-body { padding: 0 50px; }
body.node-type-article .article-joints .views-field-field-article-body .flexslider { max-height: none; font-size: 0.786em; }
body.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides img { display: block; border: none; float: none !important; margin: 0 auto; }
body.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides p { padding-left: 0; }
body.node-type-article .article-joints .views-field-field-article-body .flexslider li ul { margin-left: 0; }
body.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-direction-nav li a.flex-prev { left: -40px; }
body.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-bottom-nav { display: none; }

/* ============================================================================= Article detailed Page ========================================================================== */
.node-type-article .view-display-id-article_detailed { width: auto; }
.node-type-article .view-display-id-article_detailed .views-row { display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; box-orient: horizontal; -webkit-box-align: stretch; -moz-box-align: stretch; -ms-box-align: stretch; box-align: stretch; float: none; width: 100%; min-height: 1%; }
.node-type-article .view-display-id-article_detailed .views-row .views-field { float: none; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-title { -webkit-box-flex: 5; -moz-box-flex: 5; -ms-box-flex: 5; box-flex: 5; border: none; width: auto; min-height: 1%; padding: 10px; font-size: 150%; -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-box-ordinal-group: 1; box-ordinal-group: 1; margin-right: 0; line-height: normal; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-expert { position: relative; min-width: 35%; width: auto; height: auto; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1; display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; box-orient: horizontal; -webkit-box-pack: center; -moz-box-pack: center; -ms-box-pack: center; box-pack: center; -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center; background-color: #ffc425; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-box-ordinal-group: 2; box-ordinal-group: 2; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-expert .field-content { line-height: 18px; text-align: left; width: 80%; }
.node-type-article .view-display-id-article_detailed .views-row .pane-node-field-image { border: none; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-icon, .node-type-article .view-display-id-article_detailed .views-row .views-field-field-image-3 { display: none; }
.node-type-article .pane-node-field-article-body { width: auto; float: none; padding: 10px; }
.node-type-article .pane-node-field-article-body h2 { line-height: 1; margin-bottom: 2%; }
.node-type-article .pane-node-field-article-body .callout-rx { overflow: hidden; }
.node-type-article .pane-node-field-article-body .callout-rx:before { content: ""; display: block; position: absolute; background-position: -138px -482px; height: 142px; width: 119px; left: 0; top: 50%; margin-top: -71px; }
.node-type-article .related-articles { float: none; }
.node-type-article .related-articles .views-row { margin-bottom: 2%; width: 100%; }
.node-type-article .related-articles .views-row.views-row-last { margin-bottom: 0; }
.node-type-article .related-articles .views-row img { width: 100%; }
.node-type-article .pager_wrapper { position: relative; width: 100%; display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; box-orient: horizontal; -webkit-box-align: stretch; -moz-box-align: stretch; -ms-box-align: stretch; box-align: stretch; overflow: hidden; }
.node-type-article .info_text { display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-flex: 5; -moz-box-flex: 5; -ms-box-flex: 5; box-flex: 5; line-height: 48px; background-color: #7c6012; color: white; padding: 0 10px; }
.node-type-article .page_navigation { position: relative; display: block; float: right; }
.node-type-article .page_navigation a.page_link, .node-type-article .page_navigation span { display: none !important; }
.node-type-article .page_navigation a.previous_link, .node-type-article .page_navigation a.next_link { margin: 0; padding: 0 40px; border: none; border-left: 1px solid #7c6012; line-height: 48px; background-color: #b2891a; color: white; text-transform: uppercase; }
.node-type-article .page_navigation a.previous_link:after, .node-type-article .page_navigation a.next_link:after { content: ""; }

.node-type-article.full-width .view-display-id-article_detailed .views-row .views-field-title { padding-right: 10px; }
.node-type-article.full-width .pane-node-field-article-body .bestapps { margin-right: 0; margin-left: 0; }
.node-type-article.full-width .pane-node-field-article-body .bestapps h2 { font-size: 22px; height: 118px; display: table-cell; vertical-align: middle; }
.node-type-article.full-width .pane-node-field-article-body .bestapps p { clear: both; font-size: 15px; }
.node-type-article.full-width .pane-node-field-article-body blockquote { margin-left: 0; width: auto; }

/* ============================================================================= Recipe detailed Page ========================================================================== */
body.node-type-recipe .two-50 .region-two-50-first, body.node-type-recipe .two-50 .region-two-50-second { width: auto; float: none; }
body.node-type-recipe #block-system-main .pane-ra-alters-ra-alters-social-links { margin-top: -1%; }
body.node-type-recipe .similar-recipes { width: auto; }
body.node-type-recipe .region-two-50-second .pane-node-field-image-original { display: none; }

/* ============================================================================= Sign Up Page ========================================================================== */
body.node-type-webform #page > div.breadcrumb { padding: 0; }
body.node-type-webform .field-name-body .field-items { background: none; margin: 2%; font-size: 80%; line-height: normal; }
body.node-type-webform .field-name-body .field-items div, body.node-type-webform .field-name-body .field-items p { margin-bottom: 5%; }
body.node-type-webform .field-name-body .field-items p strong { display: block; font-size: 1.5em; margin-bottom: 10px; line-height: 1 !important; }
body.node-type-webform .field-name-body .field-items p strong span { line-height: 15px !important; }
body.node-type-webform .field-name-body p small { width: auto; }
body.node-type-webform #webform-component-conditional-information--current-treatment .sticky-header { position: relative !important; top: 0 !important; left: 0 !important; }
body.node-type-webform #webform-component-content-information { margin-bottom: 0 !important; }
body.node-type-webform #webform-component-content-information #webform-component-content-information--year-of-birth label { position: relative; top: 2px; right: auto; margin-right: 20px; float: left; display: block; line-height: 30px; font-weight: normal; color: #666666; }
body.node-type-webform #webform-component-conditional-information--medicine-fieldset .webform-component-textfield { width: auto; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--relationship .form-item { display: block; overflow: hidden; padding: 0; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--relationship div.radio { float: left; margin-top: 0.5%; margin-right: 2.5%; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--receive-your-medication .form-item { padding: 0; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--receive-your-medication .form-item div.radio { margin-right: 2.5%; }
body.node-type-webform #webform-component-conditional-information #webform-component-conditional-information--receive-your-medication .form-item label { width: 89%; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper { display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; box-orient: vertical; position: relative; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--first-name { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-box-ordinal-group: 1; box-ordinal-group: 1; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--last-name { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-box-ordinal-group: 2; box-ordinal-group: 2; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--email { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; -ms-box-ordinal-group: 3; box-ordinal-group: 3; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--street-address-1 { -webkit-box-ordinal-group: 4; -moz-box-ordinal-group: 4; -ms-box-ordinal-group: 4; box-ordinal-group: 4; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--street-address-2 { -webkit-box-ordinal-group: 5; -moz-box-ordinal-group: 5; -ms-box-ordinal-group: 5; box-ordinal-group: 5; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--zip { -webkit-box-ordinal-group: 6; -moz-box-ordinal-group: 6; -ms-box-ordinal-group: 6; box-ordinal-group: 6; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--mobile-phone { -webkit-box-ordinal-group: 7; -moz-box-ordinal-group: 7; -ms-box-ordinal-group: 7; box-ordinal-group: 7; }
body.node-type-webform #webform-component-content-information .fieldset-wrapper #webform-component-content-information--year-of-birth { -webkit-box-ordinal-group: 8; -moz-box-ordinal-group: 8; -ms-box-ordinal-group: 8; box-ordinal-group: 8; margin-bottom: 0; }
body.node-type-webform .webform-client-form, body.node-type-webform #webform-component-conditional-information, body.node-type-webform #webform-component-content-information legend { font-size: 80%; }
body.node-type-webform .fieldset-wrapper { padding: 0; }
body.node-type-webform .fieldset-wrapper .form-radios, body.node-type-webform .fieldset-wrapper .description { margin-left: 0px; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth { float: none; width: auto; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name #uniform-edit-submitted-content-information-year-of-birth, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name #uniform-edit-submitted-content-information-year-of-birth, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth #uniform-edit-submitted-content-information-year-of-birth { float: none; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--first-name .description, body.node-type-webform .fieldset-wrapper #webform-component-content-information--last-name .description, body.node-type-webform .fieldset-wrapper #webform-component-content-information--year-of-birth .description { color: #666666; font-style: italic; clear: both; text-align: right; padding-top: 20px; }
body.node-type-webform .fieldset-wrapper #webform-component-content-information--street-address-1, body.node-type-webform .fieldset-wrapper #webform-component-content-information--street-address-2, body.node-type-webform .fieldset-wrapper #webform-component-content-information--zip, body.node-type-webform .fieldset-wrapper #webform-component-content-information--email, body.node-type-webform .fieldset-wrapper #webform-component-content-information--mobile-phone { float: none; width: auto; }

body.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content { margin: 0; }
body.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 .node-content #webform-component-email input { width: 98%; }

.view-display-id-related_articles { width: auto; float: none; }
.view-display-id-related_articles .views-row { float: left; width: 49%; margin-left: 1%; margin-right: 0; }
.view-display-id-related_articles .views-row img { width: 100%; }

body.node-type-inspiration .pane-node-field-image-original { min-width: 1%; width: 68.5%; }

body.node-type-inspiration .pane-ra-prev-next-next, body.node-type-inspiration .pane-ra-prev-next-prev { margin-top: 0; }
body.node-type-inspiration .pane-ra-prev-next-next .block-content, body.node-type-inspiration .pane-ra-prev-next-prev .block-content { height: 160px; position: relative; line-height: 160px; }
body.node-type-inspiration .pane-ra-prev-next-next .block-content a, body.node-type-inspiration .pane-ra-prev-next-prev .block-content a { position: absolute; line-height: 160px; }
body.node-type-inspiration .pane-ra-prev-next-next span, body.node-type-inspiration .pane-ra-prev-next-prev span { position: absolute !important; text-align: left; }

body.node-type-inspiration .pane-ra-prev-next-next .block-content:after, body.node-type-inspiration .pane-ra-prev-next-prev .block-content:after { top: 0; }

body.node-type-inspiration .pane-ra-prev-next-next .block-content a, body.node-type-inspiration .pane-ra-prev-next-next .block-content span, body.node-type-inspiration .pane-ra-prev-next-prev .block-content a, body.node-type-inspiration .pane-ra-prev-next-prev .block-content span { height: auto; }

#block-system-main .pane-ra-alters-ra-alters-social-links { margin: 0 0 10px; }

a.print { display: none !important; }

#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links ul li a { width: 2.5em; }

#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu { background: none; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu:before { background: none; line-height: 38px; content: "\e002"; display: block; position: absolute; top: 0; left: 0; font-size: 1.5em; font-family: 'icomoon_genetech-logo'; width: 100px; }

#views-exposed-form-articles-search-articles .form-item input.error { border: none !important; }

.view-articles .views-field-value { display: none; }

body.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .green-block, body.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .blue-block, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .green-block, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .blue-block, body.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .green-block, body.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .blue-block { width: 100%; float: none; padding: 8% 0; background-size: 100%; }
body.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .green-block ul, body.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .blue-block ul, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .green-block ul, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .blue-block ul, body.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .green-block ul, body.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .blue-block ul { padding: 70% 15% 0; }
body.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .green-block a.learn-more, body.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020 .blue-block a.learn-more, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .green-block a.learn-more, body.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b .blue-block a.learn-more, body.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .green-block a.learn-more, body.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 .blue-block a.learn-more { position: relative; left: auto; }

body.node-type-webform #edit-actions { padding: 0 60px 36px; }

.view-recipes .views-row .overlay .overlay-dark .views-field-value { display: none; }

.node-type-article .view-articles .views-row .overlay .views-field-title a { font-size: 2em; }

body.page-latest-content #page > div, body.page-latest-content .view-articles { padding: 0; }

body.page-latest-content .pane-custom.pane-1 { margin: 3% auto; width: 95%; padding: 0; }
body.page-latest-content .pane-custom.pane-1 > div { padding: 10px 14px; }

body.page-latest-content .view-articles .views-row .view-row-left { float: none; margin: 0; }

body.page-latest-content .view-row-right .latest-article-title { display: none; }
body.page-latest-content .view-row-right .latest-article-body { padding: 20px; background-color: #e5e5e5; }

body.page-latest-content .view-articles .views-row .views-field-field-image img { width: 100%; height: auto; }

/* ============================================================================= Video detailed Page ========================================================================== */
.node-type-video .breadcrumb { font-size: 93%; }
.node-type-video #block-system-main .term-icon { display: none; }
.node-type-video #block-system-main .title { border: none; font-size: 25px; line-height: 30px; min-height: inherit; padding: 15px 20px; }
.node-type-video #block-system-main #video-page-descr { font-size: 15px; padding: 5% 4% 0 4%; }
.node-type-video #block-system-main #video-wrapper { height: 392px; }
.node-type-video #block-system-main #video-wrapper .pane-node-field-video-video, .node-type-video #block-system-main #video-wrapper #default-coming-soon { display: none; }
.node-type-video #block-system-main #video-wrapper .pane-videos { float: none; width: 100%; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row { position: relative; max-height: 87px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-image { display: none; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video { display: block; float: left; position: relative; width: 41%; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .content { position: inherit; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content a { display: block; width: 99.5%; max-width: 119px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content a.active { padding-right: 19px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content a.active:before { content: ""; display: block; position: absolute; background-position: -91px 0; height: 57px; width: 19px; right: 0; top: 50%; margin-top: -28.5px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content > .video-thumb-link { position: absolute; height: 100%; width: 100%; background: url(../images/video-list-IE-fix.png) 50% 50% no-repeat; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content > .video-thumb-link.active { padding-right: 19px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video .field-content > .video-thumb-link.active:before { content: ""; display: block; position: absolute; background-position: -91px 0; height: 57px; width: 19px; right: 0; top: 50%; margin-top: -28.5px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video iframe { display: block; max-height: 87px; max-width: 119px; position: relative; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-field-video-video img { display: block; width: 100%; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-title { font-size: 15px; line-height: 20px; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .views-field-title .field-content { padding-left: 12%; padding-right: 12%; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .video-play-button { position: absolute; top: 0; height: 100%; width: 100%; }
.node-type-video #block-system-main #video-wrapper .pane-videos .views-row .video-play-button:before { content: ""; display: block; position: absolute; background-position: -8px 0; height: 39px; width: 39px; left: 50%; top: 50%; margin-left: -19.5px; margin-top: -19.5px; }
.node-type-video #block-system-main .pane-node-body { font-size: 15px; padding: 0 4%; }
.node-type-video #block-system-main .pane-node-body blockquote { width: auto; }
.node-type-video #block-system-main .pane-ra-alters-ra-alters-social-links { float: none; }
.node-type-video #block-system-main .view-display-id-video_contributors h2 { font: 18px "Neo Sans W10 Medium", Arial, sans-serif; margin-left: 3%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row { margin-bottom: 4%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing { max-width: 30%; margin-bottom: 0; margin-right: 5%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing .views-field-title { font-size: 74%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing img { max-width: 100%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-body { display: none; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-body-2 { display: block; float: right; font-size: 15px; max-height: 66px; margin-top: 7px; overflow: hidden; padding-right: 3%; width: 62%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-body-2 p { margin: 0; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-body-2 a { color: #48abbe; font-weight: bold; text-decoration: underline; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-body-2 a:hover { text-decoration: none; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing-1 { display: block; margin-left: 35%; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing-1 .full-bio-mobile, .node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing-1 .minimize-mobile { background: url(../images/full-bio-arrows.png) 100% -21px no-repeat; color: #474747; font-size: 15px; font-weight: bold; padding-right: 14px; text-decoration: none; }
.node-type-video #block-system-main .view-display-id-video_contributors .views-row .views-field-nothing-1 .minimize-mobile { background-position: 100% 5px; display: none; }
