/*
 * @file
 * typography
 *
 * @todo
 * !!PROPERLY LICENCE THESE FONTS!!
 */
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.eot?v=3.0.1");
  src: url("../fonts/MyriadPro-Semibold.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/MyriadPro-Semibold.ttf") format("truetype"),
     url('../fonts/MyriadPro-Semibold.woff') format('woff'),
     url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
}

@font-face {
  font-family: "icons-extra";
  src: url("../fonts/fontawesome-social-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-social-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/fontawesome-social-webfont.svg") format("svg"),
     url("../fonts/fontawesome-social-webfont.ttf") format("truetype"),
     url("../fonts/fontawesome-social-webfont.woff") format("woff");
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?v=3.0.1');
  src:url('../fonts/icomoon.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon_genetech-logo';
  src:url('../fonts/icomoon_genetech-logo.eot?v=3.0.1');
  src:url('../fonts/icomoon_genetech-logo.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/icomoon_genetech-logo.woff') format('woff'),
    url('../fonts/icomoon_genetech-logo.ttf') format('truetype'),
    url('../fonts/icomoon_genetech-logo.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MagnifyGlass';
  src:url('../fonts/MagnifyGlass.eot?v=3.0.1');
  src:url('../fonts/MagnifyGlass.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/MagnifyGlass.woff') format('woff'),
    url('../fonts/MagnifyGlass.ttf') format('truetype'),
    url('../fonts/MagnifyGlass.svg#MagnifyGlass') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconsmore';
  src:url('../fonts/iconsmore.eot?-jvu5pk');
  src:url('../fonts/iconsmore.eot?#iefix-jvu5pk') format('embedded-opentype'),
    url('../fonts/iconsmore.woff?-jvu5pk') format('woff'),
    url('../fonts/iconsmore.ttf?-jvu5pk') format('truetype'),
    url('../fonts/iconsmore.svg?-jvu5pk#iconsmore') format('svg');
  font-weight: normal;
  font-style: normal;
}
