/* External Fonts */
$NeoSans-Regular: "Neo Sans W10";
$NeoSans-Light: "Neo Sans W10 Light";
$NeoSans-Medium: "Neo Sans W10 Medium";
$NeoSans-Bold: "Neo Sans W10 Bold";
$NeoSans-Italic: "Neo Sans W10 Italic";

/* font vars */
$category-name: 10px $NeoSans-Medium, Arial, sans-serif;
$footer-topic-links: 10px $NeoSans-Regular, Arial, sans-serif;
$headline: 16px $NeoSans-Medium, Arial, sans-serif;
$search-text: normal 1.286em $NeoSans-Regular, Arial, sans-serif;
$expert-name: 2.571em $NeoSans-Bold, Arial, sans-serif;

/* font sizes. based on 14px/87.5% default font size */
$font-8: .571em;
$font-10: .714em;
$font-11: .786em;
$font-12: .857em;
$font-13: .929em;
$font-14: 1em;
$font-15: 1.071em;
$font-16: 1.143em;
$font-17: 1.214em;
$font-18: 1.286em;
$font-20: 1.429em;
$font-21: 1.5em;
$font-22: 1.571em;
$font-24: 1.714em;
$font-25: 1.786em;
$font-26: 1.857em;
$font-28: 2em;
$font-30: 1.875em;
$font-32: 2.286em;
$font-33: 2.357em;
$font-34: 2.429em;
$font-36: 2.571em;
$font-39: 2.786em;

$icon-poll: 1.2em;
$icon-pledge: 3em;

/* color vars */
/* backgrounds/borders */
$blue-bg: #48abbe;
$lightblue-bg: #81c5d2;
$lightblue-hover-bg: #48abbe;
$green-bg: #8dc63f;
$dgreen-bg: #7fb239;
$grey-bg: #828285;
$yellow-bg: #ffc425;
$Conifer: #a5da5d;
$Deco: #c6e39f;
$Sushi: #80b735;
$SilverChalice: #a8a8a8;
$fb-bg: #546ca7;
$twtr-bg: #7edefe;
$pinit-bg: #c9232d;
$Delta: #aaaaa9;
$Silver-Chalice: #9e9e9e;
$Atlantis: #99CC33;
$Clover: #7eaa13;
$Dusty-Gray: #999;
$Manatee: #9B9B9C;
$Mandalay: #b2891a;
$Spicy-Mustard: #7c6012;
$Boston-Blue: #3E9CAE;
$Gallery: #ededed;
$Deep-Cerulean: #008da8;
$Pelorous: #33a4b9;
$Abbey: #4d4d4f;
$Bombay: #b5b5b7;
$Jagged-Ice: #c7e5eb;
$Golden-Tainoi: #ffd051;
$Goldenrod: #ffd669;
$Black: #000000;
$Cod-Gray: #090909;
$Concrete: #f3f3f3;
$Dove-Gray: #666666;
$Curious-Blue: #3399CC;
$Bondi-Blue: #008DA9;
$Link-Water: #E1F0F7;
$Olive-Drab: #7FAB28;
$Athens-Gray: #f3f3f7;
$Saffron-Mango: #faca4b;
$Limeade: #80bd01;
$Mercury: #E5E5E5;
$Mine-Shaft: #333333;
$grey-placeholder: #d4d5d2;
$Tundora: #464646;
$fb-hover: #769AE2;
$twitter-hover: #C8F1FC;
$pinit-hover: #EF4B5F;
$email-hover: #CCCCCC;
$Guardsman-Red: #CC0000;
$input-placeholder: #777777;

/* fonts */
$grey: #474747;
$white: #ffffff;

/* box sizing */
$mobile-menu-height: 343px;
$mobile-margin: 60px;
