// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";
@import "_global_vars.scss";

/* =============================================================================
 *   Reset
 * ========================================================================== */
.panel-pane {
  .block-inner {
    margin: 0;
  }
}

/* reset .block { margin-bottom: 20px; } for the following blocks */
#block-system-main,
.pane-topic-articles,
.topic-landing .topic-articles,
.node-type-expert .pane-articles,
.similar-recipes {
  margin-bottom: 0;
}

span.ext {
  display: none;
}

/* =============================================================================
 *   Global
 * ========================================================================== */
.inline {
  display: inline;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
body #page div.messages {
  padding: 10px 10px 10px 50px;
  margin-left: 36px;
  margin-right: 36px;
  &.error {
    background-image: none;
    padding-left: 10px;
  }
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
.breadcrumb {
  margin-bottom: 0.6em;
}
.landing-breadcrumb {
  padding-left: 2px;
  p {
    margin: 0;
  }
  a {
    color: #474747;
    span {
      font-family: $NeoSans-Medium, Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Green Sign up block
 * ========================================================================== */
.signup-block {
  background-color: $green-bg;
  color: $white;
  font-family: $NeoSans-Medium, Arial, sans-serif;
  overflow: hidden;
  padding-left: 136px;
  position: relative;
  &:before {
    @include pseudo-spriting("footer-signup");
    left: 0;
    bottom: 0;
  }
  .signup-title {
    font-size: $font-21;
    margin-bottom: 5px;
    position: relative;
  }
  .signup-close-btn a {
    @include spr-sprite("signup-close");
    text-indent: -9999px;
    height: 19px;
    width: 19px;
    position: absolute;
    top: 3px;
    right: 5px;
    outline: none;
  }
  .signup-button a {
    @include spr-sprite("btn-signup");
    color: $white;
    font: $font-16 $NeoSans-Regular, Arial, sans-serif;
    height: 34px;
    width: 108px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    line-height: 32px;
    text-align: center;
     &:hover {
      @include spr-sprite("btn-signup", $offset-y: -34px);
      text-decoration: none;
    }
  }
}

/* =============================================================================
 *   Meet the Experts link
 * ========================================================================== */
.hp-meet-experts, .topic-meet-experts {
  float: left;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: center;
  p {
    margin: 0;
  }
  a {
    color: $white;
    font-size: $font-24;
    display: block;
    line-height: 22px;
    text-transform: uppercase;
    &:before {
      content: '\e00d'; /* meet the experts */
      font-family: "icomoon";
      display: block;
      padding: 8px;
      text-align: center;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      font-family: $NeoSans-Bold, Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Monthly Poll
 * ========================================================================== */
.pane-polls {
  float: left;
  padding: 8px 10px 0;
  margin-bottom: 0;
  height: 233px;
  width: 188px;
  border: 2px solid $Gallery;
  color: $Abbey;
  .pane-title {
    position: relative;
    border-bottom: 1px solid $Pelorous;
    margin-bottom: 2px;
    padding-bottom: 4px;
    color: $Deep-Cerulean;
    font: $font-12 $NeoSans-Medium, Arial, sans-serif;
    line-height: 18px;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "\e00b";
      font-family: 'icomoon';
      font-size: $font-21;
      color: $Deep-Cerulean;
    }
  }
  .pollfield-title {
    font: $font-12 $NeoSans-Medium, Arial, sans-serif;
    line-height: 14px;
    margin-bottom: 5px;
  }
  .form-item {
    &.form-item-choice {
      margin-left: 2px;
    }
    label {
      font-size: 12px;
      font-weight: normal;
    }
  }
  .form-submit {
    background: $Saffron-Mango;
    border: none;
    color: $white;
    font: $font-16 $NeoSans-Regular, Arial, sans-serif;
    margin-bottom: 5px;
    margin-right: 4px;
    padding: 5px 9px;
  }
  .poll-view-results,
  .poll-back {
    color: $green-bg;
    font: $font-12 $NeoSans-Bold, Arial, sans-serif;
  }
  // Poll results
  .pollfield-row {
    display: none;
    margin: 0px;
    &.pollfield-chosen {
      font-style: normal;
      font-weight: normal;
    }
    .text {
      display: block;
      text-align: left;
      font-size: $font-12;
      line-height: 1em;
      margin: 3px 0;
      min-width: 13em;
    }
    .barcell {
      display: block;
      width: 95px;
      .bar {
        width: 185px;
      }
    }
    .pollfield-percent {
      color: $Deep-Cerulean;
      font-size: $font-10;
      text-align: right;
      padding-bottom: 17px;
      min-width: 0;
    }
  }
  .poll-back {
    display: none;
  }
}

/* =============================================================================
 *   Custom scroll bar
 * ========================================================================== */
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
  .content {
    position      : absolute;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    &:focus {
      outline: thin dotted;
    }
    &::-webkit-scrollbar {
      visibility: hidden;
    }
  }
  & > .pane {
    background : rgba(0,0,0,.25);
    // IE8 rgba simulation
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000);   /* IE6 & 7 */
      zoom: 1;
    position   : absolute;
    width      : 10px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
    &:nth-child(n) {
      filter:none;
    }
    & > .slider {
      background: #444;
      background: rgba(0,0,0,.5);
      position              : relative;
      margin                : 0 1px;
      -moz-border-radius    : 3px;
      -webkit-border-radius : 3px;
      border-radius         : 3px;
      behavior: url(/profiles/ra/themes/custom/ra_theme/js/pie/PIE.htc);
    }
  }
  &:hover > .pane, .pane.active, .pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
  }
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}

/* =============================================================================
 *   Footer
 * ========================================================================== */
#footer {
  color: $white;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  p {
    margin: 0;
  }
  a {
    color: $white;
  }
  .panels-flexible-region-inside {
    padding: 0;
  }
  .block,
  .block-inner {
    margin: 0;
  }
  #mini-panel-footer_menus {
    position: relative;
    .region-two-66-33-first {
      background-color: $grey-bg;
      max-height: 111px;
      width: 510px;
      padding: 10px 0 10px 20px;
      .pane-menu-menu-footer-menu {
        width: 20%;
        float: left;
        margin-top: 5px;
        margin-right: 5%;
        font-size: $font-10;
        text-transform: uppercase;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .pane-menu-menu-topics-menu {
        float: left;
        width: 45%;
        li {
          float: left;
          width: 50%;
          line-height: 1;
          padding-bottom: 6px;
          a {
            font: $footer-topic-links;
          }
        }
      }
      .pane-menu-menu-social-links {
        float: left;
        width: 30%;
        text-align: center;
        h2 {
          font: $font-12 $NeoSans-Regular, Arial, sans-serif;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        ul {
          text-align: center;
          li {
            display: inline-block;
            text-align: center;
            a:after {
              font-family: "iconsmore";
              color: $Athens-Gray;
              display: block;
              font-size: 2em;
              position: relative;
              text-align: center;
              top: -1em;
              text-indent: 0;
            }
            a:hover {
              text-decoration: none;
              &:after {
                color: $Saffron-Mango;
              }
            }
            a {
              display: block;
              text-indent: -9999px;
              overflow: hidden;
              height: 2em;
              position: relative;
              width: 3em;
              z-index: 1;
            }
            &.first a:after {
              content: "\e604"; /* facebook icon */
            }
            &.menu-item-1227 a:after {
              content: "\e605"; /* twitter icon */
            }
            &.last a:after {
              font-family: "icons-extra";
              content:"\f30e"; /* youtube icon */
            }
          }
        }
      }
      .pane-menu-menu-copyright-menu {
        position: relative;
        clear: both;
        float: left;
        padding-left: 100px;
        padding-bottom: 15px;
        overflow: hidden;
        &:before {
          @include pseudo-spriting("footer-logo");
          left: 0;
          top: 8px;
        }
        li {
          float: left;
          padding-right: 5px !important;
          &:after {
            content: "|";
            padding-left: 5px !important;
          }
          &.last:after {
            content: none;
          }
          a {
            font: $footer-topic-links;
          }
        }
      }
      #copyright {
        font: $footer-topic-links;
        position: absolute;
        bottom: 4px;
        left: 120px;
      }
    }
    .region-two-66-33-second {
      background-color: $green-bg;
      height: 131px;
      padding-left: 136px;
      position: relative;
      &:before {
        @include pseudo-spriting("footer-signup");
        left: 0;
        top: 0;
      }
      .sign-up-info {
        margin-top: 10px;
        h2 {
          font: $font-18 $NeoSans-Medium, Arial, sans-serif;
          margin-bottom: 5px;
          position: relative;
        }
        .block-content {
          font: $font-14 $NeoSans-Medium, Arial, sans-serif;
          li {
            list-style: outside disc;
            margin-left: 15px;
          }
        }
        .signup-button {
          @include spr-sprite("btn-signup");
          height: 34px;
          width: 108px;
          position: absolute;
          bottom: 10px;
          right: 25px;
          font: $font-16 $NeoSans-Regular, Arial, sans-serif;
          line-height: 32px;
          text-align: center;
          &:hover {
            @include spr-sprite("btn-signup", $offset-y: -34px);
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1000px) {
  #footer #mini-panel-footer_menus .region-two-66-33-first .region-inner .pane-menu-menu-copyright-menu:before {
    content: "\e026";
    font-family: 'icomoon';
  }
}

/* =============================================================================
 *   Article Tiles
 * ========================================================================== */
.view-articles {
  .views-row {
    color: $white;
    float: left;
    margin-right: 17px;
    margin-bottom: 17px;
    min-height: 203px;
    position: relative;
    .views-field-field-image img {
      display: block;
    }
    .views-field-field-image-mobile {
      display: none;
    }
    .blue-corner {
      @include spr-sprite("article-badge-corner");
      height: 71px;
      width: 92px;
      padding: 3px 3px 0 0;
      position: absolute;
      top: 0;
      right: 0;
      .views-field-name {
        float: right;
        font: $category-name;
        text-align: right;
        width: 80%;
      }
      .views-field-field-icon {
        text-align: right;
        clear: both;
        // hardcode Diet & Exercise topic icon to have it touch the edge
        &.topic-2 {
          margin-right: -3px;
        }
        img {
          // max-width: 15px;
          width: 15px;
        }
      }
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
        zoom: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
      .views-field-title {
        font: $headline;
        padding: 5px 10px;
        a {
          color: $white;
        }
      }
      .overlay-dark {
        background: rgba(0, 0, 0, 0.35);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
          zoom: 1;
        height: 16px;
        padding-left: 10px;
        overflow: hidden;
        &:nth-child(n) {
          filter:none;
        }
        .views-field-field-expert {
          float: left;
          font: $font-8 $NeoSans-Medium, Arial, sans-serif;
          margin-top: 2px;
        }
        .views-field-value {
          float: right;
          .rate-count {
            float: left;
            padding-top: 3px;
            font: $font-8 $NeoSans-Medium, Arial, sans-serif;
          }
          .rate-wrapper {
            background: rgba(0, 0, 0, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);   /* IE6 & 7 */
              zoom: 1;
            float: right;
            padding: 2px 5px 3px;
            margin-left: 5px;
            line-height: 8px;
            height: 11px;
            &:nth-child(n) {
              filter:none;
            }
            a {
              padding-right: 14px;
              color: $white;
              font: $font-8 $NeoSans-Medium, Arial, sans-serif;
              position: relative;
              &:before {
                @include pseudo-spriting("rate-icon");
                right: 0;
                top: 0;
                height: 10px;
              }
              &:hover,
              &.user-voted {
                text-decoration: none;
                &:before {
                  @include pseudo-spriting("rate-icon", 0, -10px);
                  height: 10px;
                }
              }
            }
          }
        }
      }
    }
    &:hover {
      .overlay {
        background: rgba($Pelorous, 0.79);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9);   /* IE6 & 7 */
          zoom: 1;
        &:nth-child(n) {
          filter:none;
        }
        .overlay-dark {
          background: rgba($Black, 0.35);
          // IE8 rgba simulation
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
            zoom: 1;
          &:nth-child(n) {
            filter:none;
          }
          .rate-wrapper {
            background: rgba($Cod-Gray, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909);   /* IE6 & 7 */
              zoom: 1;
            &:nth-child(n) {
              filter:none;
            }
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Recipe Tiles
 * ========================================================================== */
.view-recipes {
  clear: both;
  width: 105%;
  .view-header {
    color: $Boston-Blue;
    padding-bottom: 10px;
    a {
      color: $Boston-Blue;
      font-weight: bold;
    }
  }
  .views-row {
    background-color: $grey-placeholder;
    color: $white;
    float: left;
    position: relative;
    width: 220px;
    height: 210px;
    margin-right: 10px;
    margin-bottom: 10px;
    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
        zoom: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
      .views-field-title {
        background: none;
        font: $headline;
        padding: 5px 10px;
        position: relative;
        width: auto;
        a {
          color: $white;
        }
      }
      .overlay-dark {
        background: rgba(0, 0, 0, 0.35);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
          zoom: 1;
        height: 16px;
        padding-left: 10px;
        overflow: hidden;
        &:nth-child(n) {
          filter:none;
        }
        .views-field-field-expert {
          float: left;
          font: $font-8 $NeoSans-Medium, Arial, sans-serif;
          margin-top: 2px;
        }
        .views-field-value {
          float: right;
          .rate-count {
            float: left;
            padding-top: 3px;
            font: $font-8 $NeoSans-Medium, Arial, sans-serif;
          }
          .rate-wrapper {
            background: rgba(0, 0, 0, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);   /* IE6 & 7 */
              zoom: 1;
            float: right;
            padding: 2px 5px 3px;
            margin-left: 5px;
            line-height: 8px;
            height: 11px;
            &:nth-child(n) {
              filter:none;
            }
            a {
              padding-right: 14px;
              color: $white;
              font: $font-8 $NeoSans-Medium, Arial, sans-serif;
              position: relative;
              &:before {
                @include pseudo-spriting("rate-icon");
                right: 0;
                top: 0;
                height: 10px;
              }
              &:hover,
              &.user-voted {
                text-decoration: none;
                &:before {
                  @include pseudo-spriting("rate-icon", 0, -10px);
                  height: 10px;
                }
              }
            }
          }
        }
      }
    }
    &:hover {
      .overlay {
        background: rgba($Pelorous, 0.79);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9);   /* IE6 & 7 */
          zoom: 1;
        &:nth-child(n) {
          filter:none;
        }
        .overlay-dark {
          background: rgba($Black, 0.35);
          // IE8 rgba simulation
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
            zoom: 1;
          &:nth-child(n) {
            filter:none;
          }
          .rate-wrapper {
            background: rgba($Cod-Gray, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909);   /* IE6 & 7 */
              zoom: 1;
            &:nth-child(n) {
              filter:none;
            }
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Expert Tiles
 * ========================================================================== */
 .page-meet-the-ra-experts #main-content {
  margin: 0;
 }
.view-experts {
  .view-content {
    overflow: hidden;
    width: 105%;
  }
  .views-row {
    position: relative;
    color: $white;
    float: left;
    margin-right: 20px;
    margin-bottom: 19px;
    height: 204px;
    width: 235px;
    overflow: hidden;
    &.views-row-0 {
      background-color: $yellow-bg;
      color: $white;
      font: 48px/48px $NeoSans-Light, Arial, sans-serif;
      height: 110px;
      padding-top: 94px;
      text-align: center;
      &:before {
        @include pseudo-spriting("experts-icon");
        left: 50%;
        top: 25px;
        margin-left: - spr-sprite-width("experts-icon") / 2;
      }
      span {
        font-family: $NeoSans-Medium, Arial, sans-serif;
      }
      img {
        display: none;
      }
    }
    .views-field-field-image {
      display: none;
    }
    .views-field-nothing {
      position: absolute;
      bottom: 0;
      background-color: rgba(37, 39, 38, 0.8);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC252726,endColorstr=#CC252726)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC252726,endColorstr=#CC252726);   /* IE6 & 7 */
        zoom: 1;
      padding-bottom: 5px;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
    }
    .expert-overlay {
      &:before {
        @include pseudo-spriting("expert-col");
        right: 0;
        top: 0;
      }
      &.notouch:hover, &.hover {
        &:before {
          @include pseudo-spriting("expert-exp");
          right: 0;
          top: 0;
        }
        .expert-expanded {
          display: block;
        }
        .expert-collapsed {
          display: none;
        }
      }
      .views-field-title {
        font: 1.143em $NeoSans-Medium, Arial, sans-serif;
        line-height: 1;
        text-align: center;
        margin: 0 auto;
        padding: 5px 0 2px;
        max-width: 78%;
      }
      .expert-collapsed {
        font: $font-12 $NeoSans-Regular, Arial, sans-serif;
        line-height: 16px;
        text-align: center;
        padding: 0 15px;
      }
      .expert-expanded {
        display: none;
        padding: 0 10px;
        .views-field {
          font-size: 12px;
          margin-left: 10px;
          a {
            color: $white;
          }
          .views-label {
            font-family: $NeoSans-Bold, Arial, sans-serif;
            text-transform: uppercase;
          }
          &.views-field-field-expert-raconnection {
            margin-right: 8px;
          }
        }
        .expert-full-bio {
          background-color: $yellow-bg;
          margin-top: 5px;
          padding: 5px;
          text-align: center;
          a {
            color: $white;
            font: 15px $NeoSans-Medium, Arial, sans-serif;
          }
        }
      }
    }
  }
  .view-footer {
    color: $grey;
  }
}

/* =============================================================================
 *   Expert detailed
 * ========================================================================== */
.node-type-expert {
  #content .region-inner {
    padding: 0 5px;
  }
  .pane-experts {
    background-color: $green-bg;
    float: left;
    width: 518px;
    .block-content {
      padding: 13px 13px 13px 20px;
    }
    .nano {
      height: 287px;
      > .pane {
        background: none;
        &.active .slider {
          background-color: $white;
        }
      }
    }
    .view-display-id-expert_detailed {
      padding-right: 45px;
      overflow: auto;
      width: 460px;
      &:focus {
        outline: none;
      }
      .views-row {
        float: none;
        height: auto;
        margin: 0;
        overflow: visible;
        width: auto;
        .views-label {
          font: 13pt $NeoSans-Bold, Arial, sans-serif;
          text-transform: uppercase;
        }
        .views-field {
          background: url(../images/expert-bio-separator.png) 0 100% repeat-x;
          padding: 10px 0;
          a {
            color: $white;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .views-field-title {
          font: 36px $NeoSans-Bold, Arial, sans-serif;
          padding-top: 0;
          text-transform: uppercase;
        }
        .views-field-field-expert-raconnection,
        .views-field-field-expert-occupation,
        .views-field-field-expert-location {
          .views-label {
            padding: 4px 0;
            &:before {
              font-family: 'icomoon';
              margin: 0 10px 0 2px;
            }
          }
          .field-content {
            font-size: 13pt;
          }
        }
        .views-field-field-expert-raconnection .views-label:before {
          content: "\e013";
        }
        .views-field-field-expert-occupation .views-label:before {
          content: "\e014";
        }
        .views-field-field-expert-location .views-label:before {
          content: "\e015";
        }
        .views-field-body {
          background: none;
          font: 13px "NeoSans", Arial, sans-serif;
          padding: 0;
          margin-top: 21px;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .panel-pane.title-video-exp-wrapp {
    .block {
      margin-bottom: 0;
    }
  }
  .pane-node-field-expert-video {
    float: right;
    iframe {
      display: block;
      width: 456px;
      height: 313px;
    }
  }
  .pane-articles {
    clear: both;
    .view-articles .views-row {
      background-color: $grey-placeholder;
      height: 221px;
      width: 240px;
    }
  }
}

/* =============================================================================
 *   Article detailed
 * ========================================================================== */
 .node-type-article {
  .pane-sign-up {
    width: 100%;
    .signup-block.article-banner {
      background-image: url(../images/article-signup.png);
      padding: 50px 0 70px 375px;
      @include border-bottom-radius(10px);
      border-radius: 0px 0px 10px 10px;
      behavior: url(/profiles/ra/themes/custom/ra_theme/js/pie/PIE.htc);
      margin: -7px -10px 20px;
      @include box-shadow(0px 8px 21px 0px rgba(0, 0, 0, 0.54));
      .signup-title {
        font-size: $font-36;
      }
      .signup-description {
        font: $font-24 $NeoSans-Regular, Arial, sans-serif;
      }
      .signup-button a {
        right: 100px;
      }
    }
  }
  .view-display-id-article_detailed {
    .views-row {
      float: none;
      margin: 0;
      min-height: 150px;
      .views-field-title {
        background-color: $yellow-bg;
        border: 1px solid #8dc63f;
        margin-right: 192px;
        padding: 8px 50px 10px 50px;
        min-height: 130px;
        font: 48px $NeoSans-Bold, Arial, sans-serif;;
        line-height: 65px;
      }
      .views-field-field-image-3 {
        background: url(../images/expert-default.jpg) 50% 50% no-repeat;
        float: right;
        height: 150px;
        width: 192px;
        img {
          display: block;
        }
      }
      .views-field-field-expert {
        height: 30px;
        width: 192px;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);   /* IE6 & 7 */
          zoom: 1;
        font: 15px $NeoSans-Italic, Arial, sans-serif;
        line-height: 33px;
        &:nth-child(n) {
          filter:none;
        }
        a {
          color: $white;
        }
      }
      .views-field-field-icon {
        position: absolute;
        height: 48px;
        width: 48px;
        padding: 3px 0 0 3px;
        &:before {
          @include pseudo-spriting("blue-corner-left");
          left: 0;
          top: 0;
        }
        img {
          max-width: 22px;
          position: relative;
        }
        &.topic-6 img {
          max-width: 20px;
        }
        &.topic-2 img {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
          margin-left: -3px;
        }
      }
    }
  }
  .pane-node-field-image-original {
    img {
      display: block;
      border: 1px solid #8dc63f;
    }
  }
  .pane-node-field-article-body {
    float: left;
    width: 616px;
    color: $grey;
  }
  .pane-node-field-article-body,
  .views-field-field-article-bottom-teaser {
    h2 {
      color: $blue-bg;
      margin: 0;
    }
    blockquote {
      border: 1px solid $blue-bg;
      padding: 20px;
      margin: 0 0 1.5em 0;
      overflow: hidden;
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
      img {
        margin-right: 1.5em;
        width: 43px;
      }
      // RX icon
      div {
        display: table-cell;
        vertical-align: middle;
        img {
          display: block;
          max-width: none;
        }
      }
    }
    .callout-rx {
      position: relative;
      border: 1px solid #005794;
      margin-bottom: 1.5em;
      padding-left: 120px;
      &:before {
        @include pseudo-spriting("callout-rx-bg");
        left: 0;
        top: 50%;
        margin-top: - spr-sprite-height("callout-rx-bg") / 2;
      }
      p {
        display: table-cell;
        height: 85px;
        vertical-align: middle;
      }
      a {
        color: #005794;
      }
    }
    a {
      color: $blue-bg;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    ul, ol {
      list-style-position: inside;
      li {
        margin-bottom: 5px;
        span {
          display: block;
          margin-top: 5px;
        }
      }
    }
    ol {
      padding-left: 20px;
      counter-reset: i;
      > li {
        display: block;
        counter-increment: i;
        &:before {
          content: counter(i) ".";
          color: $blue-bg;
          font-weight: bold;
          margin-left: -20px;
          margin-right: 5px;
        }
        &[value]:before {
          content: attr(value) ".";
        }
      }
      &[type="a"] li:before {
        content: '';
      }
    }
    ul {
      padding-left: 15px;
      li {
        list-style: none;
        &:before {
          content: '\2022'; /* round bullet */
          color: $blue-bg;
          margin-left: -15px;
          padding-right: 10px;
        }
        ul li:before {
          content: '\2014'; /* em dash */
          color: $grey;
          padding-right: 5px;
        }
      }
    }
    table {
      border: 5px solid $Limeade;
      border-top: none;
      thead tr {
        background-color: $Limeade;
        color: $white;
        th {
          border: none;
          border-right: 2px solid $Dusty-Gray;
          padding: 15px;
        }
      }
      tr {
        border: none;
        &:nth-child(2n+2) {
          background-color: $Mercury;
        }
        td {
          border: none;
          border-right: 2px solid $Dusty-Gray;
          padding: 15px;
        }
      }
      ul li:before {
        color: $Limeade;
      }
    }
    .table-mobile {
      margin-left: -10px;
      margin-right: -10px;
      > div {
        padding: 3%;
        &:nth-child(even) {
          background-color: $Mercury;
        }
      }
      .table-mobile-header {
        color: $Limeade;
        font-weight: bold;
      }
      ul {
        margin: 0;
        li {
          margin-bottom: 0;
          &:before {
            color: $Limeade;
          }
        }
      }
    }
  }
  .related-articles {
    float: right;
    .pane-title {
      background-color: $blue-bg;
      color: $white;
      font: 16px $NeoSans-Bold, Arial, sans-serif;
      text-align: center;
      margin-bottom: 15px;
      padding: 8px 0;
    }
    .views-row {
      float: none;
      margin-bottom: 15px;
      margin-right: 0;
      width: 252px;
    }
  }
  // Joints pages
  .article-joints {
    background-color: $Concrete;
    border: 2px solid $yellow-bg;
    padding: 30px;
    .views-row {
      margin: 0;
    }
    .views-field-field-article-teaser,
    .views-field-field-article-bottom-teaser {
      color: $Dove-Gray;
    }
    .views-field-field-article-teaser {
      font: $font-20 $NeoSans-Medium, Arial, sans-serif;
      margin-bottom: 20px;
    }
    .views-field-field-article-bottom-teaser {
      font: $font-14 $NeoSans-Regular, Arial, sans-serif;
      margin-bottom: 0;
    }
    .views-field-nothing {
      background-color: $yellow-bg;
      font-family: $NeoSans-Medium, Arial, sans-serif;
      padding: 13px 25px 13px 20px;
      margin-bottom: 8px;
      overflow: hidden;
      .slide-title {
        float: left;
        font-size: $font-26;
        line-height: 25px;
        min-height: 50px;
        width: 87%;
      }
      .numpager {
        float: right;
        font-size: $font-18;
        line-height: 28px;
      }
    }
    .views-field-field-article-body {
      background-color: $blue-bg;
      font: $font-16 $NeoSans-Bold, Arial, sans-serif;
      padding-right: 50px;
      margin-bottom: 20px;
      overflow: hidden;
      .flexslider {
        background: none;
        border: none;
        border-radius: 0;
        max-height: 468px;
        ul.slides {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
          }
          > li {
            padding-top: 10px;
          }
          p {
            padding-left: 30px;
            margin-top: 16px;
            margin-bottom: 10px;
          }
          img {
            border-right: 8px solid $Concrete;
            display: block;
            margin-top: -26px;
            margin-left: -30px;
            margin-right: 25px;
          }
          h2 {
            display: none;
          }
          ul {
            list-style: disc outside;
            overflow: hidden;
            margin-bottom: 15px;
            padding-left: 15px;
            li {
              margin-bottom: 15px;
            }
          }
        }
        .flex-direction-nav {
          li a {
            height: 91px;
            margin-top: -45px;
            width: 27px;
            &.flex-prev {
              @include spr-sprite("joints-slider-nav");
              left: 10px;
            }
            &.flex-next {
              @include spr-sprite("joints-slider-nav", $offset-x: -27px);
              right: -40px;
            }
            &.flex-disabled {
              display: none;
            }
          }
        }
        .flex-bottom-nav {
          li a {
            bottom: 0;
            color: $white;
            font-family: $NeoSans-Medium, Arial, sans-serif;
            height: auto;
            padding: 7px 20px;
            text-indent: 0;
            top: auto;
            width: auto;
            &.flex-prev {
              background-image: none;
              background-color: rgba($Tundora, 0.3);
              // IE8 rgba simulation
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C464646,endColorstr=#4C464646)"; /* IE8 */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C464646,endColorstr=#4C464646);   /* IE6 & 7 */
                zoom: 1;
              left: 0;
              &:nth-child(n) {
                filter:none;
              }
            }
            &.flex-next {
              background-image: none;
              background-color: rgba($Tundora, 0.3);
              // IE8 rgba simulation
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C464646,endColorstr=#4C464646)"; /* IE8 */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C464646,endColorstr=#4C464646);   /* IE6 & 7 */
                zoom: 1;
              right: -50px;
              &:nth-child(n) {
                filter:none;
              }
            }
          }
        }
      }
    }
  }
  .related-articles-joints {
    float: none;
    .pane-title {
      padding-left: 10px;
      text-align: left;
    }
    .views-row {
      float: left;
      margin-right: 20px;
      width: 289px;
      &.views-row-3 {
        margin-right: 0;
      }
    }
  }
  .pane-ra-alters-ra-alters-social-links {
    clear: both;
  }
}

// Article node page - Full width Article type
.node-type-article.full-width {
  .view-display-id-article_detailed .views-row .views-field-title {
    margin-right: 0;
    padding-right: 125px;
  }
  .pane-node-field-article-body {
    float: none;
    width: auto;
    p {
      font-size: $font-15;
    }
    blockquote {
      margin-left: 30px;
      width: 540px;
    }
    .bestapps {
      margin-right: 70px;
      margin-bottom: 20px;
      margin-left: 30px;
      overflow: hidden;
      h2 {
        margin-top: 3px;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        margin: 0;
      }
      img {
        float: left;
        margin-right: 20px;
      }
    }
  }
}

// Custom icons for PDF and MP3 download links in the callout box
.node-type-article .pane-node-field-article-body blockquote {
  .article-goals,
  .callout-mp3-icon {
    float: left;
    margin-right: 20px;
    a {
      display: block;
      text-indent: -9999px;
    }
  }
  .article-goals a {
    @include spr-sprite("goal_icon");
    height: 101px;
    width: 80px;
  }
  h2 a,
  a.simple-text {
    text-decoration: none;
  }
  a.simple-text {
    color: $grey;
  }
  .callout-mp3-icon a {
    @include spr-sprite("mp3-icon");
    height: 40px;
    width: 43px;
  }
  .callout-mp3-text {
    margin-top: 1%;
  }
}

body.page-latest-content {
   #page > div {
    padding: 0 138px;
  }
  .popular-label {
    background-color: rgba($green-bg, 0.76);
    // IE8 rgba simulation
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C18DC63F,endColorstr=#C18DC63F)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C18DC63F,endColorstr=#C18DC63F);   /* IE6 & 7 */
      zoom: 1;
    padding: 3px 0;
    position: absolute;
    top: 0;
    width: 100%;
    &:nth-child(n) {
      filter:none;
    }
    .views-field {
      color: $white;
      font: $font-12 $NeoSans-Medium, Arial, sans-serif;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
  .views-row .popular-label {
    display: none;
  }
  .views-row-1 .popular-label {
    display: block;
  }
  .pane-custom.pane-1 {
    border: 1px solid $Jagged-Ice;
    padding: 10px 20px;
    margin-top: 8px;
    margin-bottom: 35px;
    h2 {
      font: $headline;
      font-size: $font-20;
      color: $blue-bg;
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      font-family: $NeoSans-Medium, Arial, sans-serif;
      color: $grey;
    }
  }
  .view-articles {
    padding: 0 46px;
    .views-row {
      float: none;
      margin: 0 0 17px;
      min-height: none;
      overflow: hidden;
      .view-row-left {
        color: white;
        float: left;
        margin-right: 30px;
        min-height: 203px;
        position: relative;
      }
      .latest-article-title a {
        color: $blue-bg;
        font-size: $font-20;
        line-height: 0.75;
      }
      .view-row-right .latest-article-body {
        color: $Abbey;
      }
      .view-row-right .latest-article-body a {
        color: $blue-bg;
      }
    }
  }
  #footer #mini-panel-footer_menus .region-two-66-33-first {
    width: auto;
    display: block;
    float: none;
  }
  #footer #mini-panel-footer_menus .region-two-66-33-second {
    display: none;
  }
}

/* =============================================================================
 *   Recipe detailed
 * ========================================================================== */
 .node-type-recipe {
  .block-inner {
    margin: 0;
  }
  /* first column */
  .two-50 .region-two-50-first {
    width: 467px;
    ul, ol {
      list-style-position: inside;
      li {
        margin-bottom: 5px;
      }
    }
    ol {
      counter-reset: item;
      padding-left: 20px;
      > li {
        display: block;
        &:before {
          content: counter(item) ". ";
          counter-increment: item;
          color: $blue-bg;
          font-weight: bold;
          margin-left: -20px;
          margin-right: 5px;
        }
      }
    }
    ul {
      padding-left: 15px;
      li {
        list-style: none;
        &:before {
          content: '\2022'; /* round bullet */
          color: $blue-bg;
          margin-left: -15px;
          padding-right: 10px;
        }
      }
    }
  }
  .pane-node-title {
    background-color: $green-bg;
    height: 64px;
    margin-bottom: 3px;
    color: $white;
    font: 20px $NeoSans-Medium, Arial, sans-serif;
    .block-inner {
      padding: 0 10px;
    }
    .block-content {
      display: table-cell;
      height: 64px;
      vertical-align: middle;
    }
  }
  .pane-node-field-recipe-servings {
    background-color: $blue-bg;
    border-left: 3px solid $white;
    float: right;
    height: 48px;
    width: 71px;
    padding: 8px 0;
    margin-bottom: 3px;
    color: $white;
    font-family: "NeoSans", Arial, sans-serif;
    text-align: center;
    .pane-title {
      font-size: 12px;
    }
    .field-item {
      font-size: 20px;
    }
  }
  .pane-topics {
    background-color: $blue-bg;
    clear: both;
    color: $white;
    height: 29px;
    padding-left: 10px;
    margin-bottom: 6px;
    h2 {
      float: left;
      font: 12px $NeoSans-Medium, Arial, sans-serif;
      line-height: 30px;
    }
    .views-row {
      float: left;
      font-size: $font-12;
      // margin-top: 5px;
      line-height: 30px;
      margin-left: 10px;
      &.views-row-3 {
        margin-top: 0;
      }
      .views-field-name {
        float: left;
        // margin-top: 2px;
        margin-right: 5px;
      }
      .views-field-field-icon {
        float: left;
        .field-content {
          line-height: 26px;
          vertical-align: middle;
          img {
            // display: block;
            display: inline;
            vertical-align: middle;
          }
        }
      }
    }
  }
  // Ingredients block
  .pane-node-field-recipe-ingredients {
    clear: both;
    border: 2px $blue-bg solid;
    padding: 20px;
    color: $grey;
    .pane-title {
      font: 16px $NeoSans-Medium, Arial, sans-serif;
      margin-bottom: 15px;
    }
    strong, a {
      color: $blue-bg;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .nano {
      height: 204px;
      .field-name-field-recipe-ingredients {
        height: 225px;
        padding-right: 15px;
      }
    }
  }
  // Directions block
  .pane-node-field-recipe-directions {
    border: 2px $yellow-bg solid;
    .pane-title {
      background-color: $yellow-bg;
      color: $white;
      padding: 5px 20px;
    }
    .block-content {
      color: $grey;
      padding: 20px;
      h4 {
        margin-bottom: 0;
      }
      h2, h3, h4, a {
        color: $blue-bg;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .nano {
      height: 390px;
      .field-name-field-recipe-directions {
        padding-right: 15px;
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  /* second column */
  .two-50 .region-two-50-second {
    float: right;
    width: 430px;
  }
  .pane-node-field-image-original {
    img {
      display: block;
      border: 2px $yellow-bg solid;
    }
  }
  .similar-recipes {
    width: 433px;
    .pane-title {
      background-color: $blue-bg;
      color: $white;
      font: 17px $NeoSans-Medium, Arial, sans-serif;
      margin-bottom: 15px;
      padding: 8px 20px;
    }
    .views-row {
      height: 206px;
      width: 206px;
      margin-right: 21px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

/* =============================================================================
 *   Recipe Virtual Cookbook
 * ========================================================================== */
.pane-virtual-cookbook {
  background-color: $yellow-bg;
  padding: 10px 90px 10px 55px;
  margin-bottom: 2px;
  position: relative;
  &:before {
    @include pseudo-spriting("cookbook-icon");
    left: 0;
    top: 0;
  }
  h2 {
    margin-bottom: 5px;
    color: $white;
    font: $font-25 $NeoSans-Medium, Arial, sans-serif;
  }
  #mini-panel-virtual_cookbook {
    color: $grey;
    font: $font-12 $NeoSans-Medium, Arial, sans-serif;
    margin: 0;
    .block {
      margin: 0;
    }
    .vc-description {
      .node-type-recipe & {
        display: none;
      }
    }
    .vc-properties {
      margin: 0.5em 0;
      overflow: hidden;
      li {
        list-style-type: none;
        float: left;
        margin-right: 25px;
        padding-left: 25px;
        font-family: $NeoSans-Bold, Arial, sans-serif;
        line-height: 23px;
        position: relative;
        &.vc-property-1:before {
          @include pseudo-spriting("vc-prop-1");
          left: 0;
          top: 50%;
          margin-top: - spr-sprite-height("vc-prop-1") / 2;
        }
        &.vc-property-2:before {
          @include pseudo-spriting("vc-prop-2");
          left: 0;
          top: 50%;
          margin-top: - spr-sprite-height("vc-prop-2") / 2;
        }
        &.vc-property-3 {
          margin-right: 0;
          &:before {
            @include pseudo-spriting("vc-prop-3");
            left: 0;
            top: 50%;
            margin-top: - spr-sprite-height("vc-prop-3") / 2;
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Recipes Landing
 * ========================================================================== */
.page-diet-and-exercise-ra-friendly-recipes {
  .view-recipes {
    .attachment-before {
      color: $Boston-Blue;
      margin-bottom: 20px;
      span {
        font-family: $NeoSans-Medium, Arial, sans-serif;
      }
    }
    .view-footer p {
      clear: both;
      color: $grey;
      margin: 0;
    }
  }
}

/* =============================================================================
 *   Topic Landing
 * ========================================================================== */
.topic-landing {
  .block-inner {
    margin: 0;
  }
  .topic-info {
    float: left;
    width: 252px;
    margin-right: 6px;
    margin-bottom: 0;
    .view-display-id-topic_info {
      border: 1px solid $yellow-bg;
      position: relative;
      height: 503px;
      .views-field-name {
        background-color: $yellow-bg;
        padding: 40px 20px 25px;
        color: $white;
        font: $font-39 $NeoSans-Medium, Arial, sans-serif;
        line-height: 46px;
      }
      .views-field-field-icon {
        position: absolute;
        top: 0;
        right: 0;
        background: url(../images/article-badge-corner.png) 0 0 no-repeat;
        background-size: 100% 100%;
        height: 74px;
        width: 82px;
        padding-top: 5px;
        text-align: right;
        img {
          width: 36px;
          margin-right: 2px;
        }
      }
      .views-field-description {
        color: $grey;
        font: 19px $NeoSans-Medium, Arial, sans-serif;
        max-height: 290px;
        overflow: hidden;
        padding: 35px 17px 0 17px;
        p {
          margin: 0;
        }
      }
    }
  }
  .pane-sign-up {
    float: left;
    margin-bottom: 8px;
    .signup-block.topic {
      height: 140px;
      width: 460px;
      padding-top: 17px;
      padding-left: 190px;
      &:before {
        @include pseudo-spriting("signup-topic");
        left: 0;
        bottom: 0;
      }
      .signup-title {
        font-size: $font-22;
      }
      .signup-description {
        font-size: $font-18;
        li {
          margin-bottom: 0;
          margin-left: 1em;
        }
      }
      .signup-button a {
        @include spr-sprite("btn-signup-topic");
        font-size: $font-18;
        height: 33px;
        width: 123px;
        &:hover {
          @include spr-sprite("btn-signup-topic", $offset-y: -33px);
        }
      }
    }
  }
  .panel-pane.featured-article {
    float: left;
    width: 430px;
    margin-right: 8px;
    margin-bottom: 0;
    .block-inner {
      margin: 0;
      .views-row {
        margin-bottom: 0;
        .views-field-field-image img {
          max-width: 430px;
        }
      }
    }
  }
  .topic-meet-experts {
    background-color: $yellow-bg;
    margin-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    width: 188px;
    &:hover {
      background-color: $Goldenrod;
    }
  }
  .topic-expert {
    float: left;
    height: 98px;
    width: 212px;
    margin-bottom: 8px;
    .views-row {
      margin: 0;
      height: auto;
      width: 212px;
      .overlay {
        background-color: rgba(0, 0, 0, 0.4);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
          zoom: 1;
        position: absolute;
        bottom: 0;
        width: 100%;
        &:nth-child(n) {
          filter:none;
        }
        .views-field-nothing {
          background: none;
          font: $headline;
          padding: 5px 10px;
          position: relative;
          width: auto;
          a {
            color: $white;
          }
        }
        .overlay-dark {
          background: rgba(0, 0, 0, 0.35);
          // IE8 rgba simulation
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
            zoom: 1;
          height: 16px;
          padding-left: 10px;
          overflow: hidden;
          &:nth-child(n) {
            filter:none;
          }
          .views-field-title {
            float: left;
            font-size: $font-8;
            margin-top: 2px;
          }
          .views-field-value {
            float: right;
            .rate-count {
              float: left;
              padding-top: 3px;
              font: $font-8 $NeoSans-Medium, Arial, sans-serif;
            }
            .rate-wrapper {
              background: rgba(0, 0, 0, 0.65);
              // IE8 rgba simulation
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);   /* IE6 & 7 */
                zoom: 1;
              float: right;
              padding: 2px 5px 3px;
              margin-left: 5px;
              line-height: 8px;
              &:nth-child(n) {
                filter:none;
              }
              a {
                padding-right: 14px;
                color: $white;
                font: $font-8 $NeoSans-Medium, Arial, sans-serif;
                position: relative;
                &:before {
                  @include pseudo-spriting("rate-icon");
                  right: 0;
                  top: 0;
                  height: 10px;
                }
                &:hover,
                &.user-voted {
                  text-decoration: none;
                  &:before {
                    @include pseudo-spriting("rate-icon", 0, -10px);
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .topic-articles {
    clear: both;
    padding-top: 12px;
    width: 105%;
    .views-row {
      background-color: $grey-placeholder;
      height: 248px;
      width: 296px;
      margin-right: 10px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  .reprinted-permission {
    color: $grey;
    line-height: 1;
    margin: 0;
    p {
      margin-bottom: 2%;
    }
  }
}

// hardcode font-size of Relationships & Support term title because it is too long
.page-taxonomy-term-8 .topic-info .view-display-id-topic_info .views-field-name {
  font-size: $font-33;
}
// hardcode image size of Treatment term icon because it is too big
.page-taxonomy-term-1 .topic-info .view-display-id-topic_info .views-field-field-icon img {
  width: 24px;
}
// hardcode image size of RA 101 term icon because it is too big
.page-taxonomy-term-6 .topic-info .view-display-id-topic_info .views-field-field-icon img {
  width: 27px;
}

/* =============================================================================
 *   Modal popups
 * ========================================================================== */
.modal-forms-modal-content .popups-container {
  border: 2px $yellow-bg solid;
  font-family: "NeoSans", Arial, sans-serif;
  .modal-title {
    color: $blue-bg;
  }
  .popups-close {
    height: 21px;
    width: 22px;
    @include spr-sprite("popup-close");
    &:hover {
      @include spr-sprite("popup-close", $offset-y: -21px);
    }
  }
}

/* =============================================================================
 *   Email popup
 * ========================================================================== */
.ctools-modal-content.send-email {
  .modal-header {
    text-align: center;
    .modal-title {
      display: inline-block;
      margin-top: 50px;
      font-size: 20px;
      font-weight: normal;
    }
  }
  .modal-content {
    #ra-alters-send-email {
      overflow: hidden;
      padding: 0 50px 0 40px;
    }
    .form-type-textfield {
      margin-bottom: 37px;
      label {
        float: left;
        width: 55px;
        margin: 10px 15px 0 0;
        color: $blue-bg;
        font-size: 20px;
        font-weight: normal;
        .form-required {
          display: none
        }
        &:after {
          content: ":";
          margin-left: -5px;
        }
      }
      input {
        color: $blue-bg;
        border: 2px $yellow-bg solid;
        padding: 10px 20px;
        width: 320px;
        @include border-radius(20px);
        font: 20px "NeoSans", Arial, sans-serif;
        &::-webkit-input-placeholder { /* WebKit browsers */
          color: #999;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #999;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #999;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #999;
        }
      }
    }
    .form-type-checkbox {
      width: 295px;
      margin: 0 auto 15px;
      input {
        float: left;
        margin: 0 5px 5px 0;
      }
      label {
        color: $grey;
        font-weight: normal;
      }
    }
    .form-submit {
      background-color: $yellow-bg;
      border: none;
      display: block;
      margin: 2em auto 0;
      padding: 8px 0;
      width: 147px;
      color: $white;
      font: 16px $NeoSans-Medium, Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Inspiration Popup
 * ========================================================================== */
.ctools-modal-content.inspiration {
  .modal-title {
    font: 15px $NeoSans-Medium, Arial, sans-serif;
    text-transform: uppercase;
    span {
      font-family: $NeoSans-Bold, Arial, sans-serif;
    }
  }
  .popups-container .modal-content {
    padding: 0;
    overflow: visible;
    width: 100% !important;
  }
}

.view-display-id-inspiration_popup {
  position: relative;
  .view-header {
    color: $blue-bg;
    font-size: 13px;
    position: absolute;
    right: 45px;
    top: -20px;
    text-transform: uppercase;
  }
  .view-content {
    padding: 0 44px;
    .views-field-field-publish-date {
      position: absolute;
      top: -25px;
      left: 12px;
      color: $blue-bg;
      font: 15px $NeoSans-Medium, Arial, sans-serif;
      text-transform: uppercase;
      span {
        font-family: $NeoSans-Bold, Arial, sans-serif;
      }
    }
    img {
      display: block;
      width: auto;
      max-height: 350px;
      margin: 0 auto;
    }
  }
  .item-list ul.pager {
    li {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 45%;
      &.pager-previous {
        left: 8px;
        &:hover {
          a {
            background-position: 0 -77px;
          }
        }
      }
      &.pager-next {
        right: 8px;
        a {
          background-position: -23px 0;
        }
        &:hover {
          a {
            background-position: -23px -77px;
          }
        }
      }
      &.pager-current {
        display: none;
      }
    }
  }
  .view-footer {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-left: -234px;
    a, & .rate-average, & .social-item {
      position: relative;
      display: block;
      float: left;
      width: 91px;
      height: 35px;
      margin-right: 3px;
      line-height: 36px;
      color: white;
      &:hover {
        text-decoration: none;
      }
      [name="fb_share"] {
        background-color: $fb-bg;
        text-indent: 10px;
        &:after {
          content: "\e604";
          font-family: "iconsmore";
          font-size: 20px;
          position: absolute;
          top: 0;
          right: 15px;
          height: 100%;
          line-height: 34px;
        }
      }
      &.twitter-share-button {
        background-color: $twtr-bg;
        text-indent: 10px;
        &:after {
          content: "\e605";
          font-family: "iconsmore";
          font-size: 20px;
          position: absolute;
          top: 0;
          right: 10px;
          height: 100%;
          line-height: 34px;
        }
      }
      &.pinit {
        background-color: $pinit-bg;
        text-indent: 10px;
        &:after {
          content: "\e606";
          font-family: "iconsmore";
          font-size: 20px;
          position: absolute;
          top: 0;
          right: 15px;
          height: 100%;
          line-height: 34px;
        }
      }
      &.print {
        color: $Sushi;
        float: right;
        width: auto;
        &:before {
          content: "\e607";
          font-size: 20px;
          font-family: "iconsmore";
          margin-right: 10px;
        }
      }
    }
  }
}

/* =============================================================================
 *   Interstitial Popups
 * ========================================================================== */
.ctools-modal-content.interstitial {
  .modal-content {
    color: $Dove-Gray;
    font: 16px/2 $NeoSans-Regular, Arial, sans-serif;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    .modal-content-inner {
      padding: 0 57px;
    }
    .modal-title {
      font-family: $NeoSans-Bold, Arial, sans-serif;
      display: block;
      margin: 20px 0;
      font-size: 24px;
      font-weight: normal;
    }
    .interstitial-buttons {
      font-family: $NeoSans-Medium, Arial, sans-serif;
      width: 374px;
      margin: 50px auto 0;
      a {
        color: $white;
        width: 147px;
        height: 33px;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
      .continue {
        background-color: $Limeade;
        float: left;
        &:hover {
          background-color: $Conifer;
        }
      }
      .popup-close {
        float: right;
        background-color: $yellow-bg;
        &:hover {
          background-color: $Goldenrod;
        }
      }
    }
  }
}

/* =============================================================================
 *   Search
 * ========================================================================== */
.overlay-white {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1;
  background-color: $white;
  opacity: 0.8;
}

div.view-id-articles.view-display-id-search_articles div.view-empty {
  padding: 1em;
}

div#mini-panel-header_menus div.pane-views.pane-articles {
  display: none;
  position: absolute;
  top: 62px;
  z-index: 100;
  padding: 0 20px 20px 30px;
  margin: 0px -20px 0 -30px;
  overflow: hidden;
  .view-header {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    a {
      position: absolute;
      top: -16px;
      right: 0;
      width: 20px;
      height: 20px;
      margin-top: 16px;
      &:before {
        display: block;
        content: "\e601";
        font-family: "iconsmore";
        color: $Sushi;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 18px;
        text-align: center;
        text-indent: 1px;
      }
      &:hover {
        text-decoration: none;
        &:before {
          content: "\e600";
          font-family: "iconsmore";
        }
      }
    }
  }
  .block-inner {
    background: white;
    border: 1px solid $Sushi;
    @include border-radius(0 0 10px 10px);
    @include box-shadow(-4px -7px 21px 0px rgba(0, 0, 0, 0.54));
    padding: 20px;
    border-top: 0;
  }
  #views-exposed-form-articles-search-articles {
    border: 1px solid $yellow-bg;
    background-color: $Sushi;
    margin-top: 10px;
    overflow: hidden;
    div {
      padding: 0;
      margin: 0;
    }
    #edit-field-search-value-wrapper {
      width: 88.8%;
      background: $Sushi url("../images/ddown-search-ico.gif") 12px 50% no-repeat;
      height: 38px;
      .form-type-textfield {
        margin: 8px 0 0 35px;
      }
      input[type="text"] {
        width: 100%;
        // height: 38px;
        // line-height: 38px;
        // background: url("../images/ddown-search-ico.gif") 12px 50% no-repeat;
        // text-indent: 35px;
        background: none;
        font: $search-text;
        color: white;
        border: none;
        padding: 0;
      }
    }
    .views-submit-button {
      position: relative;
      width: 11%;
      float: right;
      .ajax-progress-throbber {
        position: absolute;
        top: 10px;
        left: -15px;
      }
    }
    input[type="submit"] {
      margin: 0;
      width: 100%;
      height: 38px;
      color: white;
      text-align: center;
      border: none;
      background-color: $yellow-bg;
      border-radius: 0;
    }
  }
  .view-articles {
    .view-content {
      margin-left: 17px;
    }
    .views-row {
      max-width: 218px;
      margin-top: 17px;
      overflow: hidden;
    }
    ul.pager {
      text-align: right;
      padding-top: 17px;
      .pager-first, .pager-last {
        display: none;
      }
      li {
        color: $SilverChalice;
        a {
          color: $Sushi;
        }
      }
    }
  }
}

/* =============================================================================
 *   HOME page
 * ========================================================================== */
.front {
  .home-page-blocks-wrap,
  .home-page-blocks-wrap-end {
    margin: 0;
  }
  // Welcome block
  .pane-welcome {
    border: 1px solid $Jagged-Ice;
    float: left;
    width: 511px;
    .welcome-block {
      padding: 14px;
      .welcome-date {
        border-bottom: 1px solid $Golden-Tainoi;
        color: $yellow-bg;
        font-size: $font-18;
        margin-bottom: 15px;
        padding-bottom: 5px;
        text-transform: uppercase;
        span {
          font-family: $NeoSans-Medium, Arial, sans-serif;
        }
      }
      .welcome-title {
        color: $blue-bg;
        font: $font-18 $NeoSans-Medium, Arial, sans-serif;
        margin-bottom: 5px;
      }
      .welcome-description {
        color: $grey;
        font-family: $NeoSans-Medium, Arial, sans-serif;
      }
    }
  }
  // Sign up green block
  .pane-sign-up {
    float: right;
    margin-bottom: 20px;
    .home {
      height: 168px;
      width: 333px;
      .signup-title {
        font-size: $font-18;
        margin-top: 20px;
      }
      .signup-description li {
        margin-bottom: 0;
      }
    }
  }
  // Inspiration of the day block
  .pane-inspirations {
    float: left;
    margin-right: 20px;
    width: 182px;
    .view-content {
      .views-field-field-image {
        img {
          display: block;
        }
      }
      .views-field-field-image-original {
        display: none;
      }
    }
    .view-footer {
      background-color: $yellow-bg;
      line-height: 28px;
      height: 28px;
      margin-top: 1px;
      position: relative;
      .rate-widget {
        border-right: 1px solid $white;
        float: left;
        width: 114px;
        .rate-count {
          border-right: 1px solid $white;
          color: $white;
          float: left;
          font: $font-22 $NeoSans-Bold, Arial, sans-serif;
          padding-right: 10px;
          text-align: right;
          width: 70px;
        }
        .rate-wrapper {
          float: left;
          width: 33px;
          .rate-btn {
            display: block;
            text-indent: -9999px;
            position: relative;
            &:before {
              @include pseudo-spriting("insp-like-ico");
              left: 50%;
              top: 50%;
              margin-left: - spr-sprite-width("insp-like-ico") / 2;
              margin-top: - spr-sprite-height("insp-like-ico") / 2;
            }
            &:hover {
              background-color: $Goldenrod;
              &:before {
                @include pseudo-spriting("insp-like-ico-hover");
                left: 50%;
                top: 50%;
                margin-left: - spr-sprite-width("insp-like-ico-hover") / 2;
                margin-top: - spr-sprite-height("insp-like-ico-hover") / 2;
              }
            }
          }
        }
      }
      .insp-share-all {
        float: left;
        position: relative;
        @include spr-sprite("insp-share-all-ico");
        height: 28px;
        width: 33px;
        outline: none;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-family: 'iconsmore';
          content: "\e602";
          font-size: $font-20;
          color: white;
          text-align: center;
        }
        &:hover {
          background-color: $Goldenrod;
          @include spr-sprite("insp-share-all-ico-hover");
        }
      }
      .social-wrapper {
        display: none;
        position: absolute;
        top: 29px;
        a, .social-item {
          position: relative;
          display: block;
          float: left;
          width: 60px;
          height: 28px;
          margin-right: 1px;
          line-height: 29px;
          color: white;
          font-size: 12px;
          &:hover {
            text-decoration: none;
          }
          [name="fb_share"] {
            background-color: $fb-bg;
            text-indent: 5px;
            &:hover {
              background-color: $fb-hover;
            }
            &:after {
              font-family: "iconsmore";
              content: "\e604";
              font-size: 12px;
              position: absolute;
              top: 0;
              right: 10px;
              height: 100%;
              line-height: 28px;
            }
          }
          &.twitter-share-button {
            background-color: $twtr-bg;
            text-indent: 5px;
            &:hover {
              background-color: $twitter-hover;
            }
            &:after {
              font-family: "iconsmore";
              content: "\e605";
              font-size: 12px;
              position: absolute;
              top: 0;
              right: 5px;
              height: 100%;
              line-height: 28px;
            }
          }
          &.pinit {
            background-color: $pinit-bg;
            text-indent: 5px;
            margin-right: 0;
            &:hover {
              background-color: $pinit-hover;
            }
            &:after {
              font-family: "iconsmore";
              content: "\e606";
              font-size: 12px;
              position: absolute;
              top: 0;
              right: 10px;
              height: 100%;
              line-height: 28px;
            }
          }
        }
      }
      .social-all {
        float: right;
        border-left: 1px solid $white;
        width: 33px;
        a {
          display: block;
          text-indent: -9999px;
          position: relative;
          &:before {
            @include pseudo-spriting("insp-social-all-ico");
            left: 50%;
            top: 50%;
            margin-left: - spr-sprite-width("insp-social-all-ico") / 2;
            margin-top: - spr-sprite-height("insp-social-all-ico") / 2;
          }
          &:hover {
            background-color: $Goldenrod;
            &:before {
              @include pseudo-spriting("insp-social-all-ico-hover");
              left: 50%;
              top: 50%;
              margin-left: - spr-sprite-width("insp-social-all-ico-hover") / 2;
              margin-top: - spr-sprite-height("insp-social-all-ico-hover") / 2;
            }
          }
        }
      }
    }
  }
  // Featured Slider
  .featured-slider {
    background-color: $Pelorous;
    float: left;
    width: 526px;
    .view-articles {
      padding: 8px 8px 5px 8px;
      .flexslider {
        background: none;
        border: none;
        border-radius: 0;
        .slides {
          margin: 0;
          padding-bottom: 10px;
          li {
            margin: 0;
          }
        }
        .flex-control-nav {
          bottom: 0;
          line-height: 0;
          li a {
            @include spr-sprite("slider-nav-dot");
            height: 7px;
            margin-left: 6px;
            width: 7px;
            &.flex-active {
              @include spr-sprite("slider-nav-dot", $offset-y: -7px);
            }
          }
        }
        .flex-direction-nav {
          display: none;
        }
      }
    }
  }
  // RA 101 article block
  .hp-ra101 {
    float: right;
    .views-row {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  // Last 3 Articles
  .hp-last-articles {
    float: right;
    .view-articles {
      .views-row {
        margin-bottom: 0;
        margin-right: 20px;
        &.views-row-3 {
          margin-right: 0;
        }
      }
    }
  }
  // Meet the Experts link
  .hp-meet-experts {
    background-color: $green-bg;
    margin-bottom: 15px;
    width: 182px;
    &:hover {
      background-color: $Conifer;
    }
  }
  .poll-pledge-wrap {
    float: left;
  }
  // Monthly Poll block
  .pane-polls {
    float: none;
    margin-bottom: 15px;
    padding-bottom: 5px;
    height: auto;
    width: 158px;
    .pollfield-row {
      .text {
        min-width: 10em;
      }
      .barcell .bar {
        width: 150px;
      }
    }
  }
  // Monthly Pledge
  .pane-pledges {
    border: 2px solid $Gallery;
    font-family: $NeoSans-Medium, Arial, sans-serif;
    width: 178px;
    .block-inner {
      padding: 13px;
      .pane-title {
        position: relative;
        border-bottom: 1px solid $Pelorous;
        color: $Deep-Cerulean;
        font-size: $font-14;
        font-weight: normal;
        margin-bottom: 10px;
        padding-right: 55px;
        &:after {
          content: "\e00c";
          position: absolute;
          font-family: 'icomoon';
          top: 0;
          right: 0;
          font-size: $font-39;
          line-height: 1em;
        }
      }
      .rate-count {
        color: $Abbey;
        font-size: 12px;
        .pledge-count {
          color: $Bombay;
          font-size: 22px;
          line-height: 24px;
          text-transform: uppercase;
          div {
            font-size: 32px;
            font-family: $NeoSans-Bold, Arial, sans-serif;
          }
        }
        .pledge-thx {
          color: $Bombay;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
        }
        .pledge-number {
          color: $Deep-Cerulean;
          font-size: 36px;
          line-height: 36px;
        }
      }
      .rate-button {
        color: $green-bg;
        font: $font-11 $NeoSans-Bold, Arial, sans-serif;
      }
    }
  }
}
// Most popular Articles
.pane-topic-articles {
  float: right;
  margin-right: -1px;
  .front & {
  width: 819px;
  }
  .views-row {
    float: left;
    &.views-row-4 {
      margin-left: 3px;
    }
    .views-row {
      margin-right: 0;
      margin-left: 20px;
    }
    &.views-row-three-after {
      .views-row {
        margin-left: 17px;
        overflow: hidden;
        width: 187px;
        .views-field-field-image img {
          max-width: 253px;
          position: absolute;
          left: 50%;
          margin-left: -126px;
        }
      }
    }
  }

  .popular-label {
    background-color: rgba($yellow-bg, 0.76);
    // IE8 rgba simulation
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425);   /* IE6 & 7 */
      zoom: 1;
    padding: 3px 0;
    position: absolute;
    top: 0;
    width: 100%;
    &:nth-child(n) {
      filter:none;
    }
    .views-field {
      color: $Deep-Cerulean;
      font: $font-10 $NeoSans-Medium, Arial, sans-serif;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
}
/* =============================================================================
 *   Inspiration page
 * ========================================================================== */
body.node-type-inspiration {
  .pane-node-field-publish-date,
  .pane-ra-prev-next-counter {
    color: $blue-bg;
    text-transform: uppercase;
  }
  .pane-node-field-publish-date {
    float: left;
    font: $font-15 $NeoSans-Medium, Arial, sans-serif;
    margin-left: 8%;
    width: 54%;
  }
  .pane-ra-prev-next-counter {
    float: right;
    font-size: $font-13;
    margin-right: 10%;
    width: 28%;
  }
  .pane-ra-prev-next-next,
  .pane-ra-prev-next-prev,
  .pane-node-field-image-original {
    float: left;
  }
  .pane-node-field-image-original {
    min-width: 84%;
    text-align: center;
  }
  .pane-ra-prev-next-next,
  .pane-ra-prev-next-prev {
    margin-top: 26%;
    .block-content {
      & a,
      & span {
        position: relative;
        height: 6em;
        width: 3em;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 1;
      }
      &:after {
        text-indent: 0;
        content:'\e021';
        font-family: icomoon;
        position: relative;
        top: -1.4em;
        padding: 0.1em;
        font-size: 5em;
        color: #d1d1d1;
        z-index: -1;
      }
      &:hover:after {
        color: #828282;
      }
    }
  }
  .pane-ra-prev-next-next .block-content:after {
    content: '\e022'
  }
  .panels-flexible-row-three_rows-main-row {
    width: 65%;
    margin: auto;
  }
  .pane-ra-prev-next-counter {
    text-align: right;
  }
  .panels-flexible-region-three_rows-bottom {
    float: none;
  }
  .pane-ra-alters-ra-alters-social-links {
    width: 53%;
    margin: auto;
    margin-bottom: 3em;
  }
  #block-system-main .pane-ra-alters-ra-alters-social-links {
    margin-top: -7px;
  }
  .pane-topic-articles {
    width: 909px;
    .views-row {
      .views-row {
        width: 291px;
        min-height: 240px;
        margin-right: 17px;
        margin-left: 0;
      }
      &.views-row-4 {
        margin-left: 0;
      }
      &.views-row-3 .views-row {
        margin-right: 0;
      }
      &.views-row-three-after {
        .views-row {
          overflow: hidden;
          width: 214px;
          .views-field-field-image img {
            max-width: 291px;
            position: absolute;
            left: 50%;
            margin-left: -145px;
          }
        }
        &.views-row-last .views-row {
          margin-right: 0;
        }
      }
    }
  }
}

/* =============================================================================
 *   Pledge detailed
 * ========================================================================== */
.node-type-mpledge {
  #main-content-header #page-title {
    display: block;
    margin-left: -10px;
    border-bottom: 2px solid $Gallery;
    color: $grey;
    font-family: $NeoSans-Medium, Arial, sans-serif;
  }
  #content {
    padding-top: 20px;
    .pane-node-field-image {
      float: right;
    }
    .pane-pledges {
      color: $grey;
      margin-bottom: 50px;
      padding-right: 20px;
      overflow: hidden;
      .pledge-thx {
        font: $font-21 $NeoSans-Medium, Arial, sans-serif;
        margin-bottom: 20px;
      }
      .pledge-number {
        display: inline;
        font-family: $NeoSans-Medium, Arial, sans-serif;
      }
      .pledge-count {
        display: inline;
        div {
          display: inline;
          font-weight: bold;
        }
      }
    }
  }
  .pane-topic-articles {
    clear: both;
    border-top: 2px solid $Gallery;
    padding-top: 35px;
    .views-row {
      float: left;
      .views-row {
        width: 291px;
        min-height: 240px;
        margin-right: 17px;
        margin-left: 0;
      }
      &.views-row-4 {
        margin-left: 0;
      }
      &.views-row-3 .views-row {
        margin-right: 0;
      }
      &.views-row-three-after {
        .views-row {
          overflow: hidden;
          width: 214px;
          .views-field-field-image img {
            max-width: 291px;
            position: absolute;
            left: 50%;
            margin-left: -145px;
          }
        }
        &.views-row-last .views-row {
          margin-right: 0;
        }
      }
    }
    .popular-label {
      background-color: rgba($yellow-bg, 0.76);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425);   /* IE6 & 7 */
        zoom: 1;
      padding: 3px 0;
      position: absolute;
      top: 0;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
      .views-field {
        color: $Deep-Cerulean;
        font: $font-10 $NeoSans-Medium, Arial, sans-serif;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }
}

/* =============================================================================
 *   Basic page
 * ========================================================================== */
.node-type-page {
  .field-name-body {
    color: $grey;
    a {
      color: $blue-bg;
    }
  }
}

/* =============================================================================
 *   RA Talk Unsubscribe form
 * ========================================================================== */
.ra-talk-unsubscribe-page {
  background: url("../images/talk-unsubscr-bg.jpg") 50% 42px no-repeat;
  .messages {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -335px;
    width: 608px;
  }
  .node-content {
    margin: 0 auto;
    padding-top: 220px;
    width: 670px;
    .field-name-body .field-item {
      color: #152934;
      font-family: "Helvetica", Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
    }
    .webform-client-form {
      margin-top: 25px;
      #webform-component-email {
        float: left;
        margin: 2px 10px 0 0;
        input#edit-submitted-email {
          background-color: #efeeee;
          background-image: none;
          color: #939598;
          font-family: "Helvetica", Arial, sans-serif;
          font-size: $font-16;
          height: 30px;
          max-width: 350px;
          padding-left: 15px;
        }
      }
      #edit-actions {
        display: inline-block;
        padding: 0;
        #uniform-edit-submit {
          @include spr-sprite("talk-unsubscr-btn");
          height: 40px;
          width: 128px;
          span {
            color: $white;
            font-family: $NeoSans-Bold, Arial, sans-serif;
            font-size: $font-20;
            line-height: 40px;
            height: auto;
            width: auto;
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   RA Talk Unsubscribe thank you page
 * ========================================================================== */
.ra-talk-unsubscribe-page.page-node-done {
  background: url("../images/talk-unsubscr-bg.jpg") 50% 42px no-repeat;
  .webform-confirmation {
    margin: 0 auto;
    padding-top: 191px;
    width: 634px;
    h1 {
      color: #0f7abe;
      font-family: "Helvetica", Arial, sans-serif;
      font-size: $font-24;
      font-weight: bold;
      margin: 0;
    }
    p#talkunsubscr-body {
      color: #122631;
      font-family: "Helvetica", Arial, sans-serif;
      font-size: $font-16;
      line-height: 22px;
      a {
        color: #122631;
      }
    }
    .talkunsubscr-signup {
      border: 2px solid #5db6c8;
      margin: 39px auto 0;
      height: 166px;
      width: 400px;
      a#talkunsubscr-logo {
        @include spr-sprite("talk-ty-logo");
        display: block;
        height: 45px;
        width: 344px;
        margin: 18px auto 0;
        text-indent: -9999px;
      }
      p#talkunsubscr-slogan {
        color: #4d4d4f;
        font-size: $font-16;
        margin-top: -5px;
        margin-bottom: 19px;
        margin-left: 77px;
      }
      a.talkunsubscr-btn {
        @include spr-sprite("talk-ty-signup-btn");
        display: block;
        color: $white;
        font-family: $NeoSans-Bold, Arial, sans-serif;
        font-size: $font-22;
        line-height: 46px;
        text-align: center;
        margin: 0 auto;
        height: 46px;
        width: 168px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* =============================================================================
 *   RA Franchise GTO Landing Page
 * ========================================================================== */
.uuid-bef0342c-0ec6-420b-82f6-21dd68d36538 {
  background: none;
}
#gto-landing-page {
  margin: 20px auto 0;
  width: 1000px;
  #gto-logo {
    @include spr-sprite("gto-logo");
    height: 56px;
    width: 428px;
    margin-bottom: 20px;
    margin-left: 46px;
  }
  #sign-up-wrapper {
    background: url("../images/gto-yellow-border.png") repeat-x 0 0 #48ABBE;
    padding-top: 5px;
    position: relative;
    overflow: hidden;
    .shadow-wrapper-vert {
      background: url("../images/gto-shadow-vert.png") no-repeat scroll 0 0 transparent;
      position: absolute;
      left: 12px;
      top: 7px;
      z-index: 1;
      height: 320px;
      width: 488px;
    }
    .signup.left {
      background-color: $white;
      color: $blue-bg;
      float: left;
      line-height: 1;
      margin: 0 40px;
      padding: 47px 55px 43px 52px;
      position: relative;
      text-align: center;
      width: 325px;
      z-index: 2;
      p {
        margin: 0;
        text-transform: uppercase;
        &.header-1 {
          font-family: $NeoSans-Regular, Arial, sans-serif;
          font-size: 39px;
        }
        &.header-2 {
          font-family: $NeoSans-Bold, Arial, sans-serif;
          font-size: 50px;
          span {
            font-size: 63px;
          }
        }
        &.header-3 {
          font-family: $NeoSans-Light, Arial, sans-serif;
          font-size: 81px;
        }
      }
    }
    .signup.right {
      float: right;
      color: $white;
      font-family: $NeoSans-Regular, Arial, sans-serif;
      font-size: 25px;
      line-height: 31px;
      padding: 35px 70px 0 35px;
      width: 380px;
      p {
        margin-bottom: 31px;
      }
      a {
        @include spr-sprite("gto-signup-btn");
        display: block;
        color: $white;
        font-family: $NeoSans-Medium, Arial, sans-serif;
        font-size: 29px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
        height: 62px;
        width: 284px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  #gto-list {
    border-color: $blue-bg;
    border-style: solid;
    border-width: 0 1px 0 1px;
    padding: 35px 0 28px 90px;
    p {
      color: $green-bg;
      font-family: $NeoSans-Bold, Arial, sans-serif;
      font-size: 32px;
      margin: 0 0 0 8px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: 29px;
      li {
        background: url("../images/gto-green-bullet.png") no-repeat scroll 0 center;
        font-size: 19px;
        margin-bottom: 17px;
        padding: 10px 0 10px 65px;
        &:before {
          color: $white;
          font-family: "icomoon";
          line-height: 1;
        }
        &#item-1:before {
          content: '';
          background: url("../images/gto-list-icon1.png") no-repeat scroll 0 center;
          float: left;
          margin-left: -52px;
          margin-right: 18px;
          height: 24px;
          width: 27px;
        }
        &#item-2:before {
          content: '\e00d';
          font-size: 18px;
          margin-left: -58px;
          margin-right: 18px;
        }
        &#item-3:before {
          content: '\e007';
          font-size: 23px;
          margin-left: -51px;
          margin-right: 31px;
        }
      }
    }
  }
  #gto-footer {
    background-color: $blue-bg;
    @include box-shadow(0px -2px 5px 0px rgba(0, 0, 0, 0.33));
    color: $white;
    padding: 25px 25px 18px 40px;
    overflow: hidden;
    #gto-footer-logo {
      @include spr-sprite("gto-footer-logo");
      float: left;
      height: 36px;
      width: 137px;
    }
    ul {
      float: right;
      margin-top: 8px;
      li {
        font-family: "MyriadPro-Semibold";
        font-size: $font-16;
        float: left;
        list-style: none;
        &:after {
          content: "|";
          margin: 0 8px;
        }
        a {
          color: $white;
        }
      }
    }
    #gto-copyright {
      font-family: "MyriadPro-Semibold";
      font-size: $font-16;
      float: right;
      margin-top: 8px;
    }
  }
}

/* =============================================================================
 *   Video detailed Page
 * ========================================================================== */
.node-type-video {
  color: $grey;
  .title {
    background-color: $yellow-bg;
    border: 1px solid #8dc63f;
    color: $white;
    font: 48px $NeoSans-Bold, Arial, sans-serif;
    line-height: 65px;
    padding: 8px 50px 10px 50px;
    min-height: 130px;
  }
  .term-icon {
    position: absolute;
    height: 48px;
    width: 48px;
    padding: 3px 0 0 3px;
    &:before {
      @include pseudo-spriting("blue-corner-left");
      left: 0;
      top: 0;
    }
    img {
      max-width: 22px;
      position: relative;
    }
  }
  .pane-term-description {
    line-height: 22px;
    margin-bottom: 17px;
    padding-top: 6px;
  }
  #video-wrapper {
    @include box-shadow(-4px 3px 18px 0px rgba(0, 0, 0, 0.25));
    background-color: #fdfdfd;
    margin-bottom: 32px;
    padding: 10px 18px 10px 11px;
    overflow: hidden;
    .block {
      margin: 0;
    }
    .pane-videos {
      float: left;
      width: 33.2%;
      .nano {
        height: 363px;
        padding: 10px 0 8px;
      }
      .views-row {
        margin-bottom: 11px;
        overflow: hidden;
        &.views-row-last {
          margin: 0;
        }
        &.more-handy-home-tips {
          margin-top: 11px;
        }
        .views-field-field-video-video {
          display: none;
        }
        .views-field-field-image {
          float: left;
          position: relative;
          max-width: 41%;
          .field-content {
            a {
              display: block;
              width: 99.5%;
              max-width: 119px;
              padding-right: 19px;
              position: relative;
              &.active:before {
                @include pseudo-spriting("video-active-arrow");
                right: 0;
                top: 50%;
                margin-top: - spr-sprite-height("video-active-arrow") / 2;
              }
            }
            img {
              display: block;
              max-width: 100%;
            }
            &.video-thumb-placeholder {
              background: url(../images/more-handy-home-tips.jpg) 0 0 no-repeat;
              background-size: 100%;
              height: 87px;
              width: 120px;
              a {
                height: 100%;
                text-indent: -9999px;
              }
            }
            > .video-thumb-link {
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 1;
              background: url(../images/video-list-IE-fix.png) 50% 50% no-repeat;
              position: relative;
              &.active {
                padding-right: 19px;
                &:before {
                  @include pseudo-spriting("video-active-arrow");
                  right: 0;
                  top: 50%;
                  margin-top: - spr-sprite-height("video-active-arrow") / 2;
                }
              }
            }
            .content {
              position: inherit;
            }
          }
        }
        .views-field-field-video-new {
          color: $white;
          font-family: $NeoSans-Bold, Arial, sans-serif;
          font-size: 12px;
          padding: 2px 0 16px 5px;
          position: absolute;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
          width: 57px;
          &:before {
            @include pseudo-spriting("video-list-new");
            left: 0;
            top: 0;
          }
          .field-content {
            position: relative;
          }
        }
        .views-field-title {
          display: table;
          float: left;
          font-family: $NeoSans-Bold, Arial, sans-serif;
          text-align: center;
          width: 59%;
          .field-content {
            display: table-cell;
            height: 52px;
            padding: 9% 8% 9% 8%;
            vertical-align: middle;
          }
          a {
            color: $grey;
            &.active {
              color: $blue-bg;
              text-decoration: none;
            }
          }
        }
      }
      .views-row:hover {
        .views-field-field-image .field-content a:before {
          @include pseudo-spriting("video-active-arrow");
          right: 0;
          top: 50%;
          margin-top: - spr-sprite-height("video-active-arrow") / 2;
        }
        .views-field-title .field-content a {
          color: $blue-bg;
          text-decoration: none;
        }
      }
    }
    .pane-node-field-video-video,
    #default-coming-soon {
      float: right;
      margin: 8px 0 10px;
      width: 65.3%;
      iframe {
        display: block;
        max-height: 364px;
      }
    }
  }
  .pane-node-body {
    margin-bottom: 29px;
    p {
      margin: 0;
    }
    a {
      color: $blue-bg;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    blockquote {
      border: 1px solid $blue-bg;
      padding: 20px;
      margin: 0 0 1.5em 0;
      overflow: hidden;
      width: 68%;
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  #block-system-main .pane-ra-alters-ra-alters-social-links {
    float: left;
    margin-top: 0;
  }
  .view-display-id-video_contributors {
    clear: both;
    padding-top: 17px;
    h2 {
      color: $blue-bg;
      margin-bottom: 20px;
    }
    .views-row {
      overflow: hidden;
      .views-field-nothing {
        float: left;
        margin-bottom: 2.4%;
        margin-right: 3%;
        position: relative;
        max-width: 14%;
      }
      .views-field-field-image img {
        display: block;
      }
      .views-field-title {
        background-color: rgba(0, 0, 0, 0.4);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
          zoom: 1;
        color: $white;
        font-family: $NeoSans-Medium, Arial, sans-serif;
        line-height: 15px;
        position: absolute;
        bottom: 0;
        width: 96%;
        padding: 5px 2%;
        text-align: center;
        &:nth-child(n) {
          filter:none;
        }
      }
      .views-field-body,
      .views-field-body-1 {
        float: right;
        margin-top: 7px;
        width: 83%;
        a {
          color: $blue-bg;
          font-weight: bold;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
          &.full-bio,
          &.minimize {
            color: $grey;
            font-weight: bold;
            padding-right: 14px;
            text-decoration: none;
            position: relative;
            &:before {
              right: 0;
              top: 0;
            }
          }
          &.full-bio:before {
            @include pseudo-spriting("full-bio-arrows", 0, -21px);
            height: 16px;
          }
          &.minimize:before {
            @include pseudo-spriting("full-bio-arrows", 0, 2px);
            height: 16px;
          }
        }
      }
      .views-field-body-1,
      .views-field-body-2,
      .views-field-nothing-1 {
        display: none;
      }
    }
  }
}

/* =============================================================================
 *   Greatest Hits Page
 * ========================================================================== */
.page-greatest-hits {
  .pane-custom {
    color: $Abbey;
  }
  #gh-header {
    p {
      font-size: $font-15;
      padding-right: 40px;
    }
    .topic-icon {
      position: absolute;
      @include spr-sprite("blue-corner-left");
      height: 48px;
      width: 48px;
      padding: 3px 0 0 3px;
      img {
        max-width: 22px;
      }
    }
    #gh-title {
      background-color: $yellow-bg;
      border: 1px solid #8dc63f;
      color: $white;
      font: 48px $NeoSans-Bold, Arial, sans-serif;
      line-height: 65px;
      min-height: 130px;
      padding: 8px 50px 10px 50px;
    }
  }
  .view-articles {
    .views-row {
      float: none;
      margin: 0 0 17px;
      min-height: none;
      overflow: hidden;
      .view-row-left {
        color: white;
        float: left;
        margin-right: 30px;
        min-height: 203px;
        position: relative;
        &:hover .overlay {
          background: rgba($Pelorous, 0.79);
          // IE8 rgba simulation
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9)"; /* IE8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9);   /* IE6 & 7 */
        }
      }
      .view-row-right {
        .gh-article-title {
          margin-bottom: 10px;
          a {
            color: $blue-bg;
            font-size: $font-20;
            line-height: 0.75;
          }
        }
        .gh-article-body {
          color: $Abbey;
          font-size: $font-15;
          a {
            color: $blue-bg;
          }
        }
      }
      &:hover .overlay {
        background-color: rgba(0, 0, 0, 0.4);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
      }
    }
  }
  #gh-signup {
    border: 1px solid $blue-bg;
    color: $Abbey;
    max-width: 600px;
    padding: 20px;
    p {
      margin-bottom: 0;
    }
    a {
      color: $blue-bg;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  #block-system-main .pane-ra-alters-ra-alters-social-links {
    margin-top: 100px;
  }
}
