
// _base.scss imports _custom.scss and other partials.
@import "base";
@import "_global_vars.scss";

/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */

.print-layout {
  background-image: url("images/yellow_border.png");
  background-position: 0 65px;
  background-repeat: repeat-x;
  > div {
    max-width: 908px;
    margin: 0 auto;
  }
  // header
  .print-header {
    padding-top: 0.8em;
    #logo,
    #site-name,
    .pane-page-slogan {
      float: left;
      margin-bottom: 0;
    }
    .pane-page-slogan {
      line-height: 4;
    }
  }
  // breadcrumb
  .print-breadcrumb {
    color: $grey;
    margin-bottom: 0.6em;
    a, a:hover, a:focus {
      text-decoration: none;
    }
    a {
      width: 21px;
      display: inline-block;
      height: 23px;
      line-height: 22px;
      vertical-align: bottom;
      overflow: hidden;
    }
    a:before {
      position: relative;
      z-index: 90;
      display: block;
      content: "\f015";
      color: $Silver-Chalice;
      font-family: "FontAwesome";
      font-size: 22px;
    }
  }
  // hide panels for print version
  .related-articles,
  .pane-ra-alters-ra-alters-social-links,
  .pane-virtual-cookbook,
  .pane-menu-menu-recipe-menu,
  .pane-views-exp-recipes-recipes-page,
  .landing-breadcrumb,
  .region-two-50-first .pane-node-field-image-original,
  .similar-recipes,
  .pane-ra-alters-ra-alters-print-link,
  .callout-rx {
    display: none;
  }
  // article page
  &.node-type-article {
    .pane-node-field-article-body {
      float: none;
      width: auto;
    }
    .article-joints {
      .views-field-field-article-body {
        padding-right: 0;
        overflow: visible;
        .flexslider {
          max-height: none;
          .slides > li {
            border-bottom: 8px solid $Concrete;
            display: block;
            overflow: hidden;
            padding-right: 50px;
            &.last {
              border: none;
            }
            h2 {
              font-family: $NeoSans-Medium, Arial, sans-serif;
              font-size: 26px;
              font-weight: normal;
              display: block;
              margin: -10px 0 15px;
            }
            ul {
              margin-bottom: 0;
            }
            p {
              margin-top: 0;
            }
            img {
              margin-top: -10px;
            }
          }
        }
      }
      .views-field-nothing {
        display: none;
      }
    }
  }
  // recipe page
  &.node-type-recipe {
    .print-breadcrumb {
      display: none;
    }
    .print-content {
      margin-top: 56px;
    }
    .region-two-50-first {
      float: left;
    }
    .pane-node-field-recipe-ingredients,
    .pane-node-field-recipe-directions {
      .nano {
        height: auto;
        .content {
          position: relative;
        }
        .pane {
          display: none !important;
        }
      }
    }
    .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients {
      height: auto;
    }
  }
  // video page
  &.node-type-video {
    #video-wrapper {
      .pane-videos {
        display: none;
      }
      .pane-node-field-video-video,
      #default-coming-soon {
        float: none;
        margin: 0 auto;
      }
    }
    .view-display-id-video_contributors .views-row {
      .views-field-body {
        display: none;
      }
      .views-field-body-2 {
        display: block;
        float: right;
        margin-top: 7px;
        width: 83%;
        a {
          color: $blue-bg;
          font-weight: bold;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

