// _base.scss imports _custom.scss and other partials.
@import "base";
@import "_global_vars.scss";
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small devices */
html {
  font-size: 112.5% !important;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow: hidden;
  #page > div {
    padding: 0;
  }
}

#logo a {
  display: block;
  width: 220px;
  height: 29px;
  padding: .2em;
  background: url(../images/ra-logo-sprite-sm.svg) 0 3px no-repeat;
  &:hover {
    background-position: 0 -29px
  }
}

#logo img,
#site-name {
  display: none;
}

html.lt-ie9 {
  #logo a {
    display: block;
    width: 2.5em;
    height: auto;
    padding: .2em;
    background: none;
  }
  #site-name {
    display: block;
  }
  #logo img {
    display: block;
  }
}

.pane-page-logo {
  cursor: pointer;
}

.pane-page-logo .block-inner {
  float: left;
}

/* open menu "hamburger" icon */
#toggle-menu {
  width: 4em;
  margin-top: 10px;
}

#toggle-menu-wrapper {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 3em;
  height: 1.5em;
  float: left;
  display: block;
  input {
    display: none;
  }
  p {
    display: block;
  }
 }
#toggle-menu-wrapper label {
  text-indent: -9999px;
  overflow: hidden;
}
#toggle-menu-wrapper label:before {
  content: '\e609';
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-family: "iconsmore";
  display: block;
  cursor: pointer;
  width: 2em;
  background-color: #48abbe;
  text-indent: 0;
  text-align: center;
  color: white;
  border-radius: 2px;
  float: left;
  //margin-top: -10px;
  //content: "\2261";
  //display: block;
  //width: 95px;
  //height: 64px;
  //background-color: red;
}

div.pane-menu-menu-social-links {
  display: none;
}

/* when the mobile menu slides open, it displaces the rest of the page */
body #page {
  margin-left: 0;
  width: 100%;
  background-color: #fff;
}

body.menu-open #page {
  @include transform(translate3D(80%,0,0));
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
}

/* positi#on and color the mobile menu */
#header {
  padding: 14px;
  border-bottom: 3px solid $yellow-bg;
  @include box-shadow(0px 5px 6px 0px rgba(0, 0, 0, 0.2));
  overflow: hidden;
  .region-header {
    float: right;
    overflow: hidden;
  }
  .block {
    margin: 0;
  }
  .panel-separator {
    display: none;
  }
  #logo, #site-name {
    float: left;
    line-height: normal;
  }
  .pane-page-slogan {
    margin-left: 34px;
  }
}
#header #block-panels-mini-header-menus {
  position: static;
  margin: 0;
}

#header div.pane-menu-menu-header-links,
#header div.pane-menu-menu-topics-menu {
  position: absolute;
  z-index: 1;
  background-color: $blue-bg;
  width: 0px;
  overflow: hidden;
  left: -9999px;
  top:0;
}

#mobile-menu {
  display: none;
  position: relative;
  top: 0;
  left: -80%;
  width: 80%;
}

body.menu-open #mobile-menu {
  left: 0;
  display: block;
}

#header {
  .pane-menu-menu-topics-menu, .pane-menu-menu-header-links, .pane-views.pane-articles {
    display: none;
  }
}
#mobile-menu .pane-menu-menu-topics-menu {
  background-color: $blue-bg;
  margin-bottom: 0
}

#header div.pane-menu-menu-topics-menu {
  margin-top: $mobile-margin;
}

.block,
.front .hp-meet-experts,
.view-articles .views-row {
  margin-bottom: 1%;
  .views-row {
    margin-bottom: 0;
  }
}

/*Mobile search results page */
body.parameter-field-search-value {
  .pane-ra-alters-ra-alters-mobile-search {
    display: none;
  }
  .view-display-id-search_articles .view-empty {
    display: block !important;
    p {
      margin: 0;
    }
  }
  #header {
    padding-left: 0;
    padding-right: 0;
    .pane-views.pane-articles {
      display: block;
    }
    div.pane-menu-menu-topics-menu {
      margin-top: 0;
    }
    .pane-page-slogan {
      float: right;
      width: 207px;
      & + .panel-separator {
        display: block;
        clear: both;
      }
    }
    .blue-corner {
      .views-field-field-icon .field-content {
          float: right;
          max-width: 30%;
      }
      .views-field-name {
        font-size: 0.6em;
      }
    }
    #logo {
       margin-right: 15px;
       float: right;
    }
    div#mini-panel-header_menus div.pane-views.pane-articles .view-articles {
      .view-content {
        margin-left: 0;
      }
      .views-row.views-row {
        width: 47%;
        &.views-row-odd {
          margin-right: 5%;
        }
        &.views-row-even {
          margin-right: 0;
        }
      }
    }
    .region-header {
      float: none;
    }
  }
}

#header #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper .form-type-textfield.form-type-textfield.form-type-textfield.form-type-textfield {
  margin-top: 6px;
}

#header div.pane-menu-menu-header-links,
#mobile-menu div.pane-menu-menu-header-links {
  background-color: #949494;
}
#mobile-menu div.pane-menu-menu-header-links ul.menu li.last {
  display: none;
}

body.menu-open #header div.pane-menu-menu-header-links,
body.menu-open #header div.pane-menu-menu-topics-menu {
  width: 80%;
  left: 0;
}

body.menu-processed #header div.pane-menu-menu-header-links,
body.menu-processed #header div.pane-menu-menu-topics-menu,
body.menu-processed #header div#mini-panel-header_menus div.pane-views.pane-articles {
  left: -80%;
  transition: all 0;
}

body #header div.pane-menu-menu-header-links {
  margin-top: $mobile-menu-height;
}

body.parameter-field-search-value #header div.pane-menu-menu-header-links {
  margin-top: 283px;
}

div.pane-menu-menu-header-links ul.menu li:before,
div.pane-menu-menu-header-links ul.menu li *,
div.pane-menu-menu-topics-menu ul.menu li:before,
div.pane-menu-menu-topics-menu ul.menu li * {
  color: white;
}

div.pane-menu-menu-header-links ul.menu li,
div.pane-menu-menu-topics-menu ul.menu li {
  border-bottom: 1px solid white;
}

/* mobile menu icons */
#header div,
#mobile-menu div {
  &.pane-menu-menu-header-links ul.menu,
  &.pane-menu-menu-topics-menu ul.menu {
    li {
      &:before {
        font-size: 1.2em;
        margin-top: 6px;
        float: left;
        line-height: 1.5;
        padding: 0 0.2em;
        font-family: "icomoon";
        margin-left: 0.5em;
      }
      &.menu-item-1857.menu-item-1857 {display: block;}
      &.menu-item-1857:before {content: '\e023';}
      &.menu-item-1233:before {content: '\e001';} /*treatment, doctor discussions*/
      &.menu-item-1234:before {content: '\e00E';} /*joint care */
      &.menu-item-1235:before {content: '\e01A'; font-size: 1em;} /*diet & excercise */
      &.menu-item-1236:before {content: '\e001';} /* doctor discussions*/
      &.menu-item-1237:before {content: '\e023'} /*around the home*/
      &.menu-item-1238:before {content: '\e006'} /*relationship & support*/
      &.menu-item-1239:before {content: '\e002'} /*something extra*/
      a,
      a:hover {
        padding-top: 3px;
        font-family: $NeoSans-Medium;
        position: absolute;
        left: 4em;
        text-decoration: none;
        font-size: .8em;
      }
    }
  }
  &.pane-menu-menu-header-links ul.menu li {
    &.leaf a:before,
    &.leaf a:hover:before {
      color: #5a5a5a !important;
      display: block;
      position: absolute;
      left: -2.8em;
      width: 2em;
      font-size: 1.3em;
      top: -0.1em;
      text-align: center;
    }
    &.menu-item-2346:before {display:none;} /*meet the experts*/
    &.menu-item-1230:before {} /*ra 101*/
    &.menu-item-3739:before {top: 6px; left: 7px;} /*Sign up*/
  }
}

/* identical height for each item in the mobile menu */
#header ul.menu li,
#mobile-menu ul.menu li {
  height: 2.5em;
  line-height: 2.5;
}

div#mini-panel-header_menus div.pane-views.pane-articles {
  // display: block !important; /* we are competing with an inline style here, so !important is the only valid option */
  width: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  height: $mobile-margin;
  .view-header {
    display: none;
  }
  form {
    margin-top: 0 !important;
  }
}

/* Search form */
div#mini-panel-header_menus div.pane-views.pane-articles * {
  max-width: 100%;
  max-height: 100%;
}

.pane-ra-alters-ra-alters-mobile-search {
  margin-bottom: 1px;
}

div#mini-panel-header_menus div.pane-views.pane-articles .block-inner,
#mobile-menu .pane-ra-alters-ra-alters-mobile-search .block-inner {
  padding: 10px;
  background: $yellow-bg;
  border: 2px solid orange;
  border-radius: 0;
}

body.menu-open #header div.pane-articles {
  width: 80%;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles,
#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form {
  background-color: transparent;
  border: 1px solid #ccc;
}

#mobile-menu .pane-ra-alters-ra-alters-mobile-search #ra-alters-mobile-search-form {
  background-color: #fff;
  height: 38px;
  .form-type-textfield {
    margin: 0;
    padding: 0;
  }
  input.form-text {
    border: none;
    padding: 0;
    line-height: 36px;
    width: 100%;
    text-indent: 36px;
  }
  .form-type-textfield:before {
    font-family: 'MagnifyGlass';
    content: '\e600'; /* search */
    color: $grey-bg;
    position: absolute;
    font-size: 1.5em;
    padding: 1px 5px;
  }
  #edit-submit {
    display: none;
  }
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper:before {
  font-family: 'MagnifyGlass';
    content: '\e600'; /* search */
  color: $grey-bg;
  position: absolute;
  font-size: 1.5em;
  padding: 1px 5px;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper input[type="text"] {
  background-color: white;
  background-image: none;
  color: $SilverChalice;
  font-size: 1em;
  line-height: 1.8em;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-field-search-value-wrapper {
  width: 100%;
  background-image: none;
  background-color: white;
}

::-webkit-input-placeholder { color:$SilverChalice; }
::-moz-placeholder { color:$SilverChalice; } /* firefox 19+ */
:-ms-input-placeholder { color:$SilverChalice; } /* ie */
input:-moz-placeholder { color:$SilverChalice; }

/* hide the search toggel button */
#header ul.menu li.menu-item-1232,
div#mini-panel-header_menus div.pane-views.pane-articles .views-submit-button {
  display: none;
}

/* When returning a non-ajax search result */
body.parameter-field-search-value div#mini-panel-header_menus div.pane-views.pane-articles {
  width: 100%;
  position: static;
  height: auto;
  margin-top: 10px;
}

body.parameter-field-search-value {
  #header {
    padding-bottom: 0;
  }
  #header #logo {
    margin-left: 38%;
  }
  #header a#logo {
    margin: 0;
  }
}

div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row.views-row {
  width: 44%;
  margin-bottom: 0;
}

.breadcrumb {
  margin: 5%;
}

#block-system-main {
  margin-bottom: 1%;
  .pane-sign-up  {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
    div {
      height: 100%;
      .signup-block {
        min-height: 140px;
        padding-left: 35%;
        padding-bottom: 30px;
        background-position: -20px 100%;
        background-size: auto 70%;
        &.topic {
          background-position: 0 100% !important;
          background-image: url("../images/footer-signup.png");
        }
        .signup-title {
          font-size: $font-18;
          margin-top: 7px;
        }
        .signup-description {
          font-size: $font-14;
          line-height: normal;
          position: relative;
        }
      }
      &.signup-block div {
        height: auto;
        font-size: 90%;
      }
    }
    float: none;
    .home {
      width: auto;
      height: auto;
    }
  }
}

body.front {//home page styles
    .pane-1.home-page-blocks-wrap {
      height: auto;
      margin: 0;
      overflow: visible;
      .pane-custom.pane-2 {
        display: none;
      }
    }
    .pane-welcome, .pane-sign-up  {
      width: 100%;
      height: auto;
      margin-bottom: 1%;
      div {
        height: 100%;
        .signup-block {
          min-height: 180px;
          padding-left: 35%;
          padding-bottom: 40px;
        }
        &.signup-block div {
          height: auto;
          font-size: 90%;
        }
      }
      float: none;
      .home {
        width: auto;
        height: auto;
      }
    }
    .pane-welcome {
      width: 95%;
      margin: 3% auto;
    }
    .pane-inspirations img {
      margin: 0 auto;
    }
    .pane-inspirations, .hp-ra101 {
      float: none;
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 1%;
      overflow: hidden;
    }
    .hp-ra101 {
      float: left;
      width: 49%;
      margin-left: 1%;
      .block-inner, .block-content, .view-articles, .view-content, .views-row {
        height: 100%;
        float: none;
      }
      .views-row {
        min-height: 1%;
        img.image-style-article-mobile {
          display: block;
          max-width: none;
          width: 100%;
        }
      }
    }
    .pane-inspirations {
      overflow: visible;
    }
    .pane-inspirations div {
      height: 100%;
      z-index: 100;
      .view-content {
        background: $yellow-bg;
        .views-field-field-image {
          display: none;
        }
        .views-field-field-image-original {
          display: block;
        }
      }
      .view-footer {
        height: 28px;
        border-top: 1px solid white;
        .insp-share-all {
          position: absolute;
          top: 0;
          right: 34px;
        }
        .rate-widget {
          position: absolute;
          top: 0;
          right: 68px;
        }
      }
    }
    .featured-slider {
      float: none;
      width: auto;
      height: auto;
      ul.slides li {
        position: relative;
        img {
          width: 100%;
        }
      }
      .view-articles {
        height: auto;
      }
      .view-articles .flex-control-nav {
        margin-bottom: 15px;
      }
    }
    .hp-last-articles {
      float: none;
      margin-bottom: 0;
      .view-articles {
        .views-row {
          width: 49%;
          min-height: 1%;
          margin: 0 0 1% 1%;
          overflow: hidden;
        }
      }
    }
    .hp-meet-experts {
      float: none;
      width: auto;
      padding: 10px 0;
      a {
        font-size: 150%;
        line-height: normal;
      }
      a:before {
        display: inline-block;
      }
    }
    .poll-pledge-wrap {
      display: table;
      width: 100%;
      float: none;
      padding-bottom: 1%;
      overflow: hidden;
      .pane-polls {
        display: table-cell;
        height: 100%;
        padding: 0;
        width: 48.5%;
        .block-inner {
          padding: 3px 10px 10px;
          .pollfield-percent {
            display: none;
          }
          .poll-view-results {
            display: block;
          }
        }
        .pollfield-row .barcell,
        .pollfield-row .barcell .bar {
          width: 100%;
        }
      }
      .pane-pledges {
        display: table-cell;
        height: 100%;
        width: 48.5%;
      }
    }
    .pane-topic-articles {
      width: auto;
      float: none;
      margin-left: -1%;
      margin-bottom: 0;
      .views-row {
        margin-left: 1%;
        margin-bottom: 1%;
        width: 49%;
        overflow: hidden;
        img {
          width: 100%;
          max-width: none;
        }
        &.views-row-1 {
          overflow: visible;
          margin-top: 35px;
          .popular-label {
            display: block;
            top: -35px;
            font-size: $font-30;
          }
        }
        &.views-row-1, &.views-row-2, &.views-row-3 {
          width: 100%;
          margin-left: 0;
          .view-articles .overlay .views-field-title a {
            font-size: 2em;
          }
        }
        &.views-row-4 {
          margin-left: 1%;
        }
        .views-row {
          width: auto;
          float: none;
          margin: 0;
          min-height: 1%;
        }
        &.views-row-three-after {
          .popular-label {
            display: none;
          }
        }
        &.views-row-three-after .views-row {
          margin: 0;
          width: auto;
          .views-field-field-image img {
            position: relative;
            left: auto;
            margin: 0;
            max-width: none;
          }
        }
      }
    }
  }

body.node-type-inspiration {
  .pane-ra-prev-next-counter + .panel-separator {
    width: 100%;
    clear: both
  }
}


body.node-type-inspiration .view-topic-articles {
  width: auto;
  float: none;
  margin-left: -1%;
  margin-bottom: 0;
  .views-row {
    margin-left: 1%;
    margin-bottom: 1%;
    width: 49%;
    overflow: hidden;
    img {
      width: 100%;
      max-width: none;
    }
    &.views-row-1 {
      overflow: visible;
      margin-top: 35px;
      .popular-label {
        display: block;
        top: -35px;
        font-size: $font-30;
      }
    }
    &.views-row-1, &.views-row-2, &.views-row-3 {
      width: 100%;
      margin-left: 0
    }
    &.views-row-4 {
      margin-left: 1%;
    }
    .views-row {
      width: auto;
      float: none;
      margin: 0;
      min-height: 1%;
    }
    &.views-row-three-after {
      .popular-label {
        display: none;
      }
    }
    &.views-row-three-after .views-row {
      margin: 0;
      width: auto;
      .views-field-field-image img {
        position: relative;
        left: auto;
        margin: 0;
        max-width: none;
      }
    }
  }
}

.node-type-expert .pane-experts .nano,
.node-type-recipe .pane-node-field-recipe-ingredients .nano,
.node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients,
.node-type-recipe .pane-node-field-recipe-directions .nano {
  height: auto;
  .content {
    position: relative;
  }
  .view-display-id-expert_detailed {
    padding-right: 0;
  }
  .view-content {
    width: auto;
  }
}

//experts page
.page-meet-the-ra-experts .view-experts {
  width: auto;
  .views-row {
    background-color: $grey-placeholder;
    float: none;
    width: auto;
    height: auto;
    margin-right: 0;
    margin-bottom: 2.7%;
    &.views-row-0 {
      display: block;
      background-image: none;
      padding: 0px;
      height: auto;
      width: auto;
      font-size: 150%;
      text-transform: uppercase;
      .experts-placeholder {
        display: inline-block;
      }
      &:before {
        content: '\e00d'; /* meet the experts */
        font-family: "icomoon";
        display: inline-block;
        padding: 8px;
        text-align: center;
      }
    }
    .views-field-nothing {
      background-color: transparent;
      border-right: 7px solid #fff;
      margin-right: 30%;
      padding: 0;
      position: relative;
      width: auto;
    }
    .views-field-field-image {
      display: none;
    }
    .views-field-field-image-1 {
      display: block;
      position: relative;
      float: right;
      width: 30%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .expert-overlay {
      position: relative;
      background: $green-bg;
      background-image: none;
      width: auto;
      padding: 0;
      overflow: hidden;
      &:hover, &.notouch:hover, &.hover {
        background-image: none;
      }
      .views-field-title {
        text-align: left;
        background-color: $dgreen-bg;
        margin-top: 0;
        padding: 5px 10px;
        max-width: none;
      }
      .expert-collapsed {
        display: none;
      }
      .expert-expanded {
        display: block;
        padding: 0;
        .expert-full-bio {
          background-color: transparent;
          border-top: 1px solid white;
        }
      }
    }
  }
}
.node-type-expert {//expert detail page
  .landing-breadcrumb {
    padding: 5% 0;
  }
  #block-system-main .region-inner {
    @include display-box;
    @include box-orient(vertical);
    @include box-align(stretch);
    width: 98%;
    padding: 0 1%;
    .pane-experts {
      @include box-ordinal-group(2);
      float: none;
      width: auto;
      margin-bottom: 1%;
      .views-field-title {
        display: none;
      }
    }
    .pane-articles {
      @include box-ordinal-group(3);
    }
    .title-video-exp-wrapp {
      float: none;
    }
    .pane-node-title {
      position: relative;
      display: block;
      background-color: $green-bg;
      padding: 2% 5%;
      font: $expert-name;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
    .pane-node-field-expert-video {
      &.block, .block {
        margin-bottom: 0;
      }
      float: none;
      iframe {
        width: 100%;
      }
    }
    .pane-custom.pane-3 {
      display: none;
    }
    .view-display-id-expert_detailed {
      float: none;
      width: auto;
      height: auto;
    }
  }
  .pane-articles .view-articles {
    .view-content {
      width: auto;
    }
   .views-row {
      float: none;
      margin-bottom: 1%;
      margin-right: 0;
      min-height: auto;
      height: auto;
      width: 100%;
      .overlay .views-field-title a {
        font-size: 2em;
      }
      .views-field-field-image img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.page-diet-and-exercise-ra-friendly-recipes, .node-type-recipe {//recipes page
  #block-system-main {
    .pane-virtual-cookbook {
      padding: 10px 5% 10px 45px;
      font-size: 80%;
    }
    .pane-menu-menu-recipe-menu, .pane-views-exp-recipes-recipes-page {
      float: none;
      width: auto;
      margin-bottom: 0px;
    }
    .region-two-50-first .pane-node-field-image-original {
      display: block;
      text-align: center;
      img {
        display: inline-block;
        margin: 0 auto;
        max-width: 98.8%;
      }
    }
    .pane-menu-menu-recipe-menu ul.menu {
      margin-left: -.2%;
      & > li.menu-depth-1 {
        position: relative;
        width: 49.8%;
        margin: 0 0 0 .2%;
        & > a,
        & > span.nolink {
          font-size: 80%;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
        }
        ul {
          width: 98.8%;
          ul {
            width: 100%;
          }
        }
        &:nth-child(2) {
          z-index: 99;
        }
        &:nth-child(3) {
          z-index: 98;
        }
        &:nth-child(4) {
          z-index: 97;
        }
      }
    }
    .pane-views-exp-recipes-recipes-page {
      #edit-field-search-value-wrapper {
        float: none;
      }
      margin-left: 1px;
      position: relative;
      width: 99.3%;
      .form-type-textfield {
        width: auto;
        padding: 0 50px 0 16px;
      }
      .views-submit-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .view-recipes {
      width: 100%;
      .attachment {
        margin: 15px 0 20px 2%;
      }
      .view-content {
        margin-left: -.5%;
      }
      .views-row {
        width: 49%;
        height: auto;
        margin: 0 0 1% 1%;
        padding: 0;
        &.views-row-0 {
          img {
            display: block;
          }
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        .views-field-title {
          width: 100%;
          padding: 0;
          span {
            display: block;
            padding: 10px;
            line-height: 0.5;
            a {
              font-size: $font-10;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

.page-taxonomy-term {//topic page
  .topic-info, .panel-pane.pane-sign-up {
    width: 100%;
    float: none;
    margin-bottom: 8px;
    .topic {
      width: auto;
      min-height: 200px;
    }
  }
  .panel-pane.panel-pane.featured-article {
    width: 100%;
    max-height: none;
    margin: 0;
    float: none;
    .overlay .views-field-title a {
      font-size: 2em;
    }
    .block-inner .views-row {
      float: none;
      margin: 0 0 1%;
      .views-field-field-image img {
        max-width: none;
        width: 100%;
      }
    }
  }
  .pane-experts {
    width: 100%;
    max-height: none;
    float: none;
    .view-experts {
      width: auto;
    }
    .views-row, .views-field-field-image {
      width: 100%;
      float: none;
      img {
        width: 100%;
        max-height: none;
      }
    }
  }
  .pane-polls {
    width: auto;
    float: none;
    padding-bottom: 8px;
  }
  .topic-articles {
    width: auto;
    margin-left: -1%;
    padding-top: 0;
    .views-row {
      width: 49%;
      height: auto;
      margin-left: 1%;
      margin-bottom: 1%;
      margin-right: 0;
      min-height: 1%;
      img {
        width: 100%;
      }
    }
  }
  .reprinted-permission p {
    margin: 10px 0;
  }
}

body.topic-landing {//topic landing page
  .topic-info .view-display-id-topic_info {
    height: auto;
    .views-field-description {
      padding: 25px 17px;
    }
  }
  .pane-sign-up {
    display: none;
  }
  .pane-4.topic-meet-experts {
    display: block;
  }
  .pane-2.topic-meet-experts {
    display: none;
  }
  .topic-meet-experts {
    float: none;
    width: 100%;
    padding: 10px 0;
    clear: both;
    margin: 10px 0;
    a {
      font-size: 150%;
      line-height: normal;
      &:before {
        display: inline-block;
      }
    }
  }
  .pane-polls {
    height: auto;
    .pollfield-row {
      .text {
        width: 100%;
      }
      .barcell {
        width: 115%;
        .bar {
          width: 100%;
        }
      }
      .pollfield-percent {
        width: 14%;
        min-width: 1%;
      }
    }
  }
}

body.node-type-article {//joint article page
  .article-joints {
    padding: 10px;
    .views-field-field-article-teaser,
    .views-field-field-article-bottom-teaser,
    .views-field-field-article-body {
      font-size: 0.889em;
      margin: 0 -10px;
    }
    .views-field-field-article-teaser {
      margin: 0 0 10px;
    }

    .views-field-field-article-bottom-teaser {
      padding: 10px;
      margin: 0px;
    }
    .views-field-nothing {
      margin-left: -10px;
      margin-right: -10px;
      .slide-title {
        font-size: 1.651em;
      }
    }
    .views-field-field-article-body {
      padding: 0 50px;
    }
    .views-field-field-article-body .flexslider {
      max-height: none;
      font-size: $font-11;
      ul.slides img {
        display: block;
        border: none;
        float: none !important;
        margin: 0 auto;
      }
      ul.slides p {
        padding-left: 0;
      }
      li ul {
        margin-left: 0;
      }
      .flex-direction-nav li a.flex-prev {
        left: -40px;
      }
      .flex-bottom-nav {
        display: none;
      }
    }
  }
}

/* =============================================================================
 *   Article detailed Page
 * ========================================================================== */
.node-type-article {
  .view-display-id-article_detailed {
    width: auto;
    .views-row {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      float: none;
      width: 100%;
      min-height: 1%;
      .views-field {
        float: none;
      }
      .views-field-title {
        @include box-flex(5);
        border: none;
        width: auto;
        min-height: 1%;
        padding: 10px;
        font-size: 150%;
        @include box-ordinal-group(1);
        margin-right: 0;
        line-height: normal;
      }
      .views-field-field-expert {
        position: relative;
        min-width: 35%;
        width: auto;
        height: auto;
        @include box-flex(1);
        @include display-box;
        @include box-orient(horizontal);
        @include box-pack(center);
        @include box-align(center);
        background-color: $yellow-bg;
        @include box-ordinal-group(2);
        .field-content {
          line-height: 18px;
          text-align: left;
          width: 80%;
        }
      }
      .pane-node-field-image {
        border: none;
      }
      .views-field-field-icon, .views-field-field-image-3 {
        display: none;
      }
    }
  }
  .pane-node-field-article-body {
    width: auto;
    float: none;
    padding: 10px;
    h2 {
      line-height: 1;
      margin-bottom: 2%;
    }
    .callout-rx {
      overflow: hidden;
      &:before {
        @include pseudo-spriting("callout-rx-bg-mob");
        left: 0;
        top: 50%;
        margin-top: - spr-sprite-height("callout-rx-bg-mob") / 2;
      }
    }
  }
  .related-articles {
    float: none;
    .views-row {
      margin-bottom: 2%;
      width: 100%;
      &.views-row-last {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
  }

  .pager_wrapper {
    position: relative;
    width: 100%;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    overflow: hidden;
  }
  .info_text {
    @include display-box;
    @include box-flex(5);
    line-height: 48px;
    background-color: $Spicy-Mustard;
    color: white;
    padding: 0 10px;
  }

  .page_navigation {
    position: relative;
    display: block;
    float: right;
    a.page_link, span {
      display: none !important;
    }
    a.previous_link, a.next_link {
      margin: 0;
      padding: 0 40px;
      border: none;
      border-left: 1px solid $Spicy-Mustard;
      line-height: 48px;
      background-color: $Mandalay;
      color: white;
      text-transform: uppercase;
      &:after {
        content: "";
      }
    }
  }
}

// Article node page - Full width Article type
.node-type-article.full-width {
  .view-display-id-article_detailed .views-row .views-field-title {
    padding-right: 10px;
  }
  .pane-node-field-article-body {
    .bestapps {
      margin-right: 0;
      margin-left: 0;
      h2 {
        font-size: 22px;
        height: 118px;
        display: table-cell;
        vertical-align: middle;
      }
      p {
        clear: both;
        font-size: 15px;
      }
    }
    blockquote {
      margin-left: 0;
      width: auto;
    }
  }
}

/* =============================================================================
 *   Recipe detailed Page
 * ========================================================================== */
body.node-type-recipe {
  .two-50 .region-two-50-first, .two-50 .region-two-50-second {
    width: auto;
    float: none;
  }
  #block-system-main .pane-ra-alters-ra-alters-social-links {
    margin-top: -1%;
  }
  .similar-recipes {
    width: auto;
  }
  .region-two-50-second .pane-node-field-image-original {
    display: none;
  }
}

/* =============================================================================
 *   Sign Up Page
 * ========================================================================== */
body.node-type-webform {
  #page {
    > div.breadcrumb {
      padding: 0;
    }
  }
  .field-name-body .field-items {
    background: none;
    margin: 2%;
    font-size: 80%;
    line-height: normal;
    div, p {
      margin-bottom: 5%;
    }
    p strong {
      display: block;
      font-size: $font-21;
      margin-bottom: 10px;
      line-height: 1 !important;
      span {
        line-height: 15px !important;
      }
    }
  }
  .field-name-body p small {
    width: auto;
  }
  #webform-component-conditional-information--current-treatment {
    .sticky-header {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }
  }
  #webform-component-content-information {
    margin-bottom: 0 !important;
  }
  #webform-component-content-information #webform-component-content-information--year-of-birth label {
    position: relative;
    top: 2px;
    right: auto;
    margin-right: 20px;
    float: left;
    display: block;
    line-height: 30px;
    font-weight: normal;
    color: $Dove-Gray;
  }
  #webform-component-conditional-information--medicine-fieldset {
    .webform-component-textfield {
      width: auto;
    }
  }
  #webform-component-conditional-information  #webform-component-conditional-information--relationship {
    .form-item {
      display: block;
      overflow: hidden;
      padding: 0;
    }
    div.radio {
      float: left;
      margin-top: 0.5%;
      margin-right: 2.5%;
    }
  }
  #webform-component-conditional-information  #webform-component-conditional-information--receive-your-medication {
    .form-item {
      padding: 0;
       div.radio {
        margin-right: 2.5%;
      }
      label {
        width: 89%;
      }
    }
  }

  #webform-component-content-information .fieldset-wrapper {
    @include display-box;
    @include box-orient(vertical);
    position: relative;
    #webform-component-content-information--first-name {
      @include box-ordinal-group(1);
    }
    #webform-component-content-information--last-name {
      @include box-ordinal-group(2);
    }
    #webform-component-content-information--email {
      @include box-ordinal-group(3);
    }
    #webform-component-content-information--street-address-1 {
      @include box-ordinal-group(4);
    }
    #webform-component-content-information--street-address-2 {
      @include box-ordinal-group(5);
    }
    #webform-component-content-information--zip {
      @include box-ordinal-group(6);
    }
    #webform-component-content-information--mobile-phone {
      @include box-ordinal-group(7);
    }
    #webform-component-content-information--year-of-birth {
      @include box-ordinal-group(8);
      margin-bottom: 0;
    }
  }
  .webform-client-form,
  #webform-component-conditional-information,
  #webform-component-content-information legend {
    font-size: 80%;
  }
  .fieldset-wrapper {
    padding: 0;
    .form-radios, .description {
      margin-left: 0px;
    }
    #webform-component-content-information--first-name,
    #webform-component-content-information--last-name,
    #webform-component-content-information--year-of-birth {
      float: none;
      width: auto;
      #uniform-edit-submitted-content-information-year-of-birth {
        float: none;
      }
      .description {
        color: $Dove-Gray;
        font-style: italic;
        clear: both;
        text-align: right;
        padding-top: 20px;
      }
    }
    #webform-component-content-information--street-address-1,
    #webform-component-content-information--street-address-2,
    #webform-component-content-information--zip,
    #webform-component-content-information--email,
    #webform-component-content-information--mobile-phone {
      float: none;
      width: auto;
    }
  }
}

body.uuid-857cdf43-f8b0-4b5c-8760-1c93440f5f31 {//unsubscribe form
  .node-content {
    margin: 0;
    #webform-component-email {
      input {
        width: 98%;
      }
    }
  }
}

.view-display-id-related_articles {
  width: auto;
  float: none;
  //margin-left: -1%;
  .views-row {
    float: left;
    width: 49%;
    margin-left: 1%;
    margin-right: 0;
    img {
      width: 100%;
    }
  }
}

body.node-type-inspiration .pane-node-field-image-original {
  min-width: 1%;
  width: 68.5%;
}
body.node-type-inspiration .pane-ra-prev-next-next .block-content {
  // text-align: right;
}
body.node-type-inspiration .pane-ra-prev-next-next, body.node-type-inspiration .pane-ra-prev-next-prev {
  margin-top: 0;
  .block-content {
    height: 160px;
    position: relative;
    line-height: 160px;
    a {
      position: absolute;
      line-height: 160px;
    }
  }
  span {
    position: absolute !important;
    text-align: left;
  }
}
body.node-type-inspiration .pane-ra-prev-next-next .block-content:after, body.node-type-inspiration .pane-ra-prev-next-prev .block-content:after {
  top: 0;
}
body.node-type-inspiration .pane-ra-prev-next-next .block-content a, body.node-type-inspiration .pane-ra-prev-next-next .block-content span, body.node-type-inspiration .pane-ra-prev-next-prev .block-content a, body.node-type-inspiration .pane-ra-prev-next-prev .block-content span {
  height: auto;
}
#block-system-main .pane-ra-alters-ra-alters-social-links {
  margin: 0 0 10px;
}

a.print {
  display: none !important;
}

#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links ul li a {
  width: 2.5em;
}

#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu {
  background: none;
  &:before {
    background: none;
    line-height: 38px;
    content: "\e002";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: $font-21;
    font-family: 'icomoon_genetech-logo';
    width: 100px;
  }
}

#views-exposed-form-articles-search-articles .form-item input.error {
  border: none !important;
}

.view-articles .views-field-value {
  display: none;
}

body {//act vs. rtx page
    &.node-type-page.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020,
    &.node-type-page.uuid-02aee8da-a9be-4e68-a344-a448903c273b,
    &.node-type-page.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 {
    .green-block,
    .blue-block {
      width: 100%;
      float: none;
      padding: 8% 0;
      background-size: 100%;
      ul {
        padding: 70% 15% 0;
      }
      a.learn-more {
        position: relative;
        left: auto;
      }
    }
  }
}

body.node-type-webform #edit-actions {
  padding: 0 60px 36px;
}

.view-recipes .views-row {//Recipe Tiles
  .overlay .overlay-dark .views-field-value {
    display: none;
  }
}

.view-articles .views-row {//Article Tiles
  .overlay .views-field-title a {
    .node-type-article & {
      font-size: 2em;
    }
  }
}

body.page-latest-content #page > div,
body.page-latest-content .view-articles {
  padding: 0;
}
body.page-latest-content .pane-custom.pane-1 {
  margin: 3% auto;
  width: 95%;
  padding: 0;
  & > div {
    padding: 10px 14px;
  }
}
body.page-latest-content .view-articles .views-row .view-row-left {
  float: none;
  margin: 0;
}
body.page-latest-content .view-row-right {
  .latest-article-title {
    display: none;
  }
  .latest-article-body {
    padding: 20px;
    background-color: $Mercury;
  }
}
body.page-latest-content .view-articles .views-row .views-field-field-image img {
  width: 100%;
  height: auto;
}

/* =============================================================================
 *   Video detailed Page
 * ========================================================================== */
.node-type-video {
  .breadcrumb {
    font-size: 93%;
  }
  #block-system-main {
    .term-icon {
      display: none;
    }
    .title {
      border: none;
      font-size: 25px;
      line-height: 30px;
      min-height: inherit;
      padding: 15px 20px;
    }
    #video-page-descr {
      font-size: 15px;
      padding: 5% 4% 0 4%;
    }
    #video-wrapper {
      height: 392px;
      .pane-node-field-video-video,
      #default-coming-soon {
        display: none;
      }
      .pane-videos {
        float: none;
        width: 100%;
        .views-row {
          position: relative;
          max-height: 87px;
          .views-field-field-image {
            display: none;
          }
          .views-field-field-video-video {
            display: block;
            float: left;
            position: relative;
            width: 41%;
            .content {
              position: inherit;
            }
            .field-content {
              a {
                display: block;
                width: 99.5%;
                max-width: 119px;
                &.active {
                  padding-right: 19px;
                  &:before {
                    @include pseudo-spriting("video-active-arrow");
                    right: 0;
                    top: 50%;
                    margin-top: - spr-sprite-height("video-active-arrow") / 2;
                  }
                }
              }
              > .video-thumb-link {
                position: absolute;
                height: 100%;
                width: 100%;
                background: url(../images/video-list-IE-fix.png) 50% 50% no-repeat;
                &.active {
                  padding-right: 19px;
                  &:before {
                    @include pseudo-spriting("video-active-arrow");
                    right: 0;
                    top: 50%;
                    margin-top: - spr-sprite-height("video-active-arrow") / 2;
                  }
                }
              }
            }
            iframe {
              display: block;
              max-height: 87px;
              max-width: 119px;
              position: relative;
            }
            img {
              display: block;
              width: 100%;
            }
          }
          .views-field-title {
            font-size: 15px;
            line-height: 20px;
            .field-content {
              padding-left: 12%;
              padding-right: 12%;
            }
          }
          .video-play-button {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            &:before {
              @include pseudo-spriting("video-play-button");
              left: 50%;
              top: 50%;
              margin-left: - spr-sprite-width("video-play-button") / 2;
              margin-top: - spr-sprite-height("video-play-button") / 2;
            }
          }
        }
      }
    }
    .pane-node-body {
      font-size: 15px;
      padding: 0 4%;
      blockquote {
        width: auto;
      }
    }
    .pane-ra-alters-ra-alters-social-links {
      float: none;
    }
    .view-display-id-video_contributors {
      h2 {
        font: 18px $NeoSans-Medium, Arial, sans-serif;
        margin-left: 3%;
      }
      .views-row {
        margin-bottom: 4%;
        .views-field-nothing {
          max-width: 30%;
          margin-bottom: 0;
          margin-right: 5%;
          .views-field-title {
            font-size: 74%;
          }
          img {
            max-width: 100%;
          }
        }
        .views-field-body {
          display: none;
        }
        .views-field-body-2 {
          display: block;
          float: right;
          font-size: 15px;
          max-height: 66px;
          margin-top: 7px;
          overflow: hidden;
          padding-right: 3%;
          width: 62%;
          p {
            margin: 0;
          }
          a {
            color: $blue-bg;
            font-weight: bold;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .views-field-nothing-1 {
          display: block;
          margin-left: 35%;
          .full-bio-mobile,
          .minimize-mobile {
            background: url(../images/full-bio-arrows.png) 100% -21px no-repeat;
            color: $grey;
            font-size: 15px;
            font-weight: bold;
            padding-right: 14px;
            text-decoration: none;
          }
          .minimize-mobile {
            background-position: 100% 5px;
            display: none;
          }
        }
      }
    }
  }
}
