@import "_global_vars.scss";
@import "compass/css3";
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */


 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li {
   // height: 4.4em;
   height: 62px;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li:hover:before,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.active:before,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.active-trail:before,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li *.active,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li *:hover {
   cursor: pointer;
   text-decoration: none;
   color: $blue-bg
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active {
   background-color: $yellow-bg;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active:before,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active * {
   color: gray;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active:hover:before,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li.menu-item-1232.active:hover * {
   color: $blue-bg;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li * {
   text-decoration: none;
   display: block;
   font-size: $font-11;
   position: relative;
   color: $Abbey;
 }

 div.pane-menu-menu-header-links ul.menu li a:before,
 div.pane-menu-menu-header-links ul.menu li span:before {
   display: block;
   color: gray;
   font-size: $font-28;
   text-align: center;
   margin-top: 4px;
 }

 body {
   background-image: url('images/yellow_border.png');
   background-repeat: repeat-x;
   background-position: 0 70px;
 }

   /* =============================================================================
  *   Menus
  * ========================================================================== */

 div#mini-panel-header_menus div.panel-pane {
   float: left;
   margin-bottom: 0;
 }

 /* 'Expanding Your RA World' */
 div#mini-panel-header_menus div.pane-page-slogan {
   line-height: 4;
   min-width: 14em;
   width: 15%;
   margin-bottom: 0;
 }

 /* facebook, twitter, youtube */
 div#mini-panel-header_menus div.pane-menu-menu-social-links {
   height: 3em;
   width: 17%;
   margin: 0%;
 }

 /* meet the experts, ra101, signup, search */
 .block-content ul.menu {
   padding: 0;
   margin-bottom: 0.7em;
 }
 .view-experts .views-row.views-row-0 {
   img {
      display: none
   }
 }

 div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu {
   padding: 0;
   margin: .4em;
   height: 2em;
 }

 div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li {
  padding: 0 .5em;
  position: relative;
 }

 div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a {
   z-index: 10;
   overflow: hidden;
   text-indent: -9999px;
   display: block;
   width: 2.1em;
   height: 2.5em;
   position: relative;
   text-decoration: none;
 }

 div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:after {
   display: block;
   font-size: $font-28;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   color: $Manatee;
   text-align: center;
 }

 div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:hover:after {
   color: #48abbe;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links {
   float: right;
   margin-right: 3%;
   width: 34%;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu,
 div#mini-panel-header_menus div.pane-menu-menu-header-links div.block-inner {
   margin: 0;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li {
   // min-width: 5em;
   width: 25%;
   text-align: center;
 }

 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li a {
   //font-size: .8em;
   white-space: nowrap;
 }

 div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li,
 div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li {
   float: left;
   display: block;
 }

 div#mini-panel-header_menus div.pane-menu-menu-topics-menu {
   width: 100%;
   float: none;
   clear: both;
 }


 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu {
   padding: 0;
   margin: 0;
   overflow: hidden;
 }

 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu:hover {
   background-color: transparent;
 }

 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li {
   display: block;
   float: left;
   width: 14.2%;
   background-color: #48abbe;
   -webkit-transition: background-color 0.5s;
   -moz-transition: background-color 0.5s;
   -o-transition: background-color 0.5s;
   transition: background-color 0.5s;
   text-align: center;
   height: 3em;
   border-right: 1px solid white;
   font-size: $font-13;
 }

 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li.last {
   border-right: none;
 }

 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li.active-trail,
 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li:hover,
 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li a.active-trail {
   background-color: $yellow-bg;
 }

 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li a,
 div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li a:hover {
   display: table-cell;
   color: white;
   line-height: 1;
   text-decoration: none;
   font-family: $NeoSans-Bold, sans-serif;
   text-align: center;
   vertical-align: middle;
   width: 161px; /* yes, pixels, not ems. */
   height: 42px;
 }

 div.pane-menu-menu-topics-menu div.block-inner {
   margin-right: 0;
   margin-left: 0;
 }

 #toggle-menu-wrapper {
   display: none;
 }

 body.menu-processed #header div.pane-menu-menu-header-links,
 body.menu-processed #header div.pane-menu-menu-topics-menu {
   // left: -9999px;
 }

 /* Search */
 div#mini-panel-header_menus div.pane-views.pane-articles {
   width: 100%;
 }

body.node-type-recipe {
  .region-two-50-first .pane-node-field-image-original {
    display: none;
  }
  .region-two-50-second .pane-node-field-image-original {
    display: block;
  }
}
